In [3]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment
import re
import json
import time

In [4]:
url = """https://www.pro-football-reference.com/play-index/tgl_finder.%0A
        cgi?request=1&match=game&year_min=2019&year_max=2019&game_type=E%0A
        &game_num_min=0&game_num_max=99&week_num_min=0&week_num_max=99&%0A
        temperature_gtlt=lt&c1stat=vegas_line&c1comp=gte&c2stat=pass_yds&c%0A
        2comp=gte&c3stat=points_opp&c3comp=gte&c4stat=rush_yds&c4comp=gte&c%0A
        5stat=yds_per_play_offense&c5comp=gt&c5val=1.0&order_by=game_date&offset={}"""



odds2 = []                                                                                                                                                                                                                                                                                                                                                                                                                                
for i in range(0,300,100):
    url = """https://www.pro-football-reference.com/play-index/tgl_finder.cgi?request=1&match=game&year_min=2019&year_max=2019&game_type=E&game_num_min=0&game_num_max=99&week_num_min=0&week_num_max=99&temperature_gtlt=lt&c1stat=vegas_line&c1comp=gte&c2stat=pass_yds&c2comp=gte&c3stat=points_opp&c3comp=gte&c4stat=rush_yds&c4comp=gte&c5stat=yds_per_play_offense&c5comp=gt&c5val=1.0&order_by=game_date&offset={}"""
    odds2.append(pd.read_html(url.format(i))[0])

In [5]:
df = pd.concat(odds2)

In [6]:
df.head(15)

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk                 Tm               Year
0                   1                SFO               2019
1                   2                GNB               2019
2                   3                TEN               2019
3                   4                HOU               2019
4                   5                SEA               2019
5                   6                MIN               2019
6                   7                TEN               2019
7                   8                MIN               2019
8                   9                SEA               2019
9                  10                BUF               2019
10                 11                TEN               2019
11                 12                ATL               2019
12                 13                BUF               2019
13                 14                CAR               2019
14                 15                CIN               2019

   Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                 Date               Time              LTime
0          2020-02-02               6:30               6:30
1          2020-01-19               6:40               3:40
2          2020-01-19               3:05               2:05
3          2020-01-12               3:05               2:05
4          2020-01-12               6:40               5:40
5          2020-01-11               4:35               1:35
6          2020-01-11               8:15               8:15
7          2020-01-05               1:05              12:05
8          2020-01-05               4:40               4:40
9          2020-01-04               4:35               3:35
10         2020-01-04               8:15               8:15
11         2019-12-29               1:00               1:00
12         2019-12-29               1:00               1:00
13         2019-12-29               1:00               1:00
14         2019-12-29               1:00               1:00

   Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
   Unnamed: 6_level_1                Opp               Week
0                   N                KAN                 21
1                   @                SFO                 20
2                   @                KAN                 20
3                   @                KAN                 19
4                   @                GNB                 19
5                   @                SFO                 19
6                   @                BAL                 19
7                   @                NOR                 18
8                   @                PHI                 18
9                   @                HOU                 18
10                  @                NWE                 18
11                  @                TAM                 17
12                NaN                NYJ                 17
13                NaN                NOR                 17
14                NaN                CLE                 17

   Unnamed: 9_level_0  ... Rushing    Tot Yds & TO                           \
                   G#  ...     Y/A TD          Tot Ply     Y/P DPly    DY/P
0                  20  ...    6.41  1          351  54  6.5000   75  5.2933
1                  19  ...    3.88  1          358  58  6.1724   51  6.9412
2                  20  ...    3.70  1          295  58  5.0862   64  6.3125
3                  19  ...    4.48  1          442  78  5.6667   57  7.6140
4                  19  ...    4.58  2          375  60  6.2500   59  5.8305
5                  19  ...    2.10  0          147  45  3.2667   68  4.5294
6                  19  ...    5.86  1          300  53  5.6604   92  5.7609
7                  18  ...    3.40  2          362  74  4.8919   54  6.0000
8                  18  ...    2.46  1          382  57  6.7018   61  4.6230
9                  18  ...    5.73  0          425  81  5.2469   65  5.5385
10                 18  ...    5.03  1          272  57  4.7719   59  5.2034
11                 16  ...    2.90  0          373  87  4.2874   46  7.1522
12                 16  ...    3.65  0          309  61  5.0656   65  4.1692
13                 16  ...    2.28  1          329  69  4.7681   67  5.6567
14                 16  ...    4.59  3          361  68  5.3088   53  5.9057


     TO    ToP  Time
0     2  26:47  3:29
1     3  31:13  3:03
2   NaN  30:10  3:04
3     1  34:35  3:25
4   NaN  30:31  3:09
5     2  21:33  2:49
6   NaN  27:54  3:13
7     1  36:56  3:18
8   NaN  26:45  2:57
9     1  35:15  3:38
10    1  31:09  2:57
11    1  36:22  3:13
12    3  28:39  3:01
13    3  24:20  3:06
14    1  34:41  3:00

[15 rows x 42 columns]

In [7]:
df[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')].unique()

array(['N', '@', nan], dtype=object)

In [8]:
df[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')] = df[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')].fillna(value='Home')

In [9]:
df[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')] = df[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')].replace(to_replace=['N', '@'], value=['Neutral', 'Away'])

In [10]:
df.columns = df.columns.to_flat_index()

In [11]:
df.reset_index()

,index,"(Unnamed: 0_level_0, Rk)","(Unnamed: 1_level_0, Tm)","(Unnamed: 2_level_0, Year)","(Unnamed: 3_level_0, Date)","(Unnamed: 4_level_0, Time)","(Unnamed: 5_level_0, LTime)","(Unnamed: 6_level_0, Unnamed: 6_level_1)","(Unnamed: 7_level_0, Opp)","(Unnamed: 8_level_0, Week)",...,"(Rushing, Y/A)","(Rushing, TD)","(Tot Yds & TO, Tot)","(Tot Yds & TO, Ply)","(Tot Yds & TO, Y/P)","(Tot Yds & TO, DPly)","(Tot Yds & TO, DY/P)","(Tot Yds & TO, TO)","(Tot Yds & TO, ToP)","(Tot Yds & TO, Time)"
0,0,1,SFO,2019,2020-02-02,6:30,6:30,Neutral,KAN,21,...,6.41,1,351,54,6.5000,75,5.2933,2,26:47,3:29
1,1,2,GNB,2019,2020-01-19,6:40,3:40,Away,SFO,20,...,3.88,1,358,58,6.1724,51,6.9412,3,31:13,3:03
2,2,3,TEN,2019,2020-01-19,3:05,2:05,Away,KAN,20,...,3.70,1,295,58,5.0862,64,6.3125,NaN,30:10,3:04
3,3,4,HOU,2019,2020-01-12,3:05,2:05,Away,KAN,19,...,4.48,1,442,78,5.6667,57,7.6140,1,34:35,3:25
4,4,5,SEA,2019,2020-01-12,6:40,5:40,Away,GNB,19,...,4.58,2,375,60,6.2500,59,5.8305,NaN,30:31,3:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,65,263,TEN,2019,2019-09-08,1:00,1:00,Away,CLE,1,...,4.39,1,339,56,6.0536,63,5.4921,NaN,29:18,3:12
274,66,264,PIT,2019,2019-09-08,8:20,8:20,Away,NWE,1,...,2.46,0,308,61,5.0492,67,6.9403,1,27:27,3:00
275,67,265,SFO,2019,2019-09-08,4:25,4:25,Away,TAM,1,...,3.06,0,256,60,4.2667,65,4.5385,2,30:04,3:06
276,68,266,WAS,2019,2019-09-08,1:00,1:00,Away,PHI,1,...,2.15,0,398,58,6.8621,71,6.1408,NaN,25:33,3:13
277,69,267,GNB,2019,2019-09-05,8:20,7:20,Away,CHI,1,...,2.14,0,213,57,3.7368,65,3.9077,NaN,31:03,3:07

In [12]:
df.drop(df[df[('Unnamed: 1_level_0', 'Tm')] == 'Tm'].index, inplace=True)

In [13]:
df = df.rename(columns={('Unnamed: 0_level_0', 'Rk'):'rk', 
                                    ('Unnamed: 1_level_0', 'Tm'): 'team1',
('Unnamed: 2_level_0', 'Year'): 'year',
('Unnamed: 3_level_0', 'Date'): 'date',
('Unnamed: 4_level_0', 'Time'): 'time',
('Unnamed: 5_level_0', 'LTime'): 'local_time', 
('Unnamed: 6_level_0', 'Unnamed: 6_level_1'): 'home_away',
('Unnamed: 7_level_0', 'Opp'): 'team2',
('Unnamed: 8_level_0', 'Week'): 'Week',
('Unnamed: 9_level_0', 'G#'): 'Game_Number',
('Unnamed: 10_level_0', 'Day'): 'day',
('Unnamed: 11_level_0', 'Result'): 'win1?',
('Unnamed: 12_level_0', 'OT'): 'OT',
('Points', 'PF'): 'points_1',
('Points', 'PA'): 'points_2',
('Points', 'PD'): 'point_differential',
('Points', 'PC'): 'combined_points',
('Vegas', 'Spread'): 'spread',
('Vegas', 'vs. Line'): 'team1_covered_spread?',
('Vegas', 'Over/Under'): 'over_under',
('Vegas', 'OU Result'): 'over_under_result?',
('Passing', 'Cmp'): 'pass_completions1',
('Passing', 'Att'): 'pass_attempts1',
('Passing', 'Cmp%'): 'completion_percentage1',
('Passing', 'Yds'): 'passing_yards1',
('Passing', 'TD'): 'passing_touchdowns1',
('Passing', 'Int'): 'interceptions1',
('Passing', 'Sk'): 'times_sacked1',
('Passing', 'Yds.1'): 'sack_yards_lost1',
('Passing', 'Rate'): 'qbr1',
('Rushing', 'Att'): 'rushing_attempts1',
('Rushing', 'Yds'): 'rushing_yards1',
('Rushing', 'Y/A'): 'rushing_yards_per_attempt1',
('Rushing', 'TD'): 'rushing_touchdowns1',
('Tot Yds & TO', 'Tot'): 'total_yards1',
('Tot Yds & TO', 'Ply'): 'offensive_plays1',
('Tot Yds & TO', 'Y/P'): 'yards_per_play_offense1',
('Tot Yds & TO', 'DPly'): 'defensive_plays1',
('Tot Yds & TO', 'DY/P'): 'yards_allowed_per_defensive_play1',
('Tot Yds & TO', 'TO'): 'turnovers_lost1',
('Tot Yds & TO', 'ToP'): 'time_of_possession1',
('Tot Yds & TO', 'Time'): 'game_duration'})

In [16]:
df.to_csv('1_df.csv')

In [17]:
odds3 = []                                                                                                                                                                                                                                                                                                                                                                                                                                        
for i in range(0,300,100):
    url2 ="""https://www.pro-football-reference.com/play-index/tgl_finder.cgi?request=1&match=game&year_min=2019&year_max=2019&game_type=E&game_num_min=0&game_num_max=99&week_num_min=0&week_num_max=99&temperature_gtlt=lt&c1stat=vegas_line&c1comp=gte&c2stat=over_under&c2comp=gte&c3stat=pass_yds_opp&c3comp=gte&c4stat=rush_yds_opp&c4comp=gte&c5stat=tot_yds_opp&c5comp=gt&c5val=1.0&order_by=game_date&offset={}"""
    odds3.append(pd.read_html(url2.format(i))[0])

In [18]:
df1 = pd.concat(odds3)

In [19]:
df1.drop(df1[df1[('Unnamed: 1_level_0', 'Tm')] == 'Tm'].index, inplace=True)

In [20]:
df1.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                  Rk                 Tm               Year               Date
0                  1                SFO               2019         2020-02-02
1                  2                GNB               2019         2020-01-19
2                  3                TEN               2019         2020-01-19
3                  4                HOU               2019         2020-01-12
4                  5                SEA               2019         2020-01-12

  Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0 Unnamed: 7_level_0  \
                Time              LTime Unnamed: 6_level_1                Opp
0               6:30               6:30                  N                KAN
1               6:40               3:40                  @                SFO
2               3:05               2:05                  @                KAN
3               3:05               2:05                  @                KAN
4               6:40               5:40                  @                GNB

  Unnamed: 8_level_0 Unnamed: 9_level_0  ... Passing                 Rushing  \
                Week                 G#  ...     Int Sk Yds.1   Rate     Att
0                 21                 20  ...       2  4    18   76.3      29
1                 20                 19  ...       0  1     8  100.5      42
2                 20                 20  ...       0  2     2  120.2      27
3                 19                 19  ...       0  1     5  134.0      21
4                 19                 19  ...       0  2     8  112.4      30

                Opp Tot Yds & TO
   Yds   Y/A TD              Tot   TO
0  129  4.45  2              397    2
1  285  6.79  4              354  NaN
2  112  4.15  2              404  NaN
3  118  5.62  2              434    1
4  109  3.63  2              344  NaN

[5 rows x 32 columns]

In [21]:
df1.shape

(267, 32)

In [22]:
df1.columns

MultiIndex([( 'Unnamed: 0_level_0',                 'Rk'),
            ( 'Unnamed: 1_level_0',                 'Tm'),
            ( 'Unnamed: 2_level_0',               'Year'),
            ( 'Unnamed: 3_level_0',               'Date'),
            ( 'Unnamed: 4_level_0',               'Time'),
            ( 'Unnamed: 5_level_0',              'LTime'),
            ( 'Unnamed: 6_level_0', 'Unnamed: 6_level_1'),
            ( 'Unnamed: 7_level_0',                'Opp'),
            ( 'Unnamed: 8_level_0',               'Week'),
            ( 'Unnamed: 9_level_0',                 'G#'),
            ('Unnamed: 10_level_0',                'Day'),
            ('Unnamed: 11_level_0',             'Result'),
            ('Unnamed: 12_level_0',                 'OT'),
            (              'Vegas',             'Spread'),
            (              'Vegas',           'vs. Line'),
            (              'Vegas',         'Over/Under'),
            (              'Vegas',          'OU Result'),
            (            'Passing',                'Cmp'),
            (            'Passing',                'Att'),
            (            'Passing',               'Cmp%'),
            (            'Passing',                'Yds'),
            (            'Passing',                 'TD'),
            (            'Passing',                'Int'),
            (            'Passing',                 'Sk'),
            (            'Passing',              'Yds.1'),
            (            'Passing',               'Rate'),
            (            'Rushing',                'Att'),
            (            'Rushing',                'Yds'),
            (            'Rushing',                'Y/A'),
            (            'Rushing',                 'TD'),
            (   'Opp Tot Yds & TO',                'Tot'),
            (   'Opp Tot Yds & TO',                 'TO')],
           )

In [23]:
df1[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')] = df1[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')].fillna(value='Home')

In [24]:
df1[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')] = df1[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')].replace(to_replace=['N', '@'], value=['Neutral', 'Away'])

In [26]:
df1.columns = df1.columns.to_flat_index()

In [27]:
df1.reset_index()

,index,"(Unnamed: 0_level_0, Rk)","(Unnamed: 1_level_0, Tm)","(Unnamed: 2_level_0, Year)","(Unnamed: 3_level_0, Date)","(Unnamed: 4_level_0, Time)","(Unnamed: 5_level_0, LTime)","(Unnamed: 6_level_0, Unnamed: 6_level_1)","(Unnamed: 7_level_0, Opp)","(Unnamed: 8_level_0, Week)",...,"(Passing, Int)","(Passing, Sk)","(Passing, Yds.1)","(Passing, Rate)","(Rushing, Att)","(Rushing, Yds)","(Rushing, Y/A)","(Rushing, TD)","(Opp Tot Yds & TO, Tot)","(Opp Tot Yds & TO, TO)"
0,0,1,SFO,2019,2020-02-02,6:30,6:30,Neutral,KAN,21,...,2,4,18,76.3,29,129,4.45,2,397,2
1,1,2,GNB,2019,2020-01-19,6:40,3:40,Away,SFO,20,...,0,1,8,100.5,42,285,6.79,4,354,NaN
2,2,3,TEN,2019,2020-01-19,3:05,2:05,Away,KAN,20,...,0,2,2,120.2,27,112,4.15,2,404,NaN
3,3,4,HOU,2019,2020-01-12,3:05,2:05,Away,KAN,19,...,0,1,5,134.0,21,118,5.62,2,434,1
4,4,5,SEA,2019,2020-01-12,6:40,5:40,Away,GNB,19,...,0,2,8,112.4,30,109,3.63,2,344,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,65,263,TEN,2019,2019-09-08,1:00,1:00,Away,CLE,1,...,3,5,41,59.5,20,102,5.10,1,346,3
263,66,264,PIT,2019,2019-09-08,8:20,8:20,Away,NWE,1,...,0,1,7,126.6,29,99,3.41,0,465,NaN
264,67,265,SFO,2019,2019-09-08,4:25,4:25,Away,TAM,1,...,3,3,20,43.1,26,121,4.65,0,295,4
265,68,266,WAS,2019,2019-09-08,1:00,1:00,Away,PHI,1,...,0,1,0,121.0,31,123,3.97,1,436,NaN
266,69,267,GNB,2019,2019-09-05,8:20,7:20,Away,CHI,1,...,1,5,20,60.2,15,46,3.07,0,254,1

In [28]:
df.iloc[0]

rk                                             1
team1                                        SFO
year                                        2019
date                                  2020-02-02
time                                        6:30
local_time                                  6:30
home_away                                Neutral
team2                                        KAN
Week                                          21
Game_Number                                   20
day                                          Sun
win1?                                    L 20-31
OT                                           NaN
points_1                                      20
points_2                                      31
point_differential                           -11
combined_points                               51
spread                                       1.5
team1_covered_spread?                not covered
over_under                                  52.5
over_under_result?                         under
pass_completions1                             20
pass_attempts1                                31
completion_percentage1                      64.5
passing_yards1                               210
passing_touchdowns1                            1
interceptions1                                 2
times_sacked1                                  1
sack_yards_lost1                               9
qbr1                                        67.9
rushing_attempts1                             22
rushing_yards1                               141
rushing_yards_per_attempt1                  6.41
rushing_touchdowns1                            1
total_yards1                                 351
offensive_plays1                              54
yards_per_play_offense1                   6.5000
defensive_plays1                              75
yards_allowed_per_defensive_play1         5.2933
turnovers_lost1                                2
time_of_possession1                        26:47
game_duration                               3:29
Name: 0, dtype: object

In [29]:
df1.iloc[1]

(Unnamed: 0_level_0, Rk)                              2
(Unnamed: 1_level_0, Tm)                            GNB
(Unnamed: 2_level_0, Year)                         2019
(Unnamed: 3_level_0, Date)                   2020-01-19
(Unnamed: 4_level_0, Time)                         6:40
(Unnamed: 5_level_0, LTime)                        3:40
(Unnamed: 6_level_0, Unnamed: 6_level_1)           Away
(Unnamed: 7_level_0, Opp)                           SFO
(Unnamed: 8_level_0, Week)                           20
(Unnamed: 9_level_0, G#)                             19
(Unnamed: 10_level_0, Day)                          Sun
(Unnamed: 11_level_0, Result)                   L 20-37
(Unnamed: 12_level_0, OT)                           NaN
(Vegas, Spread)                                     8.0
(Vegas, vs. Line)                           not covered
(Vegas, Over/Under)                                46.5
(Vegas, OU Result)                                 over
(Passing, Cmp)                                        6
(Passing, Att)                                        8
(Passing, Cmp%)                                    75.0
(Passing, Yds)                                       69
(Passing, TD)                                         0
(Passing, Int)                                        0
(Passing, Sk)                                         1
(Passing, Yds.1)                                      8
(Passing, Rate)                                   100.5
(Rushing, Att)                                       42
(Rushing, Yds)                                      285
(Rushing, Y/A)                                     6.79
(Rushing, TD)                                         4
(Opp Tot Yds & TO, Tot)                             354
(Opp Tot Yds & TO, TO)                              NaN
Name: 1, dtype: object

In [30]:
df1 = df1.rename(columns={('Unnamed: 0_level_0', 'Rk'):'rk', 
('Unnamed: 1_level_0', 'Tm'): 'team1',
('Unnamed: 2_level_0', 'Year'): 'year',
('Unnamed: 3_level_0', 'Date'): 'date',
('Unnamed: 4_level_0', 'Time'): 'time',
('Unnamed: 5_level_0', 'LTime'): 'local_time', 
('Unnamed: 6_level_0', 'Unnamed: 6_level_1'): 'home_away',
('Unnamed: 7_level_0', 'Opp'): 'team2',
('Unnamed: 8_level_0', 'Week'): 'Week',
('Unnamed: 9_level_0', 'G#'): 'Game_Number',
('Unnamed: 10_level_0', 'Day'): 'day',
('Unnamed: 11_level_0', 'Result'): 'win1?',
('Unnamed: 12_level_0', 'OT'): 'OT',
('Vegas', 'Spread'): 'spread',
('Vegas', 'vs. Line'): 'team1_covered_spread?',
('Vegas', 'Over/Under'): 'over_under',
('Vegas', 'OU Result'): 'over_under_result?',
('Passing', 'Cmp'): 'pass_completions2',
('Passing', 'Att'): 'pass_attempts2',
('Passing', 'Cmp%'): 'completion_percentage2',
('Passing', 'Yds'): 'passing_yards2',
('Passing', 'TD'): 'passing_touchdowns2',
('Passing', 'Int'): 'interceptions2',
('Passing', 'Sk'): 'times_sacked2',
('Passing', 'Yds.1'): 'sack_yards_lost2',
('Passing', 'Rate'): 'qbr2',
('Rushing', 'Att'): 'rushing_attempts2',
('Rushing', 'Yds'): 'rushing_yards2',
('Rushing', 'Y/A'): 'rushing_yards_per_attempt2',
('Rushing', 'TD'): 'rushing_touchdowns2',
('Opp Tot Yds & TO', 'Tot'):'total_yards2',
('Opp Tot Yds & TO', 'TO'):'turnovers2'})

In [31]:
df1.columns

Index(['rk', 'team1', 'year', 'date', 'time', 'local_time', 'home_away',
       'team2', 'Week', 'Game_Number', 'day', 'win1?', 'OT', 'spread',
       'team1_covered_spread?', 'over_under', 'over_under_result?',
       'pass_completions2', 'pass_attempts2', 'completion_percentage2',
       'passing_yards2', 'passing_touchdowns2', 'interceptions2',
       'times_sacked2', 'sack_yards_lost2', 'qbr2', 'rushing_attempts2',
       'rushing_yards2', 'rushing_yards_per_attempt2', 'rushing_touchdowns2',
       'total_yards2', 'turnovers2'],
      dtype='object')

In [32]:
df1.to_csv('2_df.csv')

In [33]:
df2 = pd.read_csv('penalty_stats.csv')

In [34]:
df2.head()

,Unnamed: 0,team1,year,date,time,local_time,home_away,team2,Week,Game_Number,day,win1?,OT,penalty_yards1,penalty_yards2
0,0,SFO,2019,2020-02-02,6:30,6:30,N,KAN,21,20,Sun,L 20-31,NaN,45,24
1,1,GNB,2019,2020-01-19,6:40,3:40,@,SFO,20,19,Sun,L 20-37,NaN,46,10
2,2,TEN,2019,2020-01-19,3:05,2:05,@,KAN,20,20,Sun,L 24-35,NaN,85,61
3,3,HOU,2019,2020-01-12,3:05,2:05,@,KAN,19,19,Sun,L 31-51,NaN,87,37
4,4,SEA,2019,2020-01-12,6:40,5:40,@,GNB,19,19,Sun,L 23-28,NaN,47,30

In [35]:
odds3 = []                                                                                                                                                                                                                                                                                                                                                                                                                                
for i in range(0,300,100):
    url = """https://www.pro-football-reference.com/play-index/tgl_finder.cgi?request=1&match=game&year_min=2019&year_max=2019&game_type=E&game_num_min=0&game_num_max=99&week_num_min=0&week_num_max=99&temperature_gtlt=lt&c1stat=vegas_line&c1comp=gte&c2stat=over_under&c2comp=gte&c3stat=fgm&c3comp=gte&c4stat=fgm_opp&c4comp=gte&c5stat=tot_yds_opp&c5comp=gt&c5val=1.0&order_by=game_date&offset={}"""
    odds3.append(pd.read_html(url.format(i))[0])

In [36]:
df3 = pd.concat(odds3)
df3.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                  Rk                 Tm               Year               Date
0                  1                SFO               2019         2020-02-02
1                  2                GNB               2019         2020-01-19
2                  3                TEN               2019         2020-01-19
3                  4                HOU               2019         2020-01-12
4                  5                SEA               2019         2020-01-12

  Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0 Unnamed: 7_level_0  \
                Time              LTime Unnamed: 6_level_1                Opp
0               6:30               6:30                  N                KAN
1               6:40               3:40                  @                SFO
2               3:05               2:05                  @                KAN
3               3:05               2:05                  @                KAN
4               6:40               5:40                  @                GNB

  Unnamed: 8_level_0 Unnamed: 9_level_0  ... Scoring      Opp. Scoring      \
                Week                 G#  ...     2PM Sfty           TD XPA
0                 21                 20  ...     NaN  NaN            4   4
1                 20                 19  ...     NaN  NaN            4   4
2                 20                 20  ...     NaN  NaN            5   5
3                 19                 19  ...     NaN  NaN            7   7
4                 19                 19  ...     NaN  NaN            4   4

                  Opp Tot Yds & TO
  XPM Att Md Sfty              Tot   TO
0   4   1  1    0              397    2
1   4   3  3    0              354  NaN
2   5   0  0    0              404  NaN
3   6   1  1    0              434    1
4   4   0  0    0              344  NaN

[5 rows x 33 columns]

In [37]:
df3.shape

(278, 33)

In [38]:
df3[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')] = df3[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')].fillna(value='Home')

In [39]:
df3[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')] = df3[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')].replace(to_replace=['N', '@'], value=['Neutral', 'Away'])

In [40]:
df3.columns = df3.columns.to_flat_index()

In [41]:
df3.reset_index()

,index,"(Unnamed: 0_level_0, Rk)","(Unnamed: 1_level_0, Tm)","(Unnamed: 2_level_0, Year)","(Unnamed: 3_level_0, Date)","(Unnamed: 4_level_0, Time)","(Unnamed: 5_level_0, LTime)","(Unnamed: 6_level_0, Unnamed: 6_level_1)","(Unnamed: 7_level_0, Opp)","(Unnamed: 8_level_0, Week)",...,"(Scoring, 2PM)","(Scoring, Sfty)","(Opp. Scoring, TD)","(Opp. Scoring, XPA)","(Opp. Scoring, XPM)","(Opp. Scoring, Att)","(Opp. Scoring, Md)","(Opp. Scoring, Sfty)","(Opp Tot Yds & TO, Tot)","(Opp Tot Yds & TO, TO)"
0,0,1,SFO,2019,2020-02-02,6:30,6:30,Neutral,KAN,21,...,NaN,NaN,4,4,4,1,1,0,397,2
1,1,2,GNB,2019,2020-01-19,6:40,3:40,Away,SFO,20,...,NaN,NaN,4,4,4,3,3,0,354,NaN
2,2,3,TEN,2019,2020-01-19,3:05,2:05,Away,KAN,20,...,NaN,NaN,5,5,5,0,0,0,404,NaN
3,3,4,HOU,2019,2020-01-12,3:05,2:05,Away,KAN,19,...,NaN,NaN,7,7,6,1,1,0,434,1
4,4,5,SEA,2019,2020-01-12,6:40,5:40,Away,GNB,19,...,NaN,NaN,4,4,4,0,0,0,344,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,65,263,TEN,2019,2019-09-08,1:00,1:00,Away,CLE,1,...,NaN,1,2,2,1,0,0,0,346,3
274,66,264,PIT,2019,2019-09-08,8:20,8:20,Away,NWE,1,...,NaN,NaN,3,3,3,4,4,0,465,NaN
275,67,265,SFO,2019,2019-09-08,4:25,4:25,Away,TAM,1,...,1,NaN,2,2,2,1,1,0,295,4
276,68,266,WAS,2019,2019-09-08,1:00,1:00,Away,PHI,1,...,NaN,NaN,4,3,3,1,1,0,436,NaN
277,69,267,GNB,2019,2019-09-05,8:20,7:20,Away,CHI,1,...,NaN,NaN,0,0,0,1,1,0,254,1

In [42]:
df3.columns

Index([                ('Unnamed: 0_level_0', 'Rk'),
                       ('Unnamed: 1_level_0', 'Tm'),
                     ('Unnamed: 2_level_0', 'Year'),
                     ('Unnamed: 3_level_0', 'Date'),
                     ('Unnamed: 4_level_0', 'Time'),
                    ('Unnamed: 5_level_0', 'LTime'),
       ('Unnamed: 6_level_0', 'Unnamed: 6_level_1'),
                      ('Unnamed: 7_level_0', 'Opp'),
                     ('Unnamed: 8_level_0', 'Week'),
                       ('Unnamed: 9_level_0', 'G#'),
                     ('Unnamed: 10_level_0', 'Day'),
                  ('Unnamed: 11_level_0', 'Result'),
                      ('Unnamed: 12_level_0', 'OT'),
                                ('Vegas', 'Spread'),
                              ('Vegas', 'vs. Line'),
                            ('Vegas', 'Over/Under'),
                             ('Vegas', 'OU Result'),
                                  ('Scoring', 'TD'),
                                 ('Scoring', 'XPA'),
                                 ('Scoring', 'XPM'),
                                 ('Scoring', 'FGA'),
                                 ('Scoring', 'FGM'),
                                 ('Scoring', '2PA'),
                                 ('Scoring', '2PM'),
                                ('Scoring', 'Sfty'),
                             ('Opp. Scoring', 'TD'),
                            ('Opp. Scoring', 'XPA'),
                            ('Opp. Scoring', 'XPM'),
                            ('Opp. Scoring', 'Att'),
                             ('Opp. Scoring', 'Md'),
                           ('Opp. Scoring', 'Sfty'),
                        ('Opp Tot Yds & TO', 'Tot'),
                         ('Opp Tot Yds & TO', 'TO')],
      dtype='object')

In [43]:
df3.drop(df3[df3[('Unnamed: 1_level_0', 'Tm')] == 'Tm'].index, inplace=True)

In [45]:
df3.columns

Index([                ('Unnamed: 0_level_0', 'Rk'),
                       ('Unnamed: 1_level_0', 'Tm'),
                     ('Unnamed: 2_level_0', 'Year'),
                     ('Unnamed: 3_level_0', 'Date'),
                     ('Unnamed: 4_level_0', 'Time'),
                    ('Unnamed: 5_level_0', 'LTime'),
       ('Unnamed: 6_level_0', 'Unnamed: 6_level_1'),
                      ('Unnamed: 7_level_0', 'Opp'),
                     ('Unnamed: 8_level_0', 'Week'),
                       ('Unnamed: 9_level_0', 'G#'),
                     ('Unnamed: 10_level_0', 'Day'),
                  ('Unnamed: 11_level_0', 'Result'),
                      ('Unnamed: 12_level_0', 'OT'),
                                ('Vegas', 'Spread'),
                              ('Vegas', 'vs. Line'),
                            ('Vegas', 'Over/Under'),
                             ('Vegas', 'OU Result'),
                                  ('Scoring', 'TD'),
                                 ('Scoring', 'XPA'),
                                 ('Scoring', 'XPM'),
                                 ('Scoring', 'FGA'),
                                 ('Scoring', 'FGM'),
                                 ('Scoring', '2PA'),
                                 ('Scoring', '2PM'),
                                ('Scoring', 'Sfty'),
                             ('Opp. Scoring', 'TD'),
                            ('Opp. Scoring', 'XPA'),
                            ('Opp. Scoring', 'XPM'),
                            ('Opp. Scoring', 'Att'),
                             ('Opp. Scoring', 'Md'),
                           ('Opp. Scoring', 'Sfty'),
                        ('Opp Tot Yds & TO', 'Tot'),
                         ('Opp Tot Yds & TO', 'TO')],
      dtype='object')

In [46]:
df3 = df3.rename(columns={('Unnamed: 0_level_0', 'Rk'):'rk', 
('Unnamed: 1_level_0', 'Tm'): 'team1',
('Unnamed: 2_level_0', 'Year'): 'year',
('Unnamed: 3_level_0', 'Date'): 'date',
('Unnamed: 4_level_0', 'Time'): 'time',
('Unnamed: 5_level_0', 'LTime'): 'local_time', 
('Unnamed: 6_level_0', 'Unnamed: 6_level_1'): 'home_away',
('Unnamed: 7_level_0', 'Opp'): 'team2',
('Unnamed: 8_level_0', 'Week'): 'Week',
('Unnamed: 9_level_0', 'G#'): 'Game_Number',
('Unnamed: 10_level_0', 'Day'): 'day',
('Unnamed: 11_level_0', 'Result'): 'win1?',
('Unnamed: 12_level_0', 'OT'): 'OT',
('Vegas', 'Spread'): 'spread',
('Vegas', 'vs. Line'): 'team1_covered_spread?',
('Vegas', 'Over/Under'): 'over_under',
('Vegas', 'OU Result'): 'over_under_result?',
('Scoring', 'TD'):'Total_TD1',
('Scoring', 'XPA'): 'XPA_1',
('Scoring', 'XPM'): 'XPM_1',
('Scoring', 'FGA'): 'FGA1',
('Scoring', 'FGM'): 'FGM1',
('Scoring', '2PA'): '2PA1',
('Scoring', '2PM'): '2PM2',
('Scoring', 'Sfty'): 'Sfty1',
('Opp. Scoring', 'TD'): 'Total_TD2',
('Opp. Scoring', 'XPA'): 'XPA2',
('Opp. Scoring', 'XPM'): 'XPM2',
('Opp. Scoring', 'Att'): 'FGA2',
('Opp. Scoring', 'Md'): 'FGM2',
('Opp. Scoring', 'Sfty'): 'Sfty2'})

In [48]:
df3.columns

Index([                       'rk',                     'team1',
                            'year',                      'date',
                            'time',                'local_time',
                       'home_away',                     'team2',
                            'Week',               'Game_Number',
                             'day',                     'win1?',
                              'OT',                    'spread',
           'team1_covered_spread?',                'over_under',
              'over_under_result?',                 'Total_TD1',
                           'XPA_1',                     'XPM_1',
                            'FGA1',                      'FGM1',
                            '2PA1',                      '2PM2',
                           'Sfty1',                 'Total_TD2',
                            'XPA2',                      'XPM2',
                            'FGA2',                      'FGM2',
                           'Sfty2', ('Opp Tot Yds & TO', 'Tot'),
        ('Opp Tot Yds & TO', 'TO')],
      dtype='object')

In [49]:
df4 = df3[['team1','year','date','time','local_time', 
'home_away','team2','Week','Game_Number',
'day','win1?','OT','Total_TD1','XPA_1','XPM_1','FGA1', 'FGM1', '2PA1', '2PM2',
'Sfty1', 'Total_TD2', 'XPA2', 'XPM2', 'FGA2', 'FGM2', 'Sfty2']]

In [50]:
df4.head()

,team1,year,date,time,local_time,home_away,team2,Week,Game_Number,day,...,FGM1,2PA1,2PM2,Sfty1,Total_TD2,XPA2,XPM2,FGA2,FGM2,Sfty2
0,SFO,2019,2020-02-02,6:30,6:30,Neutral,KAN,21,20,Sun,...,2,0,NaN,NaN,4,4,4,1,1,0
1,GNB,2019,2020-01-19,6:40,3:40,Away,SFO,20,19,Sun,...,NaN,1,NaN,NaN,4,4,4,3,3,0
2,TEN,2019,2020-01-19,3:05,2:05,Away,KAN,20,20,Sun,...,1,0,NaN,NaN,5,5,5,0,0,0
3,HOU,2019,2020-01-12,3:05,2:05,Away,KAN,19,19,Sun,...,1,0,NaN,NaN,7,7,6,1,1,0
4,SEA,2019,2020-01-12,6:40,5:40,Away,GNB,19,19,Sun,...,1,1,NaN,NaN,4,4,4,0,0,0

In [51]:
df4.to_csv('st_df.csv')

In [55]:
df = df.drop(columns=['rk', 'year', 'local_time', 'day', 'game_duration'])

In [56]:
df.columns

Index(['team1', 'date', 'time', 'home_away', 'team2', 'Week', 'Game_Number',
       'win1?', 'OT', 'points_1', 'points_2', 'point_differential',
       'combined_points', 'spread', 'team1_covered_spread?', 'over_under',
       'over_under_result?', 'pass_completions1', 'pass_attempts1',
       'completion_percentage1', 'passing_yards1', 'passing_touchdowns1',
       'interceptions1', 'times_sacked1', 'sack_yards_lost1', 'qbr1',
       'rushing_attempts1', 'rushing_yards1', 'rushing_yards_per_attempt1',
       'rushing_touchdowns1', 'total_yards1', 'offensive_plays1',
       'yards_per_play_offense1', 'defensive_plays1',
       'yards_allowed_per_defensive_play1', 'turnovers_lost1',
       'time_of_possession1'],
      dtype='object')

In [58]:
df1 = df1.drop(columns=['rk', 'year', 'local_time','home_away', 'day','win1?', 'OT',
                        'spread', 'team1_covered_spread?', 'over_under'])

Index(['team1', 'date', 'time', 'team2', 'Week', 'Game_Number',
       'over_under_result?', 'pass_completions2', 'pass_attempts2',
       'completion_percentage2', 'passing_yards2', 'passing_touchdowns2',
       'interceptions2', 'times_sacked2', 'sack_yards_lost2', 'qbr2',
       'rushing_attempts2', 'rushing_yards2', 'rushing_yards_per_attempt2',
       'rushing_touchdowns2', 'total_yards2', 'turnovers2'],
      dtype='object')

In [60]:
merge1 = df.merge(df1, on=['team1', 'team2', 'Game_Number'], how='left')

In [61]:
merge1.columns

Index(['team1', 'date_x', 'time_x', 'home_away', 'team2', 'Week_x',
       'Game_Number', 'win1?', 'OT', 'points_1', 'points_2',
       'point_differential', 'combined_points', 'spread',
       'team1_covered_spread?', 'over_under', 'over_under_result?_x',
       'pass_completions1', 'pass_attempts1', 'completion_percentage1',
       'passing_yards1', 'passing_touchdowns1', 'interceptions1',
       'times_sacked1', 'sack_yards_lost1', 'qbr1', 'rushing_attempts1',
       'rushing_yards1', 'rushing_yards_per_attempt1', 'rushing_touchdowns1',
       'total_yards1', 'offensive_plays1', 'yards_per_play_offense1',
       'defensive_plays1', 'yards_allowed_per_defensive_play1',
       'turnovers_lost1', 'time_of_possession1', 'date_y', 'time_y', 'Week_y',
       'over_under_result?_y', 'pass_completions2', 'pass_attempts2',
       'completion_percentage2', 'passing_yards2', 'passing_touchdowns2',
       'interceptions2', 'times_sacked2', 'sack_yards_lost2', 'qbr2',
       'rushing_attempts2', 'rushing_yards2', 'rushing_yards_per_attempt2',
       'rushing_touchdowns2', 'total_yards2', 'turnovers2'],
      dtype='object')

In [62]:
merge1 = merge1.drop(columns=['date_y', 'time_y', 'Week_y','over_under_result?_y'])

In [63]:
merge1 = merge1.rename(columns={'date_x':'date', 'time_x':'time', 'Week_x':'week',
                               'over_under_result_x':'over_under_result'})

In [65]:
df2 = df2.drop(columns=['team1', 'team2', 'Week', 'Game_Number',
                        'penalty_yards1', 'penalty_yards2'])

In [67]:
df2 = pd.read_csv('penalty_stats.csv')

In [71]:
new.columns

Index(['team1', 'team2', 'Week', 'Game_Number', 'penalty_yards1',
       'penalty_yards2'],
      dtype='object')

In [69]:
new = df2[['team1', 'team2', 'Week', 'Game_Number',
            'penalty_yards1', 'penalty_yards2']]

In [72]:
merge1.columns

Index(['team1', 'date', 'time', 'home_away', 'team2', 'week', 'Game_Number',
       'win1?', 'OT', 'points_1', 'points_2', 'point_differential',
       'combined_points', 'spread', 'team1_covered_spread?', 'over_under',
       'over_under_result?_x', 'pass_completions1', 'pass_attempts1',
       'completion_percentage1', 'passing_yards1', 'passing_touchdowns1',
       'interceptions1', 'times_sacked1', 'sack_yards_lost1', 'qbr1',
       'rushing_attempts1', 'rushing_yards1', 'rushing_yards_per_attempt1',
       'rushing_touchdowns1', 'total_yards1', 'offensive_plays1',
       'yards_per_play_offense1', 'defensive_plays1',
       'yards_allowed_per_defensive_play1', 'turnovers_lost1',
       'time_of_possession1', 'pass_completions2', 'pass_attempts2',
       'completion_percentage2', 'passing_yards2', 'passing_touchdowns2',
       'interceptions2', 'times_sacked2', 'sack_yards_lost2', 'qbr2',
       'rushing_attempts2', 'rushing_yards2', 'rushing_yards_per_attempt2',
       'rushing_touchdowns2', 'total_yards2', 'turnovers2'],
      dtype='object')

In [73]:
new = new.rename(columns={'Week':'week'})

In [77]:
merge1['week'] = merge1['week'].apply(lambda x: int(x))
merge1['Game_Number'] = merge1['Game_Number'].apply(lambda x: int(x))

In [75]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 6 columns):
team1             267 non-null object
team2             267 non-null object
week              267 non-null int64
Game_Number       267 non-null int64
penalty_yards1    267 non-null int64
penalty_yards2    267 non-null int64
dtypes: int64(4), object(2)
memory usage: 12.6+ KB

In [78]:
merge2 = merge1.merge(new, on=['team1', 'team2', 'week', 'Game_Number'], how='left')

In [79]:
merge2.columns

Index(['team1', 'date', 'time', 'home_away', 'team2', 'week', 'Game_Number',
       'win1?', 'OT', 'points_1', 'points_2', 'point_differential',
       'combined_points', 'spread', 'team1_covered_spread?', 'over_under',
       'over_under_result?_x', 'pass_completions1', 'pass_attempts1',
       'completion_percentage1', 'passing_yards1', 'passing_touchdowns1',
       'interceptions1', 'times_sacked1', 'sack_yards_lost1', 'qbr1',
       'rushing_attempts1', 'rushing_yards1', 'rushing_yards_per_attempt1',
       'rushing_touchdowns1', 'total_yards1', 'offensive_plays1',
       'yards_per_play_offense1', 'defensive_plays1',
       'yards_allowed_per_defensive_play1', 'turnovers_lost1',
       'time_of_possession1', 'pass_completions2', 'pass_attempts2',
       'completion_percentage2', 'passing_yards2', 'passing_touchdowns2',
       'interceptions2', 'times_sacked2', 'sack_yards_lost2', 'qbr2',
       'rushing_attempts2', 'rushing_yards2', 'rushing_yards_per_attempt2',
       'rushing_touchdowns2', 'total_yards2', 'turnovers2', 'penalty_yards1',
       'penalty_yards2'],
      dtype='object')

In [80]:
df4.columns

Index(['team1', 'year', 'date', 'time', 'local_time', 'home_away', 'team2',
       'Week', 'Game_Number', 'day', 'win1?', 'OT', 'Total_TD1', 'XPA_1',
       'XPM_1', 'FGA1', 'FGM1', '2PA1', '2PM2', 'Sfty1', 'Total_TD2', 'XPA2',
       'XPM2', 'FGA2', 'FGM2', 'Sfty2'],
      dtype='object')

In [81]:
new1 = df4[['team1','team2', 'Week', 'Game_Number', 'Total_TD1', 'XPA_1',
       'XPM_1', 'FGA1', 'FGM1', '2PA1', '2PM2', 'Sfty1', 'Total_TD2', 'XPA2',
       'XPM2', 'FGA2', 'FGM2', 'Sfty2']]

In [84]:
new1 = new1.rename(columns={'Week':'week'})

In [85]:
new1['week'] = new1['week'].apply(lambda x: int(x))
new1['Game_Number'] = new1['Game_Number'].apply(lambda x: int(x))
new1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 69
Data columns (total 18 columns):
team1          267 non-null object
team2          267 non-null object
week           267 non-null int64
Game_Number    267 non-null int64
Total_TD1      267 non-null object
XPA_1          226 non-null object
XPM_1          219 non-null object
FGA1           233 non-null object
FGM1           215 non-null object
2PA1           267 non-null object
2PM2           27 non-null object
Sfty1          8 non-null object
Total_TD2      267 non-null object
XPA2           267 non-null object
XPM2           267 non-null object
FGA2           267 non-null object
FGM2           267 non-null object
Sfty2          267 non-null object
dtypes: int64(2), object(16)
memory usage: 39.6+ KB

In [86]:
merge3 = merge2.merge(new1, on=['team1', 'team2', 'week', 'Game_Number'], how='left')

In [87]:
merge3.columns

Index(['team1', 'date', 'time', 'home_away', 'team2', 'week', 'Game_Number',
       'win1?', 'OT', 'points_1', 'points_2', 'point_differential',
       'combined_points', 'spread', 'team1_covered_spread?', 'over_under',
       'over_under_result?_x', 'pass_completions1', 'pass_attempts1',
       'completion_percentage1', 'passing_yards1', 'passing_touchdowns1',
       'interceptions1', 'times_sacked1', 'sack_yards_lost1', 'qbr1',
       'rushing_attempts1', 'rushing_yards1', 'rushing_yards_per_attempt1',
       'rushing_touchdowns1', 'total_yards1', 'offensive_plays1',
       'yards_per_play_offense1', 'defensive_plays1',
       'yards_allowed_per_defensive_play1', 'turnovers_lost1',
       'time_of_possession1', 'pass_completions2', 'pass_attempts2',
       'completion_percentage2', 'passing_yards2', 'passing_touchdowns2',
       'interceptions2', 'times_sacked2', 'sack_yards_lost2', 'qbr2',
       'rushing_attempts2', 'rushing_yards2', 'rushing_yards_per_attempt2',
       'rushing_touchdowns2', 'total_yards2', 'turnovers2', 'penalty_yards1',
       'penalty_yards2', 'Total_TD1', 'XPA_1', 'XPM_1', 'FGA1', 'FGM1', '2PA1',
       '2PM2', 'Sfty1', 'Total_TD2', 'XPA2', 'XPM2', 'FGA2', 'FGM2', 'Sfty2'],
      dtype='object')

In [88]:
merge3.shape

(267, 68)

In [90]:
m = merge3.copy()

In [89]:
merge3['win1?']

0      L 20-31
1      L 20-37
2      L 24-35
3      L 31-51
4      L 23-28
        ...
262    W 43-13
263     L 3-33
264    W 31-17
265    L 27-32
266     W 10-3
Name: win1?, Length: 267, dtype: object

In [91]:
m['win1?'] = m['win1?'].apply(lambda x: x.split()[0])

In [93]:
m['win1?'].unique()

array(['L', 'W', 'T'], dtype=object)

In [94]:
m['win1?'] = m['win1?'].replace(to_replace=['L', 'W', 'T'], value=[-1,1,0])

In [96]:
m['over_under_result?_x'].unique()

array(['under', 'over', 'push'], dtype=object)

In [97]:
m.replace(to_replace=['under', 'over', 'push'], value = [-1,1,0], inplace=True)

In [98]:
m['over_under_result?_x'].unique()

array([-1,  1,  0])

In [99]:
m = m.rename(columns={'over_under_result?_x':'over_under_result?'})

In [100]:
m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 266
Data columns (total 68 columns):
team1                                267 non-null object
date                                 267 non-null object
time                                 267 non-null object
home_away                            267 non-null object
team2                                267 non-null object
week                                 267 non-null int64
Game_Number                          267 non-null int64
win1?                                267 non-null int64
OT                                   11 non-null object
points_1                             267 non-null object
points_2                             267 non-null object
point_differential                   267 non-null object
combined_points                      267 non-null object
spread                               267 non-null object
team1_covered_spread?                267 non-null object
over_under                           267 non-null object
over_under_result?                   267 non-null int64
pass_completions1                    267 non-null object
pass_attempts1                       267 non-null object
completion_percentage1               267 non-null object
passing_yards1                       267 non-null object
passing_touchdowns1                  267 non-null object
interceptions1                       267 non-null object
times_sacked1                        267 non-null object
sack_yards_lost1                     267 non-null object
qbr1                                 267 non-null object
rushing_attempts1                    267 non-null object
rushing_yards1                       267 non-null object
rushing_yards_per_attempt1           267 non-null object
rushing_touchdowns1                  267 non-null object
total_yards1                         267 non-null object
offensive_plays1                     267 non-null object
yards_per_play_offense1              267 non-null object
defensive_plays1                     267 non-null object
yards_allowed_per_defensive_play1    267 non-null object
turnovers_lost1                      206 non-null object
time_of_possession1                  267 non-null object
pass_completions2                    267 non-null object
pass_attempts2                       267 non-null object
completion_percentage2               267 non-null object
passing_yards2                       267 non-null object
passing_touchdowns2                  267 non-null object
interceptions2                       267 non-null object
times_sacked2                        267 non-null object
sack_yards_lost2                     267 non-null object
qbr2                                 267 non-null object
rushing_attempts2                    267 non-null object
rushing_yards2                       267 non-null object
rushing_yards_per_attempt2           267 non-null object
rushing_touchdowns2                  267 non-null object
total_yards2                         267 non-null object
turnovers2                           183 non-null object
penalty_yards1                       267 non-null int64
penalty_yards2                       267 non-null int64
Total_TD1                            267 non-null object
XPA_1                                226 non-null object
XPM_1                                219 non-null object
FGA1                                 233 non-null object
FGM1                                 215 non-null object
2PA1                                 267 non-null object
2PM2                                 27 non-null object
Sfty1                                8 non-null object
Total_TD2                            267 non-null object
XPA2                                 267 non-null object
XPM2                                 267 non-null object
FGA2                                 267 non-null object
FGM2                                 267 non-null object
Sfty2                                267 non-null object
dtypes: int64(6), object(62)
memory usage: 143.9+ KB

In [101]:
m = m.fillna(value=0)

In [102]:
m.columns

Index(['team1', 'date', 'time', 'home_away', 'team2', 'week', 'Game_Number',
       'win1?', 'OT', 'points_1', 'points_2', 'point_differential',
       'combined_points', 'spread', 'team1_covered_spread?', 'over_under',
       'over_under_result?', 'pass_completions1', 'pass_attempts1',
       'completion_percentage1', 'passing_yards1', 'passing_touchdowns1',
       'interceptions1', 'times_sacked1', 'sack_yards_lost1', 'qbr1',
       'rushing_attempts1', 'rushing_yards1', 'rushing_yards_per_attempt1',
       'rushing_touchdowns1', 'total_yards1', 'offensive_plays1',
       'yards_per_play_offense1', 'defensive_plays1',
       'yards_allowed_per_defensive_play1', 'turnovers_lost1',
       'time_of_possession1', 'pass_completions2', 'pass_attempts2',
       'completion_percentage2', 'passing_yards2', 'passing_touchdowns2',
       'interceptions2', 'times_sacked2', 'sack_yards_lost2', 'qbr2',
       'rushing_attempts2', 'rushing_yards2', 'rushing_yards_per_attempt2',
       'rushing_touchdowns2', 'total_yards2', 'turnovers2', 'penalty_yards1',
       'penalty_yards2', 'Total_TD1', 'XPA_1', 'XPM_1', 'FGA1', 'FGM1', '2PA1',
       '2PM2', 'Sfty1', 'Total_TD2', 'XPA2', 'XPM2', 'FGA2', 'FGM2', 'Sfty2'],
      dtype='object')

In [103]:
m.shape

(267, 68)

In [108]:
m['OT'] = m['OT'].replace(to_replace='OT', value=1)

In [113]:
m['team1_covered_spread?'] = m['team1_covered_spread?'].replace(to_replace=['not covered', 'covered', ], value = [0,1])

In [116]:

# 62 columns to floats because math
col_list = ['week', 'Game_Number',
       'win1?', 'OT', 'points_1', 'points_2', 'point_differential',
       'combined_points', 'spread', 'team1_covered_spread?', 'over_under',
       'over_under_result?', 'pass_completions1', 'pass_attempts1',
       'completion_percentage1', 'passing_yards1', 'passing_touchdowns1',
       'interceptions1', 'times_sacked1', 'sack_yards_lost1', 'qbr1',
       'rushing_attempts1', 'rushing_yards1', 'rushing_yards_per_attempt1',
       'rushing_touchdowns1', 'total_yards1', 'offensive_plays1',
       'yards_per_play_offense1', 'defensive_plays1',
       'yards_allowed_per_defensive_play1', 'turnovers_lost1', 
        'pass_completions2', 'pass_attempts2',
       'completion_percentage2', 'passing_yards2', 'passing_touchdowns2',
       'interceptions2', 'times_sacked2', 'sack_yards_lost2', 'qbr2',
       'rushing_attempts2', 'rushing_yards2', 'rushing_yards_per_attempt2',
       'rushing_touchdowns2', 'total_yards2', 'turnovers2', 'penalty_yards1',
       'penalty_yards2', 'Total_TD1', 'XPA_1', 'XPM_1', 'FGA1', 'FGM1', '2PA1',
       '2PM2', 'Sfty1', 'Total_TD2', 'XPA2', 'XPM2', 'FGA2', 'FGM2', 'Sfty2' ]

def text_to_num(text):
    return float(text)

def convert_into_float(data):
    data[col_list] = data[col_list].applymap(text_to_num)
    return data

In [117]:
m = convert_into_float(m)

In [118]:
m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 266
Data columns (total 68 columns):
team1                                267 non-null object
date                                 267 non-null object
time                                 267 non-null object
home_away                            267 non-null object
team2                                267 non-null object
week                                 267 non-null float64
Game_Number                          267 non-null float64
win1?                                267 non-null float64
OT                                   267 non-null float64
points_1                             267 non-null float64
points_2                             267 non-null float64
point_differential                   267 non-null float64
combined_points                      267 non-null float64
spread                               267 non-null float64
team1_covered_spread?                267 non-null float64
over_under                           267 non-null float64
over_under_result?                   267 non-null float64
pass_completions1                    267 non-null float64
pass_attempts1                       267 non-null float64
completion_percentage1               267 non-null float64
passing_yards1                       267 non-null float64
passing_touchdowns1                  267 non-null float64
interceptions1                       267 non-null float64
times_sacked1                        267 non-null float64
sack_yards_lost1                     267 non-null float64
qbr1                                 267 non-null float64
rushing_attempts1                    267 non-null float64
rushing_yards1                       267 non-null float64
rushing_yards_per_attempt1           267 non-null float64
rushing_touchdowns1                  267 non-null float64
total_yards1                         267 non-null float64
offensive_plays1                     267 non-null float64
yards_per_play_offense1              267 non-null float64
defensive_plays1                     267 non-null float64
yards_allowed_per_defensive_play1    267 non-null float64
turnovers_lost1                      267 non-null float64
time_of_possession1                  267 non-null object
pass_completions2                    267 non-null float64
pass_attempts2                       267 non-null float64
completion_percentage2               267 non-null float64
passing_yards2                       267 non-null float64
passing_touchdowns2                  267 non-null float64
interceptions2                       267 non-null float64
times_sacked2                        267 non-null float64
sack_yards_lost2                     267 non-null float64
qbr2                                 267 non-null float64
rushing_attempts2                    267 non-null float64
rushing_yards2                       267 non-null float64
rushing_yards_per_attempt2           267 non-null float64
rushing_touchdowns2                  267 non-null float64
total_yards2                         267 non-null float64
turnovers2                           267 non-null float64
penalty_yards1                       267 non-null float64
penalty_yards2                       267 non-null float64
Total_TD1                            267 non-null float64
XPA_1                                267 non-null float64
XPM_1                                267 non-null float64
FGA1                                 267 non-null float64
FGM1                                 267 non-null float64
2PA1                                 267 non-null float64
2PM2                                 267 non-null float64
Sfty1                                267 non-null float64
Total_TD2                            267 non-null float64
XPA2                                 267 non-null float64
XPM2                                 267 non-null float64
FGA2                                 267 non-null float64
FGM2                                 267 non-null float64
Sfty2                                267 non-null float64
dtypes: float64(62), object(6)
memory usage: 143.9+ KB

In [119]:
# Time_of_possesion1 - returns a string like 'mm:ss'
# write a function to normalize time of possession to a ratio from 0 to 1
def top_ratio(text):
    return float(text.split(':')[0])/60 + float(text.split(':')[1])/3600
def time_of_possession_to_ratio(data):
    #converts time of possession into a ratio from 0 to 1
    data['time_of_possession1'] = data['time_of_possession1'].apply(lambda x: top_ratio(x))
    return data

In [121]:
time_of_possession_to_ratio(m)

AttributeError: 'float' object has no attribute 'split'

In [122]:
m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 266
Data columns (total 68 columns):
team1                                267 non-null object
date                                 267 non-null object
time                                 267 non-null object
home_away                            267 non-null object
team2                                267 non-null object
week                                 267 non-null float64
Game_Number                          267 non-null float64
win1?                                267 non-null float64
OT                                   267 non-null float64
points_1                             267 non-null float64
points_2                             267 non-null float64
point_differential                   267 non-null float64
combined_points                      267 non-null float64
spread                               267 non-null float64
team1_covered_spread?                267 non-null float64
over_under                           267 non-null float64
over_under_result?                   267 non-null float64
pass_completions1                    267 non-null float64
pass_attempts1                       267 non-null float64
completion_percentage1               267 non-null float64
passing_yards1                       267 non-null float64
passing_touchdowns1                  267 non-null float64
interceptions1                       267 non-null float64
times_sacked1                        267 non-null float64
sack_yards_lost1                     267 non-null float64
qbr1                                 267 non-null float64
rushing_attempts1                    267 non-null float64
rushing_yards1                       267 non-null float64
rushing_yards_per_attempt1           267 non-null float64
rushing_touchdowns1                  267 non-null float64
total_yards1                         267 non-null float64
offensive_plays1                     267 non-null float64
yards_per_play_offense1              267 non-null float64
defensive_plays1                     267 non-null float64
yards_allowed_per_defensive_play1    267 non-null float64
turnovers_lost1                      267 non-null float64
time_of_possession1                  267 non-null float64
pass_completions2                    267 non-null float64
pass_attempts2                       267 non-null float64
completion_percentage2               267 non-null float64
passing_yards2                       267 non-null float64
passing_touchdowns2                  267 non-null float64
interceptions2                       267 non-null float64
times_sacked2                        267 non-null float64
sack_yards_lost2                     267 non-null float64
qbr2                                 267 non-null float64
rushing_attempts2                    267 non-null float64
rushing_yards2                       267 non-null float64
rushing_yards_per_attempt2           267 non-null float64
rushing_touchdowns2                  267 non-null float64
total_yards2                         267 non-null float64
turnovers2                           267 non-null float64
penalty_yards1                       267 non-null float64
penalty_yards2                       267 non-null float64
Total_TD1                            267 non-null float64
XPA_1                                267 non-null float64
XPM_1                                267 non-null float64
FGA1                                 267 non-null float64
FGM1                                 267 non-null float64
2PA1                                 267 non-null float64
2PM2                                 267 non-null float64
Sfty1                                267 non-null float64
Total_TD2                            267 non-null float64
XPA2                                 267 non-null float64
XPM2                                 267 non-null float64
FGA2                                 267 non-null float64
FGM2                                 267 non-null float64
Sfty2                                267 non-null float64
dtypes: float64(63), object(5)
memory usage: 143.9+ KB

In [124]:
m['game_date_time'] = m['date'] +' '+ m['time']
m['game_date_time'] = m['game_date_time'].apply(lambda x: pd.to_datetime(x))

In [128]:
list(m.columns)

['team1',
 'home_away',
 'team2',
 'week',
 'Game_Number',
 'win1?',
 'OT',
 'points_1',
 'points_2',
 'point_differential',
 'combined_points',
 'spread',
 'team1_covered_spread?',
 'over_under',
 'over_under_result?',
 'pass_completions1',
 'pass_attempts1',
 'completion_percentage1',
 'passing_yards1',
 'passing_touchdowns1',
 'interceptions1',
 'times_sacked1',
 'sack_yards_lost1',
 'qbr1',
 'rushing_attempts1',
 'rushing_yards1',
 'rushing_yards_per_attempt1',
 'rushing_touchdowns1',
 'total_yards1',
 'offensive_plays1',
 'yards_per_play_offense1',
 'defensive_plays1',
 'yards_allowed_per_defensive_play1',
 'turnovers_lost1',
 'time_of_possession1',
 'pass_completions2',
 'pass_attempts2',
 'completion_percentage2',
 'passing_yards2',
 'passing_touchdowns2',
 'interceptions2',
 'times_sacked2',
 'sack_yards_lost2',
 'qbr2',
 'rushing_attempts2',
 'rushing_yards2',
 'rushing_yards_per_attempt2',
 'rushing_touchdowns2',
 'total_yards2',
 'turnovers2',
 'penalty_yards1',
 'penalty_yards2',
 'Total_TD1',
 'XPA_1',
 'XPM_1',
 'FGA1',
 'FGM1',
 '2PA1',
 '2PM2',
 'Sfty1',
 'Total_TD2',
 'XPA2',
 'XPM2',
 'FGA2',
 'FGM2',
 'Sfty2',
 'game_date_time',
 'time_of_possession2']

In [126]:
m = m.drop(columns=['date', 'time'])

In [127]:
m['time_of_possession2'] = 1 - m['time_of_possession1']

In [129]:
m = m.drop(columns=['2PA1', '2PM2'])

In [132]:
m['team1_covered_spread?']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
262    1.0
263    0.0
264    1.0
265    1.0
266    1.0
Name: team1_covered_spread?, Length: 267, dtype: float64

In [133]:
m['team2_covered_spread?'] = 1.0 - m['team1_covered_spread?']

In [134]:
m['offensive_plays2'] = m['defensive_plays1']

In [135]:
m['yards_per_play_offense2'] = m['total_yards2'] / m['offensive_plays2']

In [136]:
m['defensive_plays2'] = m['offensive_plays1']

In [137]:
m['yards_allowed_per_defensive_play2'] = m['total_yards1']/ m['defensive_plays2']

In [138]:
m['passing_yards_per_attempt1'] = m[ 'passing_yards1'] / m['pass_attempts1']
m['passing_yards_per_attempt2'] = m[ 'passing_yards2'] / m['pass_attempts2']

In [139]:
m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 0 to 266
Data columns (total 73 columns):
team1                                267 non-null object
home_away                            267 non-null object
team2                                267 non-null object
week                                 267 non-null float64
Game_Number                          267 non-null float64
win1?                                267 non-null float64
OT                                   267 non-null float64
points_1                             267 non-null float64
points_2                             267 non-null float64
point_differential                   267 non-null float64
combined_points                      267 non-null float64
spread                               267 non-null float64
team1_covered_spread?                267 non-null float64
over_under                           267 non-null float64
over_under_result?                   267 non-null float64
pass_completions1                    267 non-null float64
pass_attempts1                       267 non-null float64
completion_percentage1               267 non-null float64
passing_yards1                       267 non-null float64
passing_touchdowns1                  267 non-null float64
interceptions1                       267 non-null float64
times_sacked1                        267 non-null float64
sack_yards_lost1                     267 non-null float64
qbr1                                 267 non-null float64
rushing_attempts1                    267 non-null float64
rushing_yards1                       267 non-null float64
rushing_yards_per_attempt1           267 non-null float64
rushing_touchdowns1                  267 non-null float64
total_yards1                         267 non-null float64
offensive_plays1                     267 non-null float64
yards_per_play_offense1              267 non-null float64
defensive_plays1                     267 non-null float64
yards_allowed_per_defensive_play1    267 non-null float64
turnovers_lost1                      267 non-null float64
time_of_possession1                  267 non-null float64
pass_completions2                    267 non-null float64
pass_attempts2                       267 non-null float64
completion_percentage2               267 non-null float64
passing_yards2                       267 non-null float64
passing_touchdowns2                  267 non-null float64
interceptions2                       267 non-null float64
times_sacked2                        267 non-null float64
sack_yards_lost2                     267 non-null float64
qbr2                                 267 non-null float64
rushing_attempts2                    267 non-null float64
rushing_yards2                       267 non-null float64
rushing_yards_per_attempt2           267 non-null float64
rushing_touchdowns2                  267 non-null float64
total_yards2                         267 non-null float64
turnovers2                           267 non-null float64
penalty_yards1                       267 non-null float64
penalty_yards2                       267 non-null float64
Total_TD1                            267 non-null float64
XPA_1                                267 non-null float64
XPM_1                                267 non-null float64
FGA1                                 267 non-null float64
FGM1                                 267 non-null float64
Sfty1                                267 non-null float64
Total_TD2                            267 non-null float64
XPA2                                 267 non-null float64
XPM2                                 267 non-null float64
FGA2                                 267 non-null float64
FGM2                                 267 non-null float64
Sfty2                                267 non-null float64
game_date_time                       267 non-null datetime64[ns]
time_of_possession2                  267 non-null float64
team2_covered_spread?                267 non-null float64
offensive_plays2                     267 non-null float64
yards_per_play_offense2              267 non-null float64
defensive_plays2                     267 non-null float64
yards_allowed_per_defensive_play2    267 non-null float64
passing_yards_per_attempt1           267 non-null float64
passing_yards_per_attempt2           267 non-null float64
dtypes: datetime64[ns](1), float64(69), object(3)
memory usage: 154.4+ KB

In [140]:
m['home_away']

0      Neutral
1         Away
2         Away
3         Away
4         Away
        ...
262       Away
263       Away
264       Away
265       Away
266       Away
Name: home_away, Length: 267, dtype: object

In [141]:
m['home_away'].unique()

array(['Neutral', 'Away', 'Home'], dtype=object)

In [143]:
m['home_away'].count()

267

In [144]:
m.to_csv('full_game_stats_2019.csv')

In [145]:
m['home_away'] = m['home_away'].replace(to_replace=['Neutral', 'Away', 'Home'], 
                                       value=[0,-1,1])

In [149]:
m['win2?'] = m['win1?'] * -1

In [150]:
m['team2_covered_spread?'] = m['team1_covered_spread?'] *-1

In [151]:
m.iloc[0]

team1                                    SFO
home_away                                  0
team2                                    KAN
week                                      21
Game_Number                               20
                                      ...
defensive_plays2                          54
yards_allowed_per_defensive_play2        6.5
passing_yards_per_attempt1           6.77419
passing_yards_per_attempt2           6.38095
win2?                                      1
Name: 0, Length: 74, dtype: object

In [152]:
m['game_id'] = range(0,267)

In [153]:
m.columns

Index(['team1', 'home_away', 'team2', 'week', 'Game_Number', 'win1?', 'OT',
       'points_1', 'points_2', 'point_differential', 'combined_points',
       'spread', 'team1_covered_spread?', 'over_under', 'over_under_result?',
       'pass_completions1', 'pass_attempts1', 'completion_percentage1',
       'passing_yards1', 'passing_touchdowns1', 'interceptions1',
       'times_sacked1', 'sack_yards_lost1', 'qbr1', 'rushing_attempts1',
       'rushing_yards1', 'rushing_yards_per_attempt1', 'rushing_touchdowns1',
       'total_yards1', 'offensive_plays1', 'yards_per_play_offense1',
       'defensive_plays1', 'yards_allowed_per_defensive_play1',
       'turnovers_lost1', 'time_of_possession1', 'pass_completions2',
       'pass_attempts2', 'completion_percentage2', 'passing_yards2',
       'passing_touchdowns2', 'interceptions2', 'times_sacked2',
       'sack_yards_lost2', 'qbr2', 'rushing_attempts2', 'rushing_yards2',
       'rushing_yards_per_attempt2', 'rushing_touchdowns2', 'total_yards2',
       'turnovers2', 'penalty_yards1', 'penalty_yards2', 'Total_TD1', 'XPA_1',
       'XPM_1', 'FGA1', 'FGM1', 'Sfty1', 'Total_TD2', 'XPA2', 'XPM2', 'FGA2',
       'FGM2', 'Sfty2', 'game_date_time', 'time_of_possession2',
       'team2_covered_spread?', 'offensive_plays2', 'yards_per_play_offense2',
       'defensive_plays2', 'yards_allowed_per_defensive_play2',
       'passing_yards_per_attempt1', 'passing_yards_per_attempt2', 'win2?',
       'game_id'],
      dtype='object')

In [162]:
t1_stats = m[['team1', 'home_away', 'team2', 'week', 'Game_Number', 'win1?', 'OT',
       'points_1', 'points_2', 'combined_points', 'spread', 'team1_covered_spread?', 
        'over_under', 'over_under_result?', 'pass_completions1', 'pass_attempts1', 
        'completion_percentage1', 'passing_yards1', 'passing_touchdowns1', 
        'interceptions1', 'times_sacked1', 'sack_yards_lost1', 'qbr1', 
        'rushing_attempts1',  'rushing_yards1', 'rushing_yards_per_attempt1', 
        'rushing_touchdowns1', 'total_yards1', 'offensive_plays1', 
          'yards_per_play_offense1', 'defensive_plays1', 
          'yards_allowed_per_defensive_play1', 'turnovers_lost1', 'time_of_possession1',
         'penalty_yards1', 'Total_TD1', 'XPA_1', 'XPM_1', 'FGA1', 'FGM1', 'Sfty1',
          'game_date_time','passing_yards_per_attempt1','game_id']]

t2_stats =  m[['team1', 'home_away', 'team2', 'week', 'Game_Number', 'OT',
       'points_1', 'points_2', 'combined_points', 'spread', 'over_under', 
        'over_under_result?', 'pass_completions2',
       'pass_attempts2', 'completion_percentage2', 'passing_yards2',
       'passing_touchdowns2', 'interceptions2', 'times_sacked2',
       'sack_yards_lost2', 'qbr2', 'rushing_attempts2', 'rushing_yards2',
       'rushing_yards_per_attempt2', 'rushing_touchdowns2', 'total_yards2',
       'turnovers2', 'penalty_yards2','Total_TD2', 'XPA2', 'XPM2', 'FGA2',
       'FGM2', 'Sfty2', 'game_date_time', 'time_of_possession2', 'team2_covered_spread?', 
        'offensive_plays2', 'yards_per_play_offense2',
       'defensive_plays2', 'yards_allowed_per_defensive_play2',
       'passing_yards_per_attempt2', 'win2?', 'game_id']]

In [168]:
t1_stats.shape, t2_stats.shape

((267, 44), (267, 44))

In [180]:
t1 = m[['team1', 'home_away', 'team2', 'week', 'Game_Number', 'win1?', 'OT', 'points_1',
 'points_2', 'combined_points','spread', 'team1_covered_spread?', 'over_under',
 'over_under_result?', 'pass_completions1', 'pass_attempts1',
 'completion_percentage1', 'passing_yards1', 'passing_touchdowns1',
 'interceptions1', 'times_sacked1', 'sack_yards_lost1', 'qbr1', 'rushing_attempts1',
 'rushing_yards1', 'rushing_yards_per_attempt1', 'rushing_touchdowns1', 'total_yards1',
 'offensive_plays1','yards_per_play_offense1','defensive_plays1','yards_allowed_per_defensive_play1',
 'turnovers_lost1','time_of_possession1','penalty_yards1','Total_TD1','XPA_1','XPM_1','FGA1',
 'FGM1','Sfty1','game_date_time','passing_yards_per_attempt1','game_id']]

t2 = m[['team2','home_away','team1','week','Game_Number','win2?','OT','points_2',
'points_1','combined_points','spread','team2_covered_spread?','over_under',
 'over_under_result?','pass_completions2','pass_attempts2','completion_percentage2',
 'passing_yards2','passing_touchdowns2','interceptions2','times_sacked2','sack_yards_lost2',
 'qbr2','rushing_attempts2','rushing_yards2','rushing_yards_per_attempt2',
 'rushing_touchdowns2','total_yards2','offensive_plays2','yards_per_play_offense2',
 'defensive_plays2','yards_allowed_per_defensive_play2','turnovers2','time_of_possession2',
 'penalty_yards2','Total_TD2','XPA2','XPM2','FGA2','FGM2','Sfty2','game_date_time',
 'passing_yards_per_attempt2', 'game_id']]

In [181]:
list(t1.columns)

['team1',
 'home_away',
 'team2',
 'week',
 'Game_Number',
 'win1?',
 'OT',
 'points_1',
 'points_2',
 'combined_points',
 'spread',
 'team1_covered_spread?',
 'over_under',
 'over_under_result?',
 'pass_completions1',
 'pass_attempts1',
 'completion_percentage1',
 'passing_yards1',
 'passing_touchdowns1',
 'interceptions1',
 'times_sacked1',
 'sack_yards_lost1',
 'qbr1',
 'rushing_attempts1',
 'rushing_yards1',
 'rushing_yards_per_attempt1',
 'rushing_touchdowns1',
 'total_yards1',
 'offensive_plays1',
 'yards_per_play_offense1',
 'defensive_plays1',
 'yards_allowed_per_defensive_play1',
 'turnovers_lost1',
 'time_of_possession1',
 'penalty_yards1',
 'Total_TD1',
 'XPA_1',
 'XPM_1',
 'FGA1',
 'FGM1',
 'Sfty1',
 'game_date_time',
 'passing_yards_per_attempt1',
 'game_id']

In [182]:
list(t2.columns)

['team2',
 'home_away',
 'team1',
 'week',
 'Game_Number',
 'win2?',
 'OT',
 'points_2',
 'points_1',
 'combined_points',
 'spread',
 'team2_covered_spread?',
 'over_under',
 'over_under_result?',
 'pass_completions2',
 'pass_attempts2',
 'completion_percentage2',
 'passing_yards2',
 'passing_touchdowns2',
 'interceptions2',
 'times_sacked2',
 'sack_yards_lost2',
 'qbr2',
 'rushing_attempts2',
 'rushing_yards2',
 'rushing_yards_per_attempt2',
 'rushing_touchdowns2',
 'total_yards2',
 'offensive_plays2',
 'yards_per_play_offense2',
 'defensive_plays2',
 'yards_allowed_per_defensive_play2',
 'turnovers2',
 'time_of_possession2',
 'penalty_yards2',
 'Total_TD2',
 'XPA2',
 'XPM2',
 'FGA2',
 'FGM2',
 'Sfty2',
 'game_date_time',
 'passing_yards_per_attempt2',
 'game_id']

In [178]:
t2.iloc[0]

team2                                                KAN
home_away                                              0
team1                                                SFO
week                                                  21
Game_Number                                           20
win2?                                                  1
OT                                                     0
points_1                                              20
points_2                                              31
combined_points                                       51
spread                                               1.5
team2_covered_spread?                                 -0
over_under                                          52.5
over_under_result?                                    -1
pass_completions2                                     26
pass_attempts2                                        42
completion_percentage2                              61.9
passing_yards2                                       268
passing_touchdowns2                                    2
interceptions2                                         2
times_sacked2                                          4
sack_yards_lost2                                      18
qbr2                                                76.3
rushing_attempts2                                     29
rushing_yards2                                       129
rushing_yards_per_attempt2                          4.45
rushing_touchdowns2                                    2
total_yards2                                         397
offensive_plays2                                      75
yards_per_play_offense2                          5.29333
defensive_plays2                                      54
yards_allowed_per_defensive_play2                    6.5
turnovers2                                             2
time_of_possession2                             0.553611
penalty_yards2                                        24
Total_TD2                                              4
XPA2                                                   4
XPM2                                                   4
FGA2                                                   1
FGM2                                                   1
Sfty2                                                  0
game_date_time                       2020-02-02 06:30:00
passing_yards_per_attempt2                       6.38095
game_id                                                0
Name: 0, dtype: object

In [184]:
t1a = t1.copy()

In [185]:
t1a.columns=['team', 'game_id', 'opponent','week', 'game number','game_date_time',
'home_away','OT','points_for','points_against',
'combined_points','spread','over_under',
'pass_completions','pass_attempts','completion_percentage','passing_yards',
'passing_touchdowns','interceptions','times_sacked','sack_yards_lost','qbr',
'rushing_attempts','rushing_yards','rushing_yards_per_attempt',
'rushing_touchdowns','total_yards','offensive_plays','yards_per_play_offense',
'defensive_plays','yards_allowed_per_defensive_play','turnovers',
'time_of_possession','penalty_yards','Total_TD','XPA','XPM','FGA','FGM','Sfty',
'passing_yards_per_attempt','win?', 'over_under_result?', 'covered_spread?']

In [186]:
t2a = t2.copy()

In [187]:
t2a.columns=['team', 'game_id', 'opponent','week', 'game number','game_date_time',
'home_away','OT','points_for','points_against',
'combined_points','spread','over_under',
'pass_completions','pass_attempts','completion_percentage','passing_yards',
'passing_touchdowns','interceptions','times_sacked','sack_yards_lost','qbr',
'rushing_attempts','rushing_yards','rushing_yards_per_attempt',
'rushing_touchdowns','total_yards','offensive_plays','yards_per_play_offense',
'defensive_plays','yards_allowed_per_defensive_play','turnovers',
'time_of_possession','penalty_yards','Total_TD','XPA','XPM','FGA','FGM','Sfty',
'passing_yards_per_attempt','win?', 'over_under_result?', 'covered_spread?']