In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment
import re
import json
import time

In [2]:
                                                                                                                                                                                                                                                                                                                                                                                                                                

stats_2018 = []
for i in range(0,600,100):
    url = """https://www.pro-football-reference.com/play-index/tgl_finder.cgi?request=1&match=game&year_min=2018&year_max=2018&game_type=R&game_num_min=0&game_num_max=99&week_num_min=0&week_num_max=99&temperature_gtlt=lt&c1stat=points&c1comp=gte&c2stat=pass_yds&c2comp=gte&c3stat=rush_yds&c3comp=gte&c4stat=turnovers&c4comp=gte&c5stat=fgm&c5comp=gt&c5val=1.0&order_by=game_date&offset={}"""
    stats_2018.append(pd.read_html(url.format(i))[0])

In [3]:
df = pd.concat(stats_2018)
df

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk                 Tm               Year
0                   1                ATL               2018
1                   2                BUF               2018
2                   3                CAR               2018
3                   4                CHI               2018
4                   5                CIN               2018
..                ...                ...                ...
7                 508                SFO               2018
8                 509                TAM               2018
9                 510                WAS               2018
10                511                ATL               2018
11                512                PHI               2018

   Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                 Date               Time              LTime
0          2018-12-30               1:00               1:00
1          2018-12-30               1:00               1:00
2          2018-12-30               1:00              12:00
3          2018-12-30               4:25               3:00
4          2018-12-30               4:25               1:00
..                ...                ...                ...
7          2018-09-09               1:00               3:00
8          2018-09-09               1:00              12:00
9          2018-09-09               4:25               2:25
10         2018-09-06               8:20               8:20
11         2018-09-06               8:20               8:20

   Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
   Unnamed: 6_level_1                Opp               Week
0                   @                TAM                 17
1                 NaN                MIA                 17
2                   @                NOR                 17
3                   @                MIN                 17
4                   @                PIT                 17
..                ...                ...                ...
7                   @                MIN                  1
8                   @                NOR                  1
9                   @                ARI                  1
10                  @                PHI                  1
11                NaN                ATL                  1

   Unnamed: 9_level_0  ... Tot Yds & TO       Scoring                        \
                   G#  ...          ToP  Time      TD XPA  XPM FGA  FGM 2PA
0                  16  ...        34:46  3:08       4   4    4   2    2   0
1                  16  ...        30:18  3:02       6   6    6   1  NaN   0
2                  16  ...        33:26  3:00       4   4    3   2    2   0
3                  16  ...        37:08  2:58       3   2    1   1    1   1
4                  16  ...        25:38  3:00       1   1    1   2    2   0
..                ...  ...          ...   ...     ...  ..  ...  ..  ...  ..
7                   1  ...        28:51  3:12       1   1    1   3    3   0
8                   1  ...        32:09  3:13       6   6    6   3    2   0
9                   1  ...        38:08  2:57       3   3    3   1    1   0
10                  1  ...        27:50  3:19       1   1  NaN   2    2   0
11                  1  ...        32:10  3:19       2   1    1   1    1   1


    2PM Sfty
0   NaN  NaN
1   NaN  NaN
2   NaN  NaN
3     1  NaN
4   NaN  NaN
..  ...  ...
7   NaN  NaN
8   NaN  NaN
9   NaN  NaN
10  NaN  NaN
11    1  NaN

[532 rows x 46 columns]

In [4]:
df[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')] = df[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')].fillna(value='Home')

In [5]:
df[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')] = df[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')].replace(to_replace=['N', '@'], value=['Neutral', 'Away'])

In [6]:
df.columns = df.columns.to_flat_index()

In [7]:
df.reset_index()

,index,"(Unnamed: 0_level_0, Rk)","(Unnamed: 1_level_0, Tm)","(Unnamed: 2_level_0, Year)","(Unnamed: 3_level_0, Date)","(Unnamed: 4_level_0, Time)","(Unnamed: 5_level_0, LTime)","(Unnamed: 6_level_0, Unnamed: 6_level_1)","(Unnamed: 7_level_0, Opp)","(Unnamed: 8_level_0, Week)",...,"(Tot Yds & TO, ToP)","(Tot Yds & TO, Time)","(Scoring, TD)","(Scoring, XPA)","(Scoring, XPM)","(Scoring, FGA)","(Scoring, FGM)","(Scoring, 2PA)","(Scoring, 2PM)","(Scoring, Sfty)"
0,0,1,ATL,2018,2018-12-30,1:00,1:00,Away,TAM,17,...,34:46,3:08,4,4,4,2,2,0,NaN,NaN
1,1,2,BUF,2018,2018-12-30,1:00,1:00,Home,MIA,17,...,30:18,3:02,6,6,6,1,NaN,0,NaN,NaN
2,2,3,CAR,2018,2018-12-30,1:00,12:00,Away,NOR,17,...,33:26,3:00,4,4,3,2,2,0,NaN,NaN
3,3,4,CHI,2018,2018-12-30,4:25,3:00,Away,MIN,17,...,37:08,2:58,3,2,1,1,1,1,1,NaN
4,4,5,CIN,2018,2018-12-30,4:25,1:00,Away,PIT,17,...,25:38,3:00,1,1,1,2,2,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,7,508,SFO,2018,2018-09-09,1:00,3:00,Away,MIN,1,...,28:51,3:12,1,1,1,3,3,0,NaN,NaN
528,8,509,TAM,2018,2018-09-09,1:00,12:00,Away,NOR,1,...,32:09,3:13,6,6,6,3,2,0,NaN,NaN
529,9,510,WAS,2018,2018-09-09,4:25,2:25,Away,ARI,1,...,38:08,2:57,3,3,3,1,1,0,NaN,NaN
530,10,511,ATL,2018,2018-09-06,8:20,8:20,Away,PHI,1,...,27:50,3:19,1,1,NaN,2,2,0,NaN,NaN
531,11,512,PHI,2018,2018-09-06,8:20,8:20,Home,ATL,1,...,32:10,3:19,2,1,1,1,1,1,1,NaN

In [8]:
df.drop(df[df[('Unnamed: 1_level_0', 'Tm')] == 'Tm'].index, inplace=True)

In [11]:
df = df.rename(columns={('Unnamed: 0_level_0', 'Rk'):'rk', 
('Unnamed: 1_level_0', 'Tm'): 'team1',
('Unnamed: 2_level_0', 'Year'): 'year',
('Unnamed: 3_level_0', 'Date'): 'date',
('Unnamed: 4_level_0', 'Time'): 'time',
('Unnamed: 5_level_0', 'LTime'): 'local_time', 
('Unnamed: 6_level_0', 'Unnamed: 6_level_1'): 'home_away',
('Unnamed: 7_level_0', 'Opp'): 'team2',
('Unnamed: 8_level_0', 'Week'): 'Week',
('Unnamed: 9_level_0', 'G#'): 'Game_Number',
('Unnamed: 10_level_0', 'Day'): 'day',
('Unnamed: 11_level_0', 'Result'): 'win1?',
('Unnamed: 12_level_0', 'OT'): 'OT',
 ('Points', 'PF'):'points_for',
 ('Points', 'PA'): 'points_against',
 ('Points', 'PD'): 'point_diff',
 ('Points', 'PC'):'combined_pts',
 ('Passing', 'Cmp'):'completions',
 ('Passing', 'Att'):'attempts',
 ('Passing', 'Cmp%'):'comp_percent',
 ('Passing', 'Yds'):'passing_yards',
 ('Passing', 'TD'):'passing_tds',
 ('Passing', 'Int'):'INT',
 ('Passing', 'Sk'):'times_sacked',
 ('Passing', 'Yds.1'):'sack_yards_lost',
 ('Passing', 'Rate'):'qbr',
 ('Rushing', 'Att'):'rushing_attempts',
 ('Rushing', 'Yds'):'rushing_yards',
 ('Rushing', 'Y/A'):'rushing_yards_per_attempt',
 ('Rushing', 'TD'):'rushing_TD',
 ('Tot Yds & TO', 'Tot'):'total_yards',
 ('Tot Yds & TO', 'Ply'):'offensive_plays',
 ('Tot Yds & TO', 'Y/P'):'yards_per_play_offense',
 ('Tot Yds & TO', 'DPly'):'Defensive_plays',
 ('Tot Yds & TO', 'DY/P'):'yards_allowed_per_defensive_play',
 ('Tot Yds & TO', 'TO'):'turnovers_lost',
 ('Tot Yds & TO', 'ToP'):'time_of_possesion',
 ('Tot Yds & TO', 'Time'):'drop_this1',
 ('Scoring', 'TD'):'total_TD',
 ('Scoring', 'XPA'):'XPA',
 ('Scoring', 'XPM'):'XPM',
 ('Scoring', 'FGA'):'FGA',
 ('Scoring', 'FGM'):'FGM',
 ('Scoring', '2PA'):'2pa',
 ('Scoring', '2PM'):'2pm',
 ('Scoring', 'Sfty'):'sfty'})

In [14]:
df.columns

Index(['rk', 'team1', 'year', 'date', 'time', 'local_time', 'home_away',
       'team2', 'Week', 'Game_Number', 'day', 'win1?', 'OT', 'points_for',
       'points_against', 'point_diff', 'combined_pts', 'completions',
       'attempts', 'comp_percent', 'passing_yards', 'passing_tds', 'INT',
       'times_sacked', 'sack_yards_lost', 'qbr', 'rushing_attempts',
       'rushing_yards', 'rushing_yards_per_attempt', 'rushing_TD',
       'total_yards', 'offensive_plays', 'yards_per_play_offense',
       'Defensive_plays', 'yards_allowed_per_defensive_play', 'turnovers_lost',
       'time_of_possesion', 'drop_this1', 'total_TD', 'XPA', 'XPM', 'FGA',
       'FGM', '2pa', '2pm', 'sfty'],
      dtype='object')

In [15]:
dfs = df[['team1','date', 'home_away','team2', 'Week', 'Game_Number', 'win1?', 
          'points_for', 'points_against','times_sacked','yards_per_play_offense',
          'yards_allowed_per_defensive_play','turnovers_lost',
           'time_of_possesion', 'total_TD', 'FGM' ]]

In [16]:

stats_20181 = []
for i in range(0,600,100):
    url = """https://www.pro-football-reference.com/play-index/tgl_finder.cgi?request=1&match=game&year_min=2018&year_max=2018&game_type=R&game_num_min=0&game_num_max=99&week_num_min=0&week_num_max=99&temperature_gtlt=lt&c1stat=penalties_yds&c1comp=gte&c5stat=fgm&c5comp=gt&c5val=1.0&order_by=game_date&offset={}"""
    stats_20181.append(pd.read_html(url.format(i))[0])

In [17]:
df1 = pd.concat(stats_20181)
df1

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk                 Tm               Year
0                   1                ATL               2018
1                   2                BUF               2018
2                   3                CAR               2018
3                   4                CHI               2018
4                   5                CIN               2018
..                ...                ...                ...
7                 508                SFO               2018
8                 509                TAM               2018
9                 510                WAS               2018
10                511                ATL               2018
11                512                PHI               2018

   Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                 Date               Time              LTime
0          2018-12-30               1:00               1:00
1          2018-12-30               1:00               1:00
2          2018-12-30               1:00              12:00
3          2018-12-30               4:25               3:00
4          2018-12-30               4:25               1:00
..                ...                ...                ...
7          2018-09-09               1:00               3:00
8          2018-09-09               1:00              12:00
9          2018-09-09               4:25               2:25
10         2018-09-06               8:20               8:20
11         2018-09-06               8:20               8:20

   Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
   Unnamed: 6_level_1                Opp               Week
0                   @                TAM                 17
1                 NaN                MIA                 17
2                   @                NOR                 17
3                   @                MIN                 17
4                   @                PIT                 17
..                ...                ...                ...
7                   @                MIN                  1
8                   @                NOR                  1
9                   @                ARI                  1
10                  @                PHI                  1
11                NaN                ATL                  1

   Unnamed: 9_level_0  ... Penalties            Scoring                        \
                   G#  ...   CombPen CombPenYds      TD XPA  XPM FGA  FGM 2PA
0                  16  ...        12        115       4   4    4   2    2   0
1                  16  ...         7         59       6   6    6   1  NaN   0
2                  16  ...         8        104       4   4    3   2    2   0
3                  16  ...        14        132       3   2    1   1    1   1
4                  16  ...        18        155       1   1    1   2    2   0
..                ...  ...       ...        ...     ...  ..  ...  ..  ...  ..
7                   1  ...        10         73       1   1    1   3    3   0
8                   1  ...        15        147       6   6    6   3    2   0
9                   1  ...        18        130       3   3    3   1    1   0
10                  1  ...        26        236       1   1  NaN   2    2   0
11                  1  ...        26        236       2   1    1   1    1   1


    2PM Sfty
0   NaN  NaN
1   NaN  NaN
2   NaN  NaN
3     1  NaN
4   NaN  NaN
..  ...  ...
7   NaN  NaN
8   NaN  NaN
9   NaN  NaN
10  NaN  NaN
11    1  NaN

[532 rows x 27 columns]

In [18]:
df1[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')] = df1[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')].fillna(value='Home')

In [19]:
                                                                                                                                                                    
df1[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')] = df1[('Unnamed: 6_level_0', 'Unnamed: 6_level_1')].replace(to_replace=['N', '@'], value=['Neutral', 'Away'])

In [20]:
df1.columns = df1.columns.to_flat_index()

In [21]:
df1.reset_index()

,index,"(Unnamed: 0_level_0, Rk)","(Unnamed: 1_level_0, Tm)","(Unnamed: 2_level_0, Year)","(Unnamed: 3_level_0, Date)","(Unnamed: 4_level_0, Time)","(Unnamed: 5_level_0, LTime)","(Unnamed: 6_level_0, Unnamed: 6_level_1)","(Unnamed: 7_level_0, Opp)","(Unnamed: 8_level_0, Week)",...,"(Penalties, CombPen)","(Penalties, CombPenYds)","(Scoring, TD)","(Scoring, XPA)","(Scoring, XPM)","(Scoring, FGA)","(Scoring, FGM)","(Scoring, 2PA)","(Scoring, 2PM)","(Scoring, Sfty)"
0,0,1,ATL,2018,2018-12-30,1:00,1:00,Away,TAM,17,...,12,115,4,4,4,2,2,0,NaN,NaN
1,1,2,BUF,2018,2018-12-30,1:00,1:00,Home,MIA,17,...,7,59,6,6,6,1,NaN,0,NaN,NaN
2,2,3,CAR,2018,2018-12-30,1:00,12:00,Away,NOR,17,...,8,104,4,4,3,2,2,0,NaN,NaN
3,3,4,CHI,2018,2018-12-30,4:25,3:00,Away,MIN,17,...,14,132,3,2,1,1,1,1,1,NaN
4,4,5,CIN,2018,2018-12-30,4:25,1:00,Away,PIT,17,...,18,155,1,1,1,2,2,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,7,508,SFO,2018,2018-09-09,1:00,3:00,Away,MIN,1,...,10,73,1,1,1,3,3,0,NaN,NaN
528,8,509,TAM,2018,2018-09-09,1:00,12:00,Away,NOR,1,...,15,147,6,6,6,3,2,0,NaN,NaN
529,9,510,WAS,2018,2018-09-09,4:25,2:25,Away,ARI,1,...,18,130,3,3,3,1,1,0,NaN,NaN
530,10,511,ATL,2018,2018-09-06,8:20,8:20,Away,PHI,1,...,26,236,1,1,NaN,2,2,0,NaN,NaN
531,11,512,PHI,2018,2018-09-06,8:20,8:20,Home,ATL,1,...,26,236,2,1,1,1,1,1,1,NaN

In [22]:
df1.drop(df1[df1[('Unnamed: 1_level_0', 'Tm')] == 'Tm'].index, inplace=True)

In [24]:
df1 = df1.rename(columns={('Unnamed: 0_level_0', 'Rk'):'rk', 
('Unnamed: 1_level_0', 'Tm'): 'team1',
('Unnamed: 2_level_0', 'Year'): 'year',
('Unnamed: 3_level_0', 'Date'): 'date',
('Unnamed: 4_level_0', 'Time'): 'time',
('Unnamed: 5_level_0', 'LTime'): 'local_time', 
('Unnamed: 6_level_0', 'Unnamed: 6_level_1'): 'home_away',
('Unnamed: 7_level_0', 'Opp'): 'team2',
('Unnamed: 8_level_0', 'Week'): 'Week',
('Unnamed: 9_level_0', 'G#'): 'Game_Number',
('Unnamed: 10_level_0', 'Day'): 'day',
('Unnamed: 11_level_0', 'Result'): 'win1?',
('Unnamed: 12_level_0', 'OT'): 'OT',
('Penalties', 'Yds'): 'penalty_yards1',
('Penalties', 'OppYds'):'penalty_yards2'})

In [25]:
df1.columns

Index([                       'rk',                     'team1',
                            'year',                      'date',
                            'time',                'local_time',
                       'home_away',                     'team2',
                            'Week',               'Game_Number',
                             'day',                     'win1?',
                              'OT',        ('Penalties', 'Pen'),
                  'penalty_yards1',     ('Penalties', 'OppPen'),
                  'penalty_yards2',    ('Penalties', 'CombPen'),
       ('Penalties', 'CombPenYds'),           ('Scoring', 'TD'),
                ('Scoring', 'XPA'),          ('Scoring', 'XPM'),
                ('Scoring', 'FGA'),          ('Scoring', 'FGM'),
                ('Scoring', '2PA'),          ('Scoring', '2PM'),
               ('Scoring', 'Sfty')],
      dtype='object')

In [26]:
dfs1 = df1[['team1', 'team2', 'Week', 'penalty_yards1', 'penalty_yards2']]

In [27]:
dfs.columns

Index(['team1', 'date', 'home_away', 'team2', 'Week', 'Game_Number', 'win1?',
       'points_for', 'points_against', 'times_sacked',
       'yards_per_play_offense', 'yards_allowed_per_defensive_play',
       'turnovers_lost', 'time_of_possesion', 'total_TD', 'FGM'],
      dtype='object')

In [28]:
dfs.shape

(512, 16)

In [29]:
dfs1.columns

Index(['team1', 'team2', 'Week', 'penalty_yards1', 'penalty_yards2'], dtype='object')

In [30]:
dfs1.shape

(512, 5)

In [31]:
dfs2 = dfs.merge(dfs1, on=['team1', 'team2','Week'], how='left')

In [37]:
dfs2.columns

Index(['team1', 'date', 'home_away', 'team2', 'Week', 'Game_Number', 'win1?',
       'points_for', 'points_against', 'times_sacked',
       'yards_per_play_offense', 'yards_allowed_per_defensive_play',
       'turnovers_lost', 'time_of_possesion', 'total_TD', 'FGM',
       'penalty_yards1', 'penalty_yards2'],
      dtype='object')

In [40]:
dfs2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 0 to 511
Data columns (total 18 columns):
team1                               512 non-null object
date                                512 non-null object
home_away                           512 non-null object
team2                               512 non-null object
Week                                512 non-null object
Game_Number                         512 non-null object
win1?                               512 non-null object
points_for                          512 non-null object
points_against                      512 non-null object
times_sacked                        512 non-null object
yards_per_play_offense              512 non-null object
yards_allowed_per_defensive_play    512 non-null object
turnovers_lost                      369 non-null object
time_of_possesion                   512 non-null object
total_TD                            512 non-null object
FGM                                 419 non-null object
penalty_yards1                      512 non-null object
penalty_yards2                      512 non-null object
dtypes: object(18)
memory usage: 76.0+ KB

In [43]:
dfcolumns = ['Week', 'Game_Number',
'points_for', 'points_against', 'times_sacked',
'yards_per_play_offense', 'yards_allowed_per_defensive_play',
'turnovers_lost', 'total_TD', 'FGM', 'penalty_yards1', 'penalty_yards2']

def text_to_num(text):
    return float(text)

def convert_into_float(data):
    data[dfcolumns] = data[dfcolumns].applymap(text_to_num)
    return data

In [44]:
dfs2 = convert_into_float(dfs2)

In [47]:
dfs2 = dfs2.fillna(value=0.0)

In [48]:
dfs2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 0 to 511
Data columns (total 18 columns):
team1                               512 non-null object
date                                512 non-null object
home_away                           512 non-null object
team2                               512 non-null object
Week                                512 non-null float64
Game_Number                         512 non-null float64
win1?                               512 non-null object
points_for                          512 non-null float64
points_against                      512 non-null float64
times_sacked                        512 non-null float64
yards_per_play_offense              512 non-null float64
yards_allowed_per_defensive_play    512 non-null float64
turnovers_lost                      512 non-null float64
time_of_possesion                   512 non-null object
total_TD                            512 non-null float64
FGM                                 512 non-null float64
penalty_yards1                      512 non-null float64
penalty_yards2                      512 non-null float64
dtypes: float64(12), object(6)
memory usage: 76.0+ KB

In [51]:
def top_ratio(text):
    return float(text.split(':')[0])/60 + float(text.split(':')[1])/3600
def time_of_possession_to_ratio(data):
    data['time_of_possesion'] = data['time_of_possesion'].apply(lambda x: top_ratio(x))
    return data

In [52]:
dfs2 = time_of_possession_to_ratio(dfs2)

In [53]:
dfs2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 0 to 511
Data columns (total 18 columns):
team1                               512 non-null object
date                                512 non-null object
home_away                           512 non-null object
team2                               512 non-null object
Week                                512 non-null float64
Game_Number                         512 non-null float64
win1?                               512 non-null object
points_for                          512 non-null float64
points_against                      512 non-null float64
times_sacked                        512 non-null float64
yards_per_play_offense              512 non-null float64
yards_allowed_per_defensive_play    512 non-null float64
turnovers_lost                      512 non-null float64
time_of_possesion                   512 non-null float64
total_TD                            512 non-null float64
FGM                                 512 non-null float64
penalty_yards1                      512 non-null float64
penalty_yards2                      512 non-null float64
dtypes: float64(13), object(5)
memory usage: 76.0+ KB

In [56]:
dfs2['win1?'] = dfs2['win1?'].apply(lambda x: x[0])

,team1,date,home_away,team2,Week,Game_Number,win1?,points_for,points_against,times_sacked,yards_per_play_offense,yards_allowed_per_defensive_play,turnovers_lost,time_of_possesion,total_TD,FGM,penalty_yards1,penalty_yards2
0,ATL,2018-12-30,Away,TAM,17.0,16.0,W,34.0,32.0,1.0,6.4342,7.7321,1.0,0.579444,4.0,2.0,85.0,30.0
1,BUF,2018-12-30,Home,MIA,17.0,16.0,W,42.0,17.0,1.0,6.3500,3.6885,1.0,0.505000,6.0,0.0,24.0,35.0
2,CAR,2018-12-30,Away,NOR,17.0,16.0,W,33.0,14.0,1.0,5.5000,5.7647,0.0,0.557222,4.0,2.0,10.0,94.0
3,CHI,2018-12-30,Away,MIN,17.0,16.0,W,24.0,10.0,0.0,5.2698,3.1538,0.0,0.618889,3.0,1.0,102.0,30.0
4,CIN,2018-12-30,Away,PIT,17.0,16.0,L,13.0,16.0,4.0,4.2609,5.1970,0.0,0.427222,1.0,2.0,85.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,SFO,2018-09-09,Away,MIN,1.0,1.0,L,16.0,24.0,3.0,5.3607,4.8310,4.0,0.480833,1.0,3.0,21.0,52.0
508,TAM,2018-09-09,Away,NOR,1.0,1.0,W,48.0,40.0,0.0,8.5323,8.0508,0.0,0.535833,6.0,2.0,70.0,77.0
509,WAS,2018-09-09,Away,ARI,1.0,1.0,W,24.0,6.0,3.0,5.7200,4.1765,1.0,0.635556,3.0,1.0,63.0,67.0
510,ATL,2018-09-06,Away,PHI,1.0,1.0,L,12.0,18.0,4.0,4.6000,3.6250,1.0,0.463889,1.0,2.0,135.0,101.0
511,PHI,2018-09-06,Home,ATL,1.0,1.0,W,18.0,12.0,2.0,3.6250,4.6000,2.0,0.536111,2.0,1.0,101.0,135.0

In [60]:
dfs2['win1?'] = dfs2['win1?'].replace(to_replace=['W', 'L', 'T'], value=[1.0, 0.0, 0.0])

In [61]:
dfs2 = dfs2.sort_values('Week')

In [64]:
dfs2['home_away'] = dfs2['home_away'].replace(to_replace=['Home', 'Away'], value=[1,0])

In [65]:
dfs2 = dfs2.rename(columns={'home_away':'home'})

In [67]:
dfs2 = dfs2.rename(columns={'team1':'team', 'team2':'opp', 'win1?':'win', 
                            'penalty_yards1':'penalty_yards', 
                            'penalty_yards2':'opp_penalty_yards'})

In [69]:
dfs2['loss'] = 1 - dfs2['win']

In [70]:
dfs2['total_wins'] = dfs2.groupby('team')['win'].cumsum()

In [72]:
dfs2['total_losses'] = dfs2.groupby('team')['loss'].cumsum()

In [73]:
dfs2['away'] = 1 - dfs2['home']

In [74]:
dfs2

,team,date,home,opp,Week,Game_Number,win,points_for,points_against,times_sacked,...,turnovers_lost,time_of_possesion,total_TD,FGM,penalty_yards,opp_penalty_yards,loss,total_wins,total_losses,away
511,PHI,2018-09-06,1,ATL,1.0,1.0,1.0,18.0,12.0,2.0,...,2.0,0.536111,2.0,1.0,101.0,135.0,0.0,1.0,0.0,0
480,DET,2018-09-10,1,NYJ,1.0,1.0,0.0,17.0,48.0,0.0,...,5.0,0.448056,2.0,1.0,15.0,49.0,1.0,0.0,1.0,0
481,NYJ,2018-09-10,0,DET,1.0,1.0,1.0,48.0,17.0,2.0,...,2.0,0.551944,6.0,2.0,49.0,15.0,0.0,1.0,0.0,1
482,OAK,2018-09-10,1,LAR,1.0,1.0,0.0,13.0,33.0,1.0,...,3.0,0.525278,1.0,2.0,155.0,70.0,1.0,0.0,1.0,0
483,LAR,2018-09-10,0,OAK,1.0,1.0,1.0,33.0,13.0,1.0,...,0.0,0.474722,3.0,4.0,70.0,155.0,0.0,1.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,SFO,2018-12-30,0,LAR,17.0,16.0,0.0,32.0,48.0,3.0,...,4.0,0.469444,4.0,1.0,41.0,57.0,1.0,4.0,12.0,1
30,TAM,2018-12-30,1,ATL,17.0,16.0,0.0,32.0,34.0,1.0,...,1.0,0.420556,4.0,2.0,30.0,85.0,1.0,5.0,11.0,0
31,WAS,2018-12-30,1,PHI,17.0,16.0,0.0,0.0,24.0,4.0,...,1.0,0.278056,0.0,0.0,15.0,25.0,1.0,7.0,9.0,0
16,MIN,2018-12-30,1,CHI,17.0,16.0,0.0,10.0,24.0,4.0,...,0.0,0.381111,1.0,1.0,30.0,102.0,1.0,8.0,8.0,0
0,ATL,2018-12-30,0,TAM,17.0,16.0,1.0,34.0,32.0,1.0,...,1.0,0.579444,4.0,2.0,85.0,30.0,0.0,7.0,9.0,1

In [75]:
dfs2.to_csv('2018_nfl_stats.csv')

In [77]:
from selenium import webdriver
import selenium
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment
import re
import json
import time

In [176]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_5.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week5 = pd.read_html(str(table), header=0)[0]
week5

     Date & Time          Favorite  Spread      Underdog
0   10/4 8:20 ET    At New England   -11.0  Indianapolis
1   10/7 1:00 ET         Baltimore    -3.0  At Cleveland
2   10/7 1:00 ET    At Kansas City    -3.0  Jacksonville
3   10/7 1:00 ET         Tennessee    -6.0    At Buffalo
4   10/7 1:00 ET       At Carolina    -6.5     NY Giants
5   10/7 1:00 ET            Denver    -1.0    At NY Jets
6   10/7 1:00 ET     At Pittsburgh    -3.5       Atlanta
7   10/7 1:00 ET        At Detroit    -1.0     Green Bay
8   10/7 1:00 ET     At Cincinnati    -6.0         Miami
9   10/7 4:05 ET    At LA Chargers    -5.5       Oakland
10  10/7 4:25 ET  At San Francisco    -3.0       Arizona
11  10/7 4:25 ET   At Philadelphia    -3.5     Minnesota
12  10/7 4:25 ET           LA Rams    -7.5    At Seattle
13  10/7 8:20 ET        At Houston    -3.5        Dallas

In [177]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_5.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week5a = pd.read_html(str(table),header=0)[0]
week5a

     Unnamed: 0      Unnamed: 1  Unnamed: 2  Unnamed: 3
0  10/8 8:15 ET  At New Orleans          -6  Washington

In [178]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_4.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[40]
week4 = pd.read_html(str(table), header=0)[0]
week4

     Date & Time         Favorite  Spread         Underdog
0   9/27 8:20 ET       At LA Rams    -7.0        Minnesota
1   9/30 1:00 ET   At New England    -6.5            Miami
2   9/30 1:00 ET          Houston    -1.0  At Indianapolis
3   9/30 1:00 ET       At Atlanta    -3.5       Cincinnati
4   9/30 1:00 ET     At Green Bay    -9.0          Buffalo
5   9/30 1:00 ET        At Dallas    -2.5          Detroit
6   9/30 1:00 ET  At Jacksonville    -7.5          NY Jets
7   9/30 1:00 ET       At Chicago    -3.0        Tampa Bay
8   9/30 1:00 ET     Philadelphia    -3.0     At Tennessee
9   9/30 4:05 ET          Seattle    -3.5       At Arizona
10  9/30 4:05 ET       At Oakland    -2.5        Cleveland
11  9/30 4:25 ET   At LA Chargers   -10.0    San Francisco
12  9/30 4:25 ET      New Orleans    -3.0     At NY Giants
13  9/30 8:20 ET    At Pittsburgh    -3.0        Baltimore

In [179]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_4.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[41]
week4a = pd.read_html(str(table), header=0)[0]
week4a

     Unnamed: 0   Unnamed: 1  Unnamed: 2 Unnamed: 3
0  10/1 8:15 ET  Kansas City        -3.5  At Denver

In [175]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_6.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week6 = pd.read_html(str(table), header=0)[0]
week6

      Date & Time        Favorite  Spread            Underdog
0   10/11 8:20 ET    Philadelphia    -2.0        At NY Giants
1   10/14 1:00 ET    At Minnesota    -9.5             Arizona
2   10/14 1:00 ET    At Cleveland    -1.0         LA Chargers
3   10/14 1:00 ET         Chicago    -7.0            At Miami
4   10/14 1:00 ET        Carolina    -1.0       At Washington
5   10/14 1:00 ET      At NY Jets    -2.5        Indianapolis
6   10/14 1:00 ET   At Cincinnati    -1.5          Pittsburgh
7   10/14 1:00 ET      At Atlanta    -3.0           Tampa Bay
8   10/14 1:00 ET         Seattle    -3.0  Oakland(At London)
9   10/14 1:00 ET      At Houston   -10.0             Buffalo
10  10/14 4:05 ET         LA Rams    -7.0           At Denver
11  10/14 4:25 ET    Jacksonville    -3.0           At Dallas
12  10/14 4:25 ET       Baltimore    -2.5        At Tennessee
13  10/14 8:20 ET  At New England    -4.0         Kansas City

In [174]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_6.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week6a = pd.read_html(str(table), header=0)[0]
week6a

      Unnamed: 0    Unnamed: 1  Unnamed: 2     Unnamed: 3
0  10/15 8:15 ET  At Green Bay        -9.5  San Francisco

In [180]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_3.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[40]
week3 = pd.read_html(str(table), header=0)[0]
week3

     Date & Time         Favorite  Spread       Underdog
0   9/20 8:20 ET     At Cleveland    -3.0        NY Jets
1   9/23 1:00 ET  At Philadelphia    -6.5   Indianapolis
2   9/23 1:00 ET      At Carolina    -2.5     Cincinnati
3   9/23 1:00 ET  At Jacksonville   -10.0      Tennessee
4   9/23 1:00 ET       At Atlanta    -1.5    New Orleans
5   9/23 1:00 ET     At Baltimore    -5.5         Denver
6   9/23 1:00 ET       At Houston    -6.0      NY Giants
7   9/23 1:00 ET         At Miami    -3.0        Oakland
8   9/23 1:00 ET        Green Bay    -2.5  At Washington
9   9/23 1:00 ET     At Minnesota   -17.0        Buffalo
10  9/23 1:00 ET   At Kansas City    -6.0  San Francisco
11  9/23 4:05 ET       At LA Rams    -7.0    LA Chargers
12  9/23 4:25 ET          Chicago    -5.5     At Arizona
13  9/23 4:25 ET       At Seattle    -1.5         Dallas
14  9/23 8:20 ET      New England    -7.0     At Detroit

In [181]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_3.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[41]
week3a = pd.read_html(str(table), header=0)[0]
week3a

     Unnamed: 0    Unnamed: 1  Unnamed: 2  Unnamed: 3
0  9/24 8:15 ET  At Tampa Bay          -1  Pittsburgh

In [182]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_2.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[40]
week2 = pd.read_html(str(table), header=0)[0]
week2

     Date & Time          Favorite  Spread         Underdog
0   9/13 8:20 ET         Baltimore    -1.0    At Cincinnati
1   9/16 1:00 ET     At Washington    -6.0     Indianapolis
2   9/16 1:00 ET        At Atlanta    -5.5         Carolina
3   9/16 1:00 ET         Minnesota    -2.0     At Green Bay
4   9/16 1:00 ET       LA Chargers    -7.5       At Buffalo
5   9/16 1:00 ET           Houston    -3.5     At Tennessee
6   9/16 1:00 ET     At Pittsburgh    -4.5      Kansas City
7   9/16 1:00 ET        At NY Jets    -3.0            Miami
8   9/16 1:00 ET      Philadelphia    -3.0     At Tampa Bay
9   9/16 1:00 ET    At New Orleans    -9.5        Cleveland
10  9/16 4:05 ET        At LA Rams   -12.5          Arizona
11  9/16 4:05 ET  At San Francisco    -6.0          Detroit
12  9/16 4:25 ET       New England    -1.5  At Jacksonville
13  9/16 4:25 ET         At Denver    -6.0          Oakland
14  9/16 8:20 ET         At Dallas    -3.0        NY Giants

In [183]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_2.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[41]
week2a = pd.read_html(str(table), header=0)[0]
week2a

     Unnamed: 0  Unnamed: 1  Unnamed: 2 Unnamed: 3
0  9/17 8:15 ET  At Chicago          -5    Seattle

In [111]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_1.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[40]
week1 = pd.read_html(str(table), header=0)[0]
week1

    Date & Time         Favorite Spread       Underdog
0   9/6 8:20 ET  At Philadelphia     PK        Atlanta
1   9/9 1:00 ET       Pittsburgh   -3.5   At Cleveland
2   9/9 1:00 ET     At Minnesota   -6.5  San Francisco
3   9/9 1:00 ET  At Indianapolis     PK     Cincinnati
4   9/9 1:00 ET     At Baltimore     -8        Buffalo
5   9/9 1:00 ET     Jacksonville     -3   At NY Giants
6   9/9 1:00 ET   At New Orleans    -10      Tampa Bay
7   9/9 1:00 ET   At New England     -6        Houston
8   9/9 1:00 ET         At Miami     PK      Tennessee
9   9/9 4:05 ET   At LA Chargers   -3.5    Kansas City
10  9/9 4:25 ET        At Denver     -3        Seattle
11  9/9 4:25 ET      At Carolina     -3         Dallas
12  9/9 4:25 ET       At Arizona     -2     Washington
13  9/9 8:20 ET     At Green Bay     -7        Chicago

In [126]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_1.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week1a = pd.read_html(str(table), header=0)[0]
week1a

      Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3
0   9/10 7:10 ET  At Detroit        -7.0     NY Jets
1  9/10 10:20 ET     LA Rams        -6.5  At Oakland

In [172]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_7.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week7a = pd.read_html(str(table), header=0)[0]
week7a

      Unnamed: 0  Unnamed: 1  Unnamed: 2 Unnamed: 3
0  10/22 8:15 ET  At Atlanta          -4  NY Giants

In [171]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_7.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week7 = pd.read_html(str(table), header=0)[0]
week7

      Date & Time               Favorite  Spread          Underdog
0   10/18 8:20 ET                 Denver    -1.0        At Arizona
1   10/21 9:30 ET  LA Chargers At London    -6.5         Tennessee
2   10/21 1:00 ET            New England    -2.0        At Chicago
3   10/21 1:00 ET           At Tampa Bay    -3.5         Cleveland
4   10/21 1:00 ET                Detroit    -3.0          At Miami
5   10/21 1:00 ET        At Philadelphia    -5.0          Carolina
6   10/21 1:00 ET        At Indianapolis    -7.0           Buffalo
7   10/21 8:20 ET         At Kansas City    -6.5        Cincinnati
8   10/21 1:00 ET              Minnesota    -3.5        At NY Jets
9   10/21 1:00 ET        At Jacksonville    -3.5           Houston
10  10/21 4:05 ET           At Baltimore    -2.5       New Orleans
11  10/21 4:25 ET                 Dallas    -2.0     At Washington
12  10/21 4:25 ET                LA Rams    -9.0  At San Francisco

In [170]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_8.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week8 = pd.read_html(str(table), header=0)[0]
week8

      Date & Time        Favorite  Spread                Underdog
0   10/25 8:20 ET      At Houston    -7.5                   Miami
1   10/28 9:30 ET    Philadelphia    -4.0  Jacksonville At London
2   10/28 1:00 ET   At Pittsburgh    -8.5               Cleveland
3   10/28 1:00 ET  At Kansas City    -9.0                  Denver
4   10/28 1:00 ET      At Chicago    -8.5                 NY Jets
5   10/28 1:00 ET      Washington    -1.0            At NY Giants
6   10/28 1:00 ET      At Detroit    -3.0                 Seattle
7   10/28 1:00 ET   At Cincinnati    -3.5               Tampa Bay
8   10/28 1:00 ET       Baltimore    -3.0             At Carolina
9   10/28 4:05 ET    Indianapolis    -3.5              At Oakland
10  10/28 4:25 ET   San Francisco    -3.0              At Arizona
11  10/28 4:25 ET      At LA Rams    -7.5               Green Bay
12  10/28 8:20 ET     New Orleans    -2.5            At Minnesota

In [169]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_8.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week8a = pd.read_html(str(table), header=0)[0]
week8a

      Unnamed: 0   Unnamed: 1  Unnamed: 2  Unnamed: 3
0  10/29 8:15 ET  New England       -13.5  At Buffalo

In [168]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_9.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week9a = pd.read_html(str(table), header=0)[0]
week9a

     Unnamed: 0 Unnamed: 1  Unnamed: 2 Unnamed: 3
0  11/5 8:15 ET  At Dallas          -5  Tennessee

In [167]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_9.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week9 = pd.read_html(str(table), header=0)[0]
week9

     Date & Time        Favorite  Spread          Underdog
0   11/1 8:20 ET         Oakland    -1.5  At San Francisco
1   11/4 1:00 ET    At Minnesota    -5.0           Detroit
2   11/4 1:00 ET     Kansas City    -8.5      At Cleveland
3   11/4 1:00 ET    At Baltimore    -1.5        Pittsburgh
4   11/4 1:00 ET     At Carolina    -6.0         Tampa Bay
5   11/4 1:00 ET        At Miami    -3.0           NY Jets
6   11/4 1:00 ET   At Washington    -1.5           Atlanta
7   11/4 1:00 ET         Chicago   -10.0        At Buffalo
8   11/4 4:05 ET       At Denver    -1.0           Houston
9   11/4 4:05 ET      At Seattle    -1.0       LA Chargers
10  11/4 4:25 ET         LA Rams    -2.0    At New Orleans
11  11/4 8:20 ET  At New England    -5.0         Green Bay

In [166]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_10.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week10 = pd.read_html(str(table), header=0)[0]
week10

      Date & Time         Favorite  Spread       Underdog
0    11/8 8:20 ET    At Pittsburgh    -3.5       Carolina
1   11/11 1:00 ET       At NY Jets    -7.0        Buffalo
2   11/11 1:00 ET          Atlanta    -5.5   At Cleveland
3   11/11 1:00 ET      New Orleans    -6.0  At Cincinnati
4   11/11 1:00 ET     At Tampa Bay    -3.5     Washington
5   11/11 1:00 ET      New England    -6.5   At Tennessee
6   11/11 4:25 ET     At Green Bay   -12.0          Miami
7   11/11 1:00 ET  At Indianapolis    -3.0   Jacksonville
8   11/11 1:00 ET       At Chicago    -7.0        Detroit
9   11/11 1:00 ET   At Kansas City   -16.0        Arizona
10  11/11 4:05 ET      LA Chargers   -10.5     At Oakland
11  11/11 4:25 ET       At LA Rams    -9.5        Seattle
12  11/11 8:20 ET  At Philadelphia    -7.5         Dallas

In [165]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_10.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week10a = pd.read_html(str(table), header=0)[0]
week10a

      Unnamed: 0        Unnamed: 1  Unnamed: 2 Unnamed: 3
0  11/12 8:15 ET  At San Francisco          -3  NY Giants

In [164]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_11.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week11a = pd.read_html(str(table), header=0)[0]
week11a

      Unnamed: 0                Unnamed: 1  Unnamed: 2   Unnamed: 3
0  11/19 8:15 ET  LA Rams (At Mexico City)          -3  Kansas City

In [163]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_11.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week11 = pd.read_html(str(table), header=0)[0]
week11

      Date & Time         Favorite  Spread         Underdog
0   11/15 8:20 ET       At Seattle    -3.0        Green Bay
1   11/18 1:00 ET         Carolina    -4.0       At Detroit
2   11/18 1:00 ET       At Atlanta    -3.5           Dallas
3   11/18 1:00 ET     At Baltimore    -6.5       Cincinnati
4   11/18 8:20 ET       At Chicago    -2.5        Minnesota
5   11/18 4:25 ET   At New Orleans    -7.0     Philadelphia
6   11/18 1:00 ET  At Indianapolis    -1.5        Tennessee
7   11/18 1:00 ET          Houston    -3.0    At Washington
8   11/18 1:00 ET     At NY Giants    -3.0        Tampa Bay
9   11/18 4:05 ET   At LA Chargers    -7.0           Denver
10  11/18 4:05 ET       At Arizona    -4.5          Oakland
11  11/18 1:00 ET       Pittsburgh    -4.0  At Jacksonville

In [162]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_12.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week12 = pd.read_html(str(table), header=0)[0]
week12

       Date & Time         Favorite  Spread       Underdog
0   11/22 12:35 ET          Chicago    -3.0     At Detroit
1    11/22 4:30 ET        At Dallas    -7.0     Washington
2    11/22 8:20 ET   At New Orleans   -12.5        Atlanta
3    11/25 1:00 ET     Jacksonville    -3.0     At Buffalo
4    11/25 1:00 ET     At Baltimore   -13.0        Oakland
5    11/25 1:00 ET     At Tampa Bay    -1.5  San Francisco
6    11/25 1:00 ET  At Philadelphia    -5.0      NY Giants
7    11/25 1:00 ET    At Cincinnati    -1.0      Cleveland
8    11/25 1:00 ET      New England   -12.5     At NY Jets
9    11/25 1:00 ET      At Carolina    -3.0        Seattle
10   11/25 4:25 ET  At Indianapolis    -8.5          Miami
11   11/25 4:05 ET   At LA Chargers   -14.0        Arizona
12   11/25 4:25 ET       Pittsburgh    -3.0      At Denver
13   11/25 8:20 ET     At Minnesota    -3.5      Green Bay

In [161]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_12.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week12a = pd.read_html(str(table), header=0)[0]
week12a

      Unnamed: 0  Unnamed: 1  Unnamed: 2 Unnamed: 3
0  11/26 8:15 ET  At Houston          -4  Tennessee

In [160]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_13.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week13a = pd.read_html(str(table), header=0)[0]
week13a

     Unnamed: 0       Unnamed: 1  Unnamed: 2  Unnamed: 3
0  12/3 8:15 ET  At Philadelphia        -5.5  Washington

In [159]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_13.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week13 = pd.read_html(str(table), header=0)[0]
week13

      Date & Time        Favorite  Spread         Underdog
0   11/29 8:20 ET     New Orleans    -7.5        At Dallas
1    12/2 1:00 ET    Indianapolis    -4.5  At Jacksonville
2    12/2 8:20 ET   At Pittsburgh    -3.0      LA Chargers
3    12/2 1:00 ET        Carolina    -3.5     At Tampa Bay
4    12/2 1:00 ET      At Atlanta    -2.5        Baltimore
5    12/2 1:00 ET      At Houston    -5.5        Cleveland
6    12/2 1:00 ET        At Miami    -3.5          Buffalo
7    12/2 1:00 ET         Chicago    -3.5     At NY Giants
8    12/2 1:00 ET          Denver    -4.0    At Cincinnati
9    12/2 1:00 ET         LA Rams   -10.0       At Detroit
10   12/2 1:00 ET    At Green Bay   -13.5          Arizona
11   12/2 4:05 ET     Kansas City   -14.0       At Oakland
12   12/2 4:05 ET    At Tennessee    -9.5          NY Jets
13   12/2 4:25 ET  At New England    -6.0        Minnesota
14   12/2 8:20 ET      At Seattle    -9.5    San Francisco

In [158]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_14.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week14 = pd.read_html(str(table), header=0)[0]
week14

     Date & Time        Favorite  Spread          Underdog
0   12/6 8:20 ET    At Tennessee    -5.5      Jacksonville
1   12/9 1:00 ET  At Kansas City    -6.5         Baltimore
2   12/9 1:00 ET      At Houston    -4.0      Indianapolis
3   12/9 1:00 ET        Carolina    -1.0      At Cleveland
4   12/9 1:00 ET    At Green Bay    -4.0           Atlanta
5   12/9 1:00 ET     New Orleans    -9.5      At Tampa Bay
6   12/9 1:00 ET      At Buffalo    -4.5           NY Jets
7   12/9 1:00 ET     New England    -9.0          At Miami
8   12/9 8:20 ET         LA Rams    -3.0        At Chicago
9   12/9 1:00 ET       NY Giants    -3.0     At Washington
10  12/9 4:05 ET          Denver    -3.0  At San Francsico
11  12/9 4:05 ET  At LA Chargers   -16.5        Cincinnati
12  12/9 4:25 ET         Detroit    -2.5        At Arizona
13  12/9 4:25 ET       At Dallas    -3.5      Philadelphia
14  12/9 4:25 ET      Pittsburgh   -10.0        At Oakland

In [157]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_14.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week14a = pd.read_html(str(table), header=0)[0]
week14a

      Unnamed: 0  Unnamed: 1  Unnamed: 2 Unnamed: 3
0  12/10 8:15 ET  At Seattle          -3  Minnesota

In [156]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_15.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week15a = pd.read_html(str(table), header=0)[0]
week15a

      Unnamed: 0   Unnamed: 1  Unnamed: 2   Unnamed: 3
0  12/17 8:15 ET  New Orleans          -6  At Carolina

In [155]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_15.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week15 = pd.read_html(str(table), header=0)[0]
week15

      Date & Time         Favorite  Spread          Underdog
0   12/13 8:20 ET   At Kansas City    -3.5       LA Chargers
1   12/15 4:30 ET          Houston    -7.0        At NY Jets
2   12/15 8:20 ET        At Denver    -1.5         Cleveland
3   12/16 1:00 ET     At Minnesota    -7.5             Miami
4   12/16 1:00 ET    At Cincinnati    -3.0           Oakland
5   12/16 1:00 ET     At Baltimore    -8.5         Tampa Bay
6   12/16 1:00 ET  At Indianapolis    -3.0            Dallas
7   12/16 1:00 ET       At Buffalo    -2.5           Detroit
8   12/16 1:00 ET       At Chicago    -5.5         Green Bay
9   12/16 1:00 ET        Tennessee    -2.0      At NY Giants
10  12/16 1:00 ET  At Jacksonville    -7.5        Washington
11  12/16 1:00 ET       At Atlanta    -9.0           Arizona
12  12/16 4:05 ET          Seattle    -4.0  At San Francisco
13  12/16 4:25 ET      New England    -2.5     At Pittsburgh
14  12/16 8:20 ET       At LA Rams   -13.5      Philadelphia

In [154]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_16.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week16 = pd.read_html(str(table), header=0)[0]
week16

      Date & Time         Favorite  Spread          Underdog
0   12/22 4:30 ET     At Tennessee   -11.0        Washington
1   12/22 8:20 ET   At LA Chargers    -4.0         Baltimore
2   12/23 1:00 ET        At Dallas    -7.0         Tampa Bay
3   12/23 1:00 ET   At New England   -13.5           Buffalo
4   12/23 1:00 ET          Atlanta    -3.0       At Carolina
5   12/23 1:00 ET         At Miami    -3.0      Jacksonville
6   12/23 1:00 ET  At Indianapolis    -9.5         NY Giants
7   12/23 1:00 ET  At Philadelphia    -2.0           Houston
8   12/23 1:00 ET        Minnesota    -6.5        At Detroit
9   12/23 1:00 ET        Green Bay    -3.0        At NY Jets
10  12/23 1:00 ET     At Cleveland    -9.5        Cincinnati
11  12/23 4:05 ET          LA Rams   -14.0        At Arizona
12  12/23 4:05 ET          Chicago    -3.5  At San Francisco
13  12/23 4:25 ET   At New Orleans    -6.5        Pittsburgh
14  12/23 8:20 ET      Kansas City    -1.0        At Seattle

In [153]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_16.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[38]
week16a = pd.read_html(str(table), header=0)[0]
week16a

      Unnamed: 0 Unnamed: 1  Unnamed: 2  Unnamed: 3
0  12/24 8:15 ET     Denver        -2.5  At Oakland

In [151]:
url = '''http://www.footballlocks.com/nfl_point_spreads_week_17.shtml#Closing%20NFL%20Point%20Spreads%20Week%2017,%202018'''
soup = BeautifulSoup(requests.get(url).text)
table = soup.find_all('table')[37]
week17 = pd.read_html(str(table), header=0)[0]
week17

      Date & Time        Favorite  Spread       Underdog
0   12/30 1:00 ET    At NY Giants    -7.0         Dallas
1   12/30 4:25 ET  At Kansas City   -14.0        Oakland
2   12/30 1:00 ET  At New Orleans    -8.0       Carolina
3   12/30 1:00 ET  At New England   -14.0        NY Jets
4   12/30 4:25 ET    Philadelphia    -6.0  At Washington
5   12/30 1:00 ET    At Green Bay    -7.5        Detroit
6   12/30 1:00 ET      At Houston    -7.0   Jacksonville
7   12/30 4:25 ET    At Baltimore    -7.0      Cleveland
8   12/30 1:00 ET         Atlanta    -2.5   At Tampa Bay
9   12/30 1:00 ET      At Buffalo    -5.5          Miami
10  12/30 8:25 ET    Indianapolis    -5.0   At Tennessee
11  12/30 4:25 ET   At Pittsburgh   -13.5     Cincinnati
12  12/30 4:25 ET    At Minnesota    -6.0        Chicago
13  12/30 4:25 ET     LA Chargers    -7.0      At Denver
14  12/30 4:25 ET      At Seattle   -15.0        Arizona
15  12/30 4:25 ET      At LA Rams   -11.0  San Francisco

In [184]:
frames = [week1, week2, week3, week4, week5, week6, week7, week8, week9, week10,
         week11, week12, week13, week14, week15, week16, week17]
df10 = pd.concat(frames)

In [185]:
df10

      Date & Time         Favorite Spread       Underdog
0     9/6 8:20 ET  At Philadelphia     PK        Atlanta
1     9/9 1:00 ET       Pittsburgh   -3.5   At Cleveland
2     9/9 1:00 ET     At Minnesota   -6.5  San Francisco
3     9/9 1:00 ET  At Indianapolis     PK     Cincinnati
4     9/9 1:00 ET     At Baltimore     -8        Buffalo
..            ...              ...    ...            ...
11  12/30 4:25 ET    At Pittsburgh  -13.5     Cincinnati
12  12/30 4:25 ET     At Minnesota     -6        Chicago
13  12/30 4:25 ET      LA Chargers     -7      At Denver
14  12/30 4:25 ET       At Seattle    -15        Arizona
15  12/30 4:25 ET       At LA Rams    -11  San Francisco

[239 rows x 4 columns]

In [187]:
frames2 = [week1a, week2a, week3a, week4a, week5a, week6a, week7a, week8a, week9a, week10a,
         week11a, week12a, week13a, week14a, week15a, week16a]
df11 = pd.concat(frames2)

In [189]:
df11 = df11.rename(columns={'Unnamed: 0': 'Date & Time', 'Unnamed: 1': 'Favorite',
                            'Unnamed: 2':'Spread', 'Unnamed: 3':'Underdog'})
df11

     Date & Time                  Favorite  Spread       Underdog
0   9/10 7:10 ET                At Detroit    -7.0        NY Jets
1  9/10 10:20 ET                   LA Rams    -6.5     At Oakland
0   9/17 8:15 ET                At Chicago    -5.0        Seattle
0   9/24 8:15 ET              At Tampa Bay    -1.0     Pittsburgh
0   10/1 8:15 ET               Kansas City    -3.5      At Denver
0   10/8 8:15 ET            At New Orleans    -6.0     Washington
0  10/15 8:15 ET              At Green Bay    -9.5  San Francisco
0  10/22 8:15 ET                At Atlanta    -4.0      NY Giants
0  10/29 8:15 ET               New England   -13.5     At Buffalo
0   11/5 8:15 ET                 At Dallas    -5.0      Tennessee
0  11/12 8:15 ET          At San Francisco    -3.0      NY Giants
0  11/19 8:15 ET  LA Rams (At Mexico City)    -3.0    Kansas City
0  11/26 8:15 ET                At Houston    -4.0      Tennessee
0   12/3 8:15 ET           At Philadelphia    -5.5     Washington
0  12/10 8:15 ET                At Seattle    -3.0      Minnesota
0  12/17 8:15 ET               New Orleans    -6.0    At Carolina
0  12/24 8:15 ET                    Denver    -2.5     At Oakland

In [190]:
frames3 = [df10, df11]
df12 = pd.concat(frames3)
df12

      Date & Time         Favorite Spread       Underdog
0     9/6 8:20 ET  At Philadelphia     PK        Atlanta
1     9/9 1:00 ET       Pittsburgh   -3.5   At Cleveland
2     9/9 1:00 ET     At Minnesota   -6.5  San Francisco
3     9/9 1:00 ET  At Indianapolis     PK     Cincinnati
4     9/9 1:00 ET     At Baltimore     -8        Buffalo
..            ...              ...    ...            ...
0   11/26 8:15 ET       At Houston     -4      Tennessee
0    12/3 8:15 ET  At Philadelphia   -5.5     Washington
0   12/10 8:15 ET       At Seattle     -3      Minnesota
0   12/17 8:15 ET      New Orleans     -6    At Carolina
0   12/24 8:15 ET           Denver   -2.5     At Oakland

[256 rows x 4 columns]

In [198]:
df12 = df12.reset_index()
df12 = df12.drop(columns='index')

In [208]:
df12['Date & Time'][0].split()[0] + '/2018'

'9/6/2018'

In [210]:
df12['Date & Time'] = df12['Date & Time'].apply(lambda x: x.split()[0] + '/2018')
df12

    Date & Time         Favorite Spread       Underdog
0      9/6/2018  At Philadelphia     PK        Atlanta
1      9/9/2018       Pittsburgh   -3.5   At Cleveland
2      9/9/2018     At Minnesota   -6.5  San Francisco
3      9/9/2018  At Indianapolis     PK     Cincinnati
4      9/9/2018     At Baltimore     -8        Buffalo
..          ...              ...    ...            ...
251  11/26/2018       At Houston     -4      Tennessee
252   12/3/2018  At Philadelphia   -5.5     Washington
253  12/10/2018       At Seattle     -3      Minnesota
254  12/17/2018      New Orleans     -6    At Carolina
255  12/24/2018           Denver   -2.5     At Oakland

[256 rows x 4 columns]

In [211]:
df12 = df12.replace(to_replace='At', value='')
df12

    Date & Time         Favorite Spread       Underdog
0      9/6/2018  At Philadelphia     PK        Atlanta
1      9/9/2018       Pittsburgh   -3.5   At Cleveland
2      9/9/2018     At Minnesota   -6.5  San Francisco
3      9/9/2018  At Indianapolis     PK     Cincinnati
4      9/9/2018     At Baltimore     -8        Buffalo
..          ...              ...    ...            ...
251  11/26/2018       At Houston     -4      Tennessee
252   12/3/2018  At Philadelphia   -5.5     Washington
253  12/10/2018       At Seattle     -3      Minnesota
254  12/17/2018      New Orleans     -6    At Carolina
255  12/24/2018           Denver   -2.5     At Oakland

[256 rows x 4 columns]

In [215]:
df12['Spread'] = df12['Spread'].replace(to_replace=['PK'], value='0.0')
df12['Spread'] = df12['Spread'].apply(lambda x: float(x))

    Date & Time         Favorite  Spread       Underdog
0      9/6/2018  At Philadelphia     0.0        Atlanta
1      9/9/2018       Pittsburgh    -3.5   At Cleveland
2      9/9/2018     At Minnesota    -6.5  San Francisco
3      9/9/2018  At Indianapolis     0.0     Cincinnati
4      9/9/2018     At Baltimore    -8.0        Buffalo
..          ...              ...     ...            ...
251  11/26/2018       At Houston    -4.0      Tennessee
252   12/3/2018  At Philadelphia    -5.5     Washington
253  12/10/2018       At Seattle    -3.0      Minnesota
254  12/17/2018      New Orleans    -6.0    At Carolina
255  12/24/2018           Denver    -2.5     At Oakland

[256 rows x 4 columns]

In [217]:
df12 = df12.rename(columns={'Favorite':'team', 'Underdog':'opp'})

    Date & Time             team  Spread            opp
0      9/6/2018  At Philadelphia     0.0        Atlanta
1      9/9/2018       Pittsburgh    -3.5   At Cleveland
2      9/9/2018     At Minnesota    -6.5  San Francisco
3      9/9/2018  At Indianapolis     0.0     Cincinnati
4      9/9/2018     At Baltimore    -8.0        Buffalo
..          ...              ...     ...            ...
251  11/26/2018       At Houston    -4.0      Tennessee
252   12/3/2018  At Philadelphia    -5.5     Washington
253  12/10/2018       At Seattle    -3.0      Minnesota
254  12/17/2018      New Orleans    -6.0    At Carolina
255  12/24/2018           Denver    -2.5     At Oakland

[256 rows x 4 columns]

In [218]:
df12 = df12.rename(columns={'Spread':'spread'})

In [223]:
df12.columns

Index(['Date & Time', 'team', 'spread', 'opp'], dtype='object')

In [220]:
df13 = df12[['Date & Time', 'opp', 'spread', 'team']]

In [222]:
df13['spread'] = df13['spread'] *-1

In [224]:
df13.columns = ['Date & Time', 'team', 'spread', 'opp']

In [225]:
frame = [df12, df13]
spreads = pd.concat(frame)
spreads

    Date & Time             team  spread              opp
0      9/6/2018  At Philadelphia     0.0          Atlanta
1      9/9/2018       Pittsburgh    -3.5     At Cleveland
2      9/9/2018     At Minnesota    -6.5    San Francisco
3      9/9/2018  At Indianapolis     0.0       Cincinnati
4      9/9/2018     At Baltimore    -8.0          Buffalo
..          ...              ...     ...              ...
251  11/26/2018        Tennessee     4.0       At Houston
252   12/3/2018       Washington     5.5  At Philadelphia
253  12/10/2018        Minnesota     3.0       At Seattle
254  12/17/2018      At Carolina     6.0      New Orleans
255  12/24/2018       At Oakland     2.5           Denver

[512 rows x 4 columns]

In [227]:
spreads['team'].unique()

array(['At Philadelphia', 'Pittsburgh', 'At Minnesota', 'At Indianapolis',
       'At Baltimore', 'Jacksonville', 'At New Orleans', 'At New England',
       'At Miami', 'At LA Chargers', 'At Denver', 'At Carolina',
       'At Arizona', 'At Green Bay', 'Baltimore', 'At Washington',
       'At Atlanta', 'Minnesota', 'LA Chargers', 'Houston',
       'At Pittsburgh', 'At NY Jets', 'Philadelphia', 'At LA Rams',
       'At San Francisco', 'New England', 'At Dallas', 'At Cleveland',
       'At Jacksonville', 'At Houston', 'Green Bay', 'At Kansas City',
       'Chicago', 'At Seattle', 'At Chicago', 'Seattle', 'At Oakland',
       'New Orleans', 'Tennessee', 'Denver', 'At Detroit',
       'At Cincinnati', 'LA Rams', 'Carolina', 'LA Chargers At London',
       'At Tampa Bay', 'Detroit', 'Dallas', 'Washington', 'Indianapolis',
       'San Francisco', 'Oakland', 'Kansas City', 'Atlanta',
       'At NY Giants', 'At Tennessee', 'At Buffalo', 'NY Giants',
       'LA Rams (At Mexico City)', 'Cincinnati', 'Buffalo', 'Tampa Bay',
       'Miami', 'Cleveland', 'Arizona', 'NY Jets', 'Oakland(At London)',
       'Jacksonville At London', 'At San Francsico'], dtype=object)

In [234]:
 td1 = {'Chicago': 'BEARS', 'At Chicago':'BEARS', 
        'NY Jets': 'JETS','At NY Jets':'JETS', 
        'LA Rams': 'RAMS', 'LA Rams (At Mexico City)': 'RAMS', 
         'Miami': 'DOLPHINS', 'At Miami': 'DOLPHINS', 'Jacksonville': 'JAGUARS',
        'At Jacksonville': 'JAGUARS', 'Tennessee':'TITANS', 'At Tennessee':'TITANS', 
        'Washington':'REDSKINS', 'At Washington':'REDSKINS', 'Atlanta': 'FALCONS', 
        'At Atlanta': 'FALCONS', 'Cincinnati':'BENGALS', 'At Cincinnati':'BENGALS', 
        'LA Chargers':'CHARGERS', 'At LA Chargers':'CHARGERS', 
        'LA Chargers At London': 'CHARGERS', 'San Francisco':'49ERS', 
        'At San Francisco':'49ERS', 'Arizona':'CARDINALS','At Arizona':'CARDINALS',
        'NY Giants':'GIANTS','At NY Giants':'GIANTS', 'Pittsburgh':'STEELERS', 
        'At Pittsburgh':'STEELERS','Houston':'TEXANS', 'At Houston':'TEXANS', 
        'At Denver':'BRONCOS', 'Denver':'BRONCOS', 'Tampa Bay':'BUCCANEERS',
        'At Tampa Bay':'BUCCANEERS','Green Bay':'PACKERS','At Green Bay':'PACKERS',
        'Dallas':'COWBOYS','At Dallas':'COWBOYS','Baltimore':'RAVENS', 
        'At Baltimore':'RAVENS', 'Buffalo':'BILLS', 'At Buffalo':'BILLS', 
        'Indianapolis':'COLTS','At Indianapolis':'COLTS',
        'Seattle':'SEAHAWKS','At Seattle':'SEAHAWKS','At Oakland':'RAIDERS', 
        'At New Orleans':'SAINTS', 'Oakland':'RAIDERS','New Orleans':'SAINTS',
        'Cleveland':'BROWNS', 'At Cleveland':'BROWNS', 'Detroit':'LIONS', 
        'At Detroit': 'LIONS', 'Philadelphia':'EAGLES', 'At Philadelphia':'EAGLES', 
        'At Kansas City':'CHIEFS','At Minnesota':'VIKINGS', 'At New England':'PATRIOTS',
        'Kansas City':'CHIEFS','Minnesota':'VIKINGS','New England':'PATRIOTS', 
        'Carolina':'PANTHERS', 'At Carolina':'PANTHERS'}

In [237]:
 td2 = {'Chicago': 'BEARS', 'At Chicago':'BEARS', 
        'NY Jets': 'JETS','At NY Jets':'JETS', 
        'LA Rams': 'RAMS', 'LA Rams (At Mexico City)': 'RAMS', 
         'Miami': 'DOLPHINS', 'At Miami': 'DOLPHINS', 'Jacksonville': 'JAGUARS',
        'At Jacksonville': 'JAGUARS', 'Tennessee':'TITANS', 'At Tennessee':'TITANS', 
        'Washington':'REDSKINS', 'At Washington':'REDSKINS', 'Atlanta': 'FALCONS', 
        'At Atlanta': 'FALCONS', 'Cincinnati':'BENGALS', 'At Cincinnati':'BENGALS', 
        'LA Chargers':'CHARGERS', 'At LA Chargers':'CHARGERS', 
        'LA Chargers At London': 'CHARGERS', 'San Francisco':'49ERS', 
        'At San Francisco':'49ERS', 'Arizona':'CARDINALS','At Arizona':'CARDINALS',
        'NY Giants':'GIANTS','At NY Giants':'GIANTS', 'Pittsburgh':'STEELERS', 
        'At Pittsburgh':'STEELERS','Houston':'TEXANS', 'At Houston':'TEXANS', 
        'At Denver':'BRONCOS', 'Denver':'BRONCOS', 'Tampa Bay':'BUCCANEERS',
        'At Tampa Bay':'BUCCANEERS','Green Bay':'PACKERS','At Green Bay':'PACKERS',
        'Dallas':'COWBOYS','At Dallas':'COWBOYS','Baltimore':'RAVENS', 
        'At Baltimore':'RAVENS', 'Buffalo':'BILLS', 'At Buffalo':'BILLS', 
        'Indianapolis':'COLTS','At Indianapolis':'COLTS',
        'Seattle':'SEAHAWKS','At Seattle':'SEAHAWKS','At Oakland':'RAIDERS', 
        'At New Orleans':'SAINTS', 'Oakland':'RAIDERS','New Orleans':'SAINTS',
        'Cleveland':'BROWNS', 'At Cleveland':'BROWNS', 'Detroit':'LIONS', 
        'At Detroit': 'LIONS', 'Philadelphia':'EAGLES', 'At Philadelphia':'EAGLES', 
        'At Kansas City':'CHIEFS','At Minnesota':'VIKINGS', 'At New England':'PATRIOTS',
        'Kansas City':'CHIEFS','Minnesota':'VIKINGS','New England':'PATRIOTS', 
        'Carolina':'PANTHERS', 'At Carolina':'PANTHERS', 'Oakland(At London)': 'RAIDERS'}

In [238]:
spreads['opp'] = spreads['opp'].replace(to_replace=td2.keys(), value=td2.values())

In [240]:
spreads['opp'] = spreads['opp'].replace(to_replace=['Jacksonville At London', 
                'At San Francsico','At LA Rams'], value=['JAGUARS', '49ERS', 'RAMS'])

In [242]:
spreads['team'] = spreads['team'].replace(to_replace=['Jacksonville At London', 
                'At San Francsico','At LA Rams', 'Oakland(At London)'], 
                value=['JAGUARS', '49ERS', 'RAMS', 'RAIDERS'])

In [251]:
spreads = spreads.reset_index()

In [254]:
spreads['Date & Time'] = spreads['Date & Time'].apply(lambda x: pd.to_datetime(x))

In [257]:
spreads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 5 columns):
index          512 non-null int64
Date & Time    512 non-null datetime64[ns]
team           512 non-null object
spread         512 non-null float64
opp            512 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 20.1+ KB

In [266]:
spreads = spreads.drop(columns='index')

In [258]:
spreads['Date & Time'][0]

Timestamp('2018-09-06 00:00:00')

In [262]:
dfs2 = dfs2.reset_index()

In [264]:
dfs2['date'] = dfs2['date'].apply(lambda x: pd.to_datetime(x))
dfs2['date'][0]

Timestamp('2018-09-06 00:00:00')

In [271]:
td3 = {'ARI':'CARDINALS', 'ATL':'FALCONS', 'BAL':'RAVENS', 'BUF':'BILLS', 'CAR':'PANTHERS', 'CHI':'BEARS', 'CIN':'BENGALS', 
'CLE':'BROWNS', 'DAL':'COWBOYS', 'DEN':'BRONCOS', 'DET':'LIONS', 'GNB':'PACKERS', 'HOU':'TEXANS', 'IND':'COLTS', 
'JAX':'JAGUARS', 'KAN':'CHIEFS', 'LAC':'CHARGERS', 'LAR': 'RAMS', 'MIA': 'DOLPHINS', 'MIN':'VIKINGS', 
'NOR':'SAINTS', 'NWE':'PATRIOTS', 'NYG':'GIANTS', 'NYJ':'JETS', 'OAK':'RAIDERS', 'PHI':'EAGLES', 'PIT':'STEELERS',
'SEA':'SEAHAWKS', 'SFO':'49ERS', 'TAM':'BUCCANEERS', 'TEN':'TITANS', 'WAS':'REDSKINS'}

In [273]:
dfs2 = dfs2.replace(to_replace=td3.keys(), value=td3.values())

In [274]:
dfs2['team'].unique()

array(['EAGLES', 'LIONS', 'JETS', 'RAIDERS', 'RAMS', 'BILLS', 'PANTHERS',
       'BEARS', 'BENGALS', 'BROWNS', 'COLTS', 'CARDINALS', 'COWBOYS',
       'BRONCOS', 'PACKERS', 'TEXANS', 'FALCONS', 'CHIEFS', 'REDSKINS',
       'BUCCANEERS', '49ERS', 'SEAHAWKS', 'CHARGERS', 'RAVENS', 'JAGUARS',
       'TITANS', 'GIANTS', 'PATRIOTS', 'SAINTS', 'VIKINGS', 'DOLPHINS',
       'STEELERS'], dtype=object)

In [268]:
spreads = spreads.rename(columns={'Date & Time': 'date'})

In [275]:
new2018 = dfs2.merge(spreads, on=['team', 'date', 'opp'])
new2018

,index,team,date,home,opp,Week,Game_Number,win,points_for,points_against,...,time_of_possesion,total_TD,FGM,penalty_yards,opp_penalty_yards,loss,total_wins,total_losses,away,spread
0,511,EAGLES,2018-09-06,1,FALCONS,1.0,1.0,1.0,18.0,12.0,...,0.536111,2.0,1.0,101.0,135.0,0.0,1.0,0.0,0,0.0
1,480,LIONS,2018-09-10,1,JETS,1.0,1.0,0.0,17.0,48.0,...,0.448056,2.0,1.0,15.0,49.0,1.0,0.0,1.0,0,-7.0
2,481,JETS,2018-09-10,0,LIONS,1.0,1.0,1.0,48.0,17.0,...,0.551944,6.0,2.0,49.0,15.0,0.0,1.0,0.0,1,7.0
3,482,RAIDERS,2018-09-10,1,RAMS,1.0,1.0,0.0,13.0,33.0,...,0.525278,1.0,2.0,155.0,70.0,1.0,0.0,1.0,0,6.5
4,483,RAMS,2018-09-10,0,RAIDERS,1.0,1.0,1.0,33.0,13.0,...,0.474722,3.0,4.0,70.0,155.0,0.0,1.0,0.0,1,-6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,29,49ERS,2018-12-30,0,RAMS,17.0,16.0,0.0,32.0,48.0,...,0.469444,4.0,1.0,41.0,57.0,1.0,4.0,12.0,1,11.0
508,30,BUCCANEERS,2018-12-30,1,FALCONS,17.0,16.0,0.0,32.0,34.0,...,0.420556,4.0,2.0,30.0,85.0,1.0,5.0,11.0,0,2.5
509,31,REDSKINS,2018-12-30,1,EAGLES,17.0,16.0,0.0,0.0,24.0,...,0.278056,0.0,0.0,15.0,25.0,1.0,7.0,9.0,0,6.0
510,16,VIKINGS,2018-12-30,1,BEARS,17.0,16.0,0.0,10.0,24.0,...,0.381111,1.0,1.0,30.0,102.0,1.0,8.0,8.0,0,-6.0
511,0,FALCONS,2018-12-30,0,BUCCANEERS,17.0,16.0,1.0,34.0,32.0,...,0.579444,4.0,2.0,85.0,30.0,0.0,7.0,9.0,1,-2.5

In [278]:
new2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 0 to 511
Data columns (total 24 columns):
index                               512 non-null int64
team                                512 non-null object
date                                512 non-null datetime64[ns]
home                                512 non-null int64
opp                                 512 non-null object
Week                                512 non-null float64
Game_Number                         512 non-null float64
win                                 512 non-null float64
points_for                          512 non-null float64
points_against                      512 non-null float64
times_sacked                        512 non-null float64
yards_per_play_offense              512 non-null float64
yards_allowed_per_defensive_play    512 non-null float64
turnovers_lost                      512 non-null float64
time_of_possesion                   512 non-null float64
total_TD                            512 non-null float64
FGM                                 512 non-null float64
penalty_yards                       512 non-null float64
opp_penalty_yards                   512 non-null float64
loss                                512 non-null float64
total_wins                          512 non-null float64
total_losses                        512 non-null float64
away                                512 non-null int64
spread                              512 non-null float64
dtypes: datetime64[ns](1), float64(18), int64(3), object(2)
memory usage: 100.0+ KB

In [277]:
new2018.columns

Index(['index', 'team', 'date', 'home', 'opp', 'Week', 'Game_Number', 'win',
       'points_for', 'points_against', 'times_sacked',
       'yards_per_play_offense', 'yards_allowed_per_defensive_play',
       'turnovers_lost', 'time_of_possesion', 'total_TD', 'FGM',
       'penalty_yards', 'opp_penalty_yards', 'loss', 'total_wins',
       'total_losses', 'away', 'spread'],
      dtype='object')

In [279]:
new2018['favorite'] = new2018['spread'] < 0

In [281]:
new2018['favorite'] = new2018['favorite'].replace(to_replace=[True, False], value=[1, 0])

In [282]:
new2018['underdog'] = new2018['spread'] > 0

In [283]:
new2018['underdog'].unique()

array([False,  True])

In [284]:
new2018['underdog'] = new2018['underdog'].replace(to_replace=[True, False], value=[1, 0])

In [285]:
new2018['underdog'].unique()

array([0, 1])

In [291]:
new2018['point_diff'] = new2018['points_for'] - new2018['points_against']

In [292]:
new2018

,index,team,date,home,opp,Week,Game_Number,win,points_for,points_against,...,penalty_yards,opp_penalty_yards,loss,total_wins,total_losses,away,spread,favorite,underdog,point_diff
0,511,EAGLES,2018-09-06,1,FALCONS,1.0,1.0,1.0,18.0,12.0,...,101.0,135.0,0.0,1.0,0.0,0,0.0,0,0,6.0
1,480,LIONS,2018-09-10,1,JETS,1.0,1.0,0.0,17.0,48.0,...,15.0,49.0,1.0,0.0,1.0,0,-7.0,1,0,-31.0
2,481,JETS,2018-09-10,0,LIONS,1.0,1.0,1.0,48.0,17.0,...,49.0,15.0,0.0,1.0,0.0,1,7.0,0,1,31.0
3,482,RAIDERS,2018-09-10,1,RAMS,1.0,1.0,0.0,13.0,33.0,...,155.0,70.0,1.0,0.0,1.0,0,6.5,0,1,-20.0
4,483,RAMS,2018-09-10,0,RAIDERS,1.0,1.0,1.0,33.0,13.0,...,70.0,155.0,0.0,1.0,0.0,1,-6.5,1,0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,29,49ERS,2018-12-30,0,RAMS,17.0,16.0,0.0,32.0,48.0,...,41.0,57.0,1.0,4.0,12.0,1,11.0,0,1,-16.0
508,30,BUCCANEERS,2018-12-30,1,FALCONS,17.0,16.0,0.0,32.0,34.0,...,30.0,85.0,1.0,5.0,11.0,0,2.5,0,1,-2.0
509,31,REDSKINS,2018-12-30,1,EAGLES,17.0,16.0,0.0,0.0,24.0,...,15.0,25.0,1.0,7.0,9.0,0,6.0,0,1,-24.0
510,16,VIKINGS,2018-12-30,1,BEARS,17.0,16.0,0.0,10.0,24.0,...,30.0,102.0,1.0,8.0,8.0,0,-6.0,1,0,-14.0
511,0,FALCONS,2018-12-30,0,BUCCANEERS,17.0,16.0,1.0,34.0,32.0,...,85.0,30.0,0.0,7.0,9.0,1,-2.5,1,0,2.0

In [293]:
new2018['abs_spread'] = new2018['spread'].apply(lambda x: abs(x))

In [294]:
new2018

,index,team,date,home,opp,Week,Game_Number,win,points_for,points_against,...,opp_penalty_yards,loss,total_wins,total_losses,away,spread,favorite,underdog,point_diff,abs_spread
0,511,EAGLES,2018-09-06,1,FALCONS,1.0,1.0,1.0,18.0,12.0,...,135.0,0.0,1.0,0.0,0,0.0,0,0,6.0,0.0
1,480,LIONS,2018-09-10,1,JETS,1.0,1.0,0.0,17.0,48.0,...,49.0,1.0,0.0,1.0,0,-7.0,1,0,-31.0,7.0
2,481,JETS,2018-09-10,0,LIONS,1.0,1.0,1.0,48.0,17.0,...,15.0,0.0,1.0,0.0,1,7.0,0,1,31.0,7.0
3,482,RAIDERS,2018-09-10,1,RAMS,1.0,1.0,0.0,13.0,33.0,...,70.0,1.0,0.0,1.0,0,6.5,0,1,-20.0,6.5
4,483,RAMS,2018-09-10,0,RAIDERS,1.0,1.0,1.0,33.0,13.0,...,155.0,0.0,1.0,0.0,1,-6.5,1,0,20.0,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,29,49ERS,2018-12-30,0,RAMS,17.0,16.0,0.0,32.0,48.0,...,57.0,1.0,4.0,12.0,1,11.0,0,1,-16.0,11.0
508,30,BUCCANEERS,2018-12-30,1,FALCONS,17.0,16.0,0.0,32.0,34.0,...,85.0,1.0,5.0,11.0,0,2.5,0,1,-2.0,2.5
509,31,REDSKINS,2018-12-30,1,EAGLES,17.0,16.0,0.0,0.0,24.0,...,25.0,1.0,7.0,9.0,0,6.0,0,1,-24.0,6.0
510,16,VIKINGS,2018-12-30,1,BEARS,17.0,16.0,0.0,10.0,24.0,...,102.0,1.0,8.0,8.0,0,-6.0,1,0,-14.0,6.0
511,0,FALCONS,2018-12-30,0,BUCCANEERS,17.0,16.0,1.0,34.0,32.0,...,30.0,0.0,7.0,9.0,1,-2.5,1,0,2.0,2.5

In [295]:
new2018['abs_point_diff'] = new2018['point_diff'].apply(lambda x: abs(x))

In [296]:
new2018

,index,team,date,home,opp,Week,Game_Number,win,points_for,points_against,...,loss,total_wins,total_losses,away,spread,favorite,underdog,point_diff,abs_spread,abs_point_diff
0,511,EAGLES,2018-09-06,1,FALCONS,1.0,1.0,1.0,18.0,12.0,...,0.0,1.0,0.0,0,0.0,0,0,6.0,0.0,6.0
1,480,LIONS,2018-09-10,1,JETS,1.0,1.0,0.0,17.0,48.0,...,1.0,0.0,1.0,0,-7.0,1,0,-31.0,7.0,31.0
2,481,JETS,2018-09-10,0,LIONS,1.0,1.0,1.0,48.0,17.0,...,0.0,1.0,0.0,1,7.0,0,1,31.0,7.0,31.0
3,482,RAIDERS,2018-09-10,1,RAMS,1.0,1.0,0.0,13.0,33.0,...,1.0,0.0,1.0,0,6.5,0,1,-20.0,6.5,20.0
4,483,RAMS,2018-09-10,0,RAIDERS,1.0,1.0,1.0,33.0,13.0,...,0.0,1.0,0.0,1,-6.5,1,0,20.0,6.5,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,29,49ERS,2018-12-30,0,RAMS,17.0,16.0,0.0,32.0,48.0,...,1.0,4.0,12.0,1,11.0,0,1,-16.0,11.0,16.0
508,30,BUCCANEERS,2018-12-30,1,FALCONS,17.0,16.0,0.0,32.0,34.0,...,1.0,5.0,11.0,0,2.5,0,1,-2.0,2.5,2.0
509,31,REDSKINS,2018-12-30,1,EAGLES,17.0,16.0,0.0,0.0,24.0,...,1.0,7.0,9.0,0,6.0,0,1,-24.0,6.0,24.0
510,16,VIKINGS,2018-12-30,1,BEARS,17.0,16.0,0.0,10.0,24.0,...,1.0,8.0,8.0,0,-6.0,1,0,-14.0,6.0,14.0
511,0,FALCONS,2018-12-30,0,BUCCANEERS,17.0,16.0,1.0,34.0,32.0,...,0.0,7.0,9.0,1,-2.5,1,0,2.0,2.5,2.0

In [297]:
new2018['test'] = new2018['points_against'] - new2018['points_for']

In [298]:
new2018

,index,team,date,home,opp,Week,Game_Number,win,points_for,points_against,...,total_wins,total_losses,away,spread,favorite,underdog,point_diff,abs_spread,abs_point_diff,test
0,511,EAGLES,2018-09-06,1,FALCONS,1.0,1.0,1.0,18.0,12.0,...,1.0,0.0,0,0.0,0,0,6.0,0.0,6.0,-6.0
1,480,LIONS,2018-09-10,1,JETS,1.0,1.0,0.0,17.0,48.0,...,0.0,1.0,0,-7.0,1,0,-31.0,7.0,31.0,31.0
2,481,JETS,2018-09-10,0,LIONS,1.0,1.0,1.0,48.0,17.0,...,1.0,0.0,1,7.0,0,1,31.0,7.0,31.0,-31.0
3,482,RAIDERS,2018-09-10,1,RAMS,1.0,1.0,0.0,13.0,33.0,...,0.0,1.0,0,6.5,0,1,-20.0,6.5,20.0,20.0
4,483,RAMS,2018-09-10,0,RAIDERS,1.0,1.0,1.0,33.0,13.0,...,1.0,0.0,1,-6.5,1,0,20.0,6.5,20.0,-20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,29,49ERS,2018-12-30,0,RAMS,17.0,16.0,0.0,32.0,48.0,...,4.0,12.0,1,11.0,0,1,-16.0,11.0,16.0,16.0
508,30,BUCCANEERS,2018-12-30,1,FALCONS,17.0,16.0,0.0,32.0,34.0,...,5.0,11.0,0,2.5,0,1,-2.0,2.5,2.0,2.0
509,31,REDSKINS,2018-12-30,1,EAGLES,17.0,16.0,0.0,0.0,24.0,...,7.0,9.0,0,6.0,0,1,-24.0,6.0,24.0,24.0
510,16,VIKINGS,2018-12-30,1,BEARS,17.0,16.0,0.0,10.0,24.0,...,8.0,8.0,0,-6.0,1,0,-14.0,6.0,14.0,14.0
511,0,FALCONS,2018-12-30,0,BUCCANEERS,17.0,16.0,1.0,34.0,32.0,...,7.0,9.0,1,-2.5,1,0,2.0,2.5,2.0,-2.0

In [302]:
new2018['fav_covered_spread'] = (new2018['favorite']==1) & (new2018['point_diff'] > new2018['abs_spread'])

In [304]:
new2018['underdog_covered_spread'] = (new2018['favorite']==0) & (new2018['point_diff'] > new2018['abs_spread'])

In [306]:
new2018['covered_spread'] = (new2018['fav_covered_spread']== True) | (new2018['underdog_covered_spread']== True)

In [308]:
new2018 = new2018.drop(columns=['abs_point_diff', 'test'])

In [309]:
new2018.to_csv('2018_nfl_stats.csv')

In [311]:
new2018

,index,team,date,home,opp,Week,Game_Number,win,points_for,points_against,...,total_losses,away,spread,favorite,underdog,point_diff,abs_spread,fav_covered_spread,underdog_covered_spread,covered_spread
0,511,EAGLES,2018-09-06,1,FALCONS,1.0,1.0,1.0,18.0,12.0,...,0.0,0,0.0,0,0,6.0,0.0,False,True,True
1,480,LIONS,2018-09-10,1,JETS,1.0,1.0,0.0,17.0,48.0,...,1.0,0,-7.0,1,0,-31.0,7.0,False,False,False
2,481,JETS,2018-09-10,0,LIONS,1.0,1.0,1.0,48.0,17.0,...,0.0,1,7.0,0,1,31.0,7.0,False,True,True
3,482,RAIDERS,2018-09-10,1,RAMS,1.0,1.0,0.0,13.0,33.0,...,1.0,0,6.5,0,1,-20.0,6.5,False,False,False
4,483,RAMS,2018-09-10,0,RAIDERS,1.0,1.0,1.0,33.0,13.0,...,0.0,1,-6.5,1,0,20.0,6.5,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,29,49ERS,2018-12-30,0,RAMS,17.0,16.0,0.0,32.0,48.0,...,12.0,1,11.0,0,1,-16.0,11.0,False,False,False
508,30,BUCCANEERS,2018-12-30,1,FALCONS,17.0,16.0,0.0,32.0,34.0,...,11.0,0,2.5,0,1,-2.0,2.5,False,False,False
509,31,REDSKINS,2018-12-30,1,EAGLES,17.0,16.0,0.0,0.0,24.0,...,9.0,0,6.0,0,1,-24.0,6.0,False,False,False
510,16,VIKINGS,2018-12-30,1,BEARS,17.0,16.0,0.0,10.0,24.0,...,8.0,0,-6.0,1,0,-14.0,6.0,False,False,False
511,0,FALCONS,2018-12-30,0,BUCCANEERS,17.0,16.0,1.0,34.0,32.0,...,9.0,1,-2.5,1,0,2.0,2.5,False,False,False

In [316]:
new2018['loss'] = new2018['points_for'] > new2018['points_against']

In [313]:
new2018['total_wins'] = new2018.groupby('team')['win'].cumsum()

In [317]:
new2018

,index,team,date,home,opp,Week,Game_Number,win,points_for,points_against,...,total_losses,away,spread,favorite,underdog,point_diff,abs_spread,fav_covered_spread,underdog_covered_spread,covered_spread
0,511,EAGLES,2018-09-06,1,FALCONS,1.0,1.0,1.0,18.0,12.0,...,0.0,0,0.0,0,0,6.0,0.0,False,True,True
1,480,LIONS,2018-09-10,1,JETS,1.0,1.0,0.0,17.0,48.0,...,1.0,0,-7.0,1,0,-31.0,7.0,False,False,False
2,481,JETS,2018-09-10,0,LIONS,1.0,1.0,1.0,48.0,17.0,...,0.0,1,7.0,0,1,31.0,7.0,False,True,True
3,482,RAIDERS,2018-09-10,1,RAMS,1.0,1.0,0.0,13.0,33.0,...,1.0,0,6.5,0,1,-20.0,6.5,False,False,False
4,483,RAMS,2018-09-10,0,RAIDERS,1.0,1.0,1.0,33.0,13.0,...,0.0,1,-6.5,1,0,20.0,6.5,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,29,49ERS,2018-12-30,0,RAMS,17.0,16.0,0.0,32.0,48.0,...,12.0,1,11.0,0,1,-16.0,11.0,False,False,False
508,30,BUCCANEERS,2018-12-30,1,FALCONS,17.0,16.0,0.0,32.0,34.0,...,11.0,0,2.5,0,1,-2.0,2.5,False,False,False
509,31,REDSKINS,2018-12-30,1,EAGLES,17.0,16.0,0.0,0.0,24.0,...,9.0,0,6.0,0,1,-24.0,6.0,False,False,False
510,16,VIKINGS,2018-12-30,1,BEARS,17.0,16.0,0.0,10.0,24.0,...,8.0,0,-6.0,1,0,-14.0,6.0,False,False,False
511,0,FALCONS,2018-12-30,0,BUCCANEERS,17.0,16.0,1.0,34.0,32.0,...,9.0,1,-2.5,1,0,2.0,2.5,False,False,False

In [318]:
df = pd.read_csv('2018_nfl_stats.csv')

In [323]:
df['covered_spread'] = df['covered_spread'].replace(to_replace=[True, False], value=[1,0])

In [325]:
df['covered_spread'].unique()

array([1, 0])

In [326]:
df['opponent_covered_spread?'] = 1 - df['covered_spread']

In [329]:
df_new = df[['team',
 'home',
 'opp',
 'Week',
 'win',
 'points_for',
 'points_against',
 'times_sacked',
 'yards_per_play_offense',
 'yards_allowed_per_defensive_play',
 'turnovers_lost',
 'time_of_possesion',
 'FGM',
 'penalty_yards',
 'loss',
 'total_wins',
 'total_losses',
 'away',
 'spread',
 'favorite',
 'underdog',
 'covered_spread',
 'opponent_covered_spread?']]

In [330]:
dfnew2 = pd.read_csv('w1_3_new.csv')

In [333]:
dfnew2

,Unnamed: 0,team,home,opponent,week,win?,points_for,points_against,times_sacked,yards_per_play_offense,...,penalty_yards,loss?,total_wins,total_losses,away,spread,favorite,underdog,covered_spread?,opponent_covered_spread?
0,0,CARDINALS,1,LIONS,1,0,27,27,5,4.719500,...,35.0,0,0,0,0,2.5,0,1,1,0
1,1,FALCONS,0,VIKINGS,1,0,12,28,4,5.149300,...,78.0,1,0,1,1,3.5,0,1,0,1
2,2,RAVENS,0,DOLPHINS,1,1,59,10,1,8.808219,...,40.0,0,1,0,1,-7.0,1,0,1,0
3,3,BILLS,0,JETS,1,1,17,16,1,5.873000,...,55.0,0,1,0,1,2.5,0,1,1,0
4,4,PANTHERS,1,RAMS,1,0,27,30,3,5.359400,...,46.0,1,0,1,0,1.5,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,91,SEAHAWKS,1,SAINTS,3,0,27,33,0,6.763158,...,53.0,1,2,1,0,-5.0,1,0,0,1
92,92,49ERS,1,STEELERS,3,1,24,20,1,5.972603,...,71.0,0,3,0,0,-6.5,1,0,0,1
93,93,BUCCANEERS,1,GIANTS,3,0,31,32,4,6.835616,...,30.0,1,1,2,0,-5.0,1,0,0,1
94,94,TITANS,0,JAGUARS,3,0,7,20,9,4.533333,...,101.0,1,1,2,1,-1.5,1,0,0,1
95,95,REDSKINS,1,BEARS,3,0,15,31,4,5.235300,...,61.0,1,0,3,0,5.0,0,1,0,1

In [332]:
dfnew2.columns

Index(['Unnamed: 0', 'team', 'home', 'opponent', 'week', 'win?', 'points_for',
       'points_against', 'times_sacked', 'yards_per_play_offense',
       'yards_allowed_per_defensive_play', 'turnovers_lost',
       'time_of_possession', 'FGM', 'penalty_yards', 'loss?', 'total_wins',
       'total_losses', 'away', 'spread', 'favorite', 'underdog',
       'covered_spread?', 'opponent_covered_spread?'],
      dtype='object')

In [335]:
df_new.columns

Index(['team', 'home', 'opp', 'Week', 'win', 'points_for', 'points_against',
       'times_sacked', 'yards_per_play_offense',
       'yards_allowed_per_defensive_play', 'turnovers_lost',
       'time_of_possesion', 'FGM', 'penalty_yards', 'loss', 'total_wins',
       'total_losses', 'away', 'spread', 'favorite', 'underdog',
       'covered_spread', 'opponent_covered_spread?'],
      dtype='object')

In [336]:
df_new = df_new.rename(columns={'opp':'opponent','Week':'week', 'win':'win?',
                               'loss':'loss?', 'covered_spread':'covered_spread?'})

In [341]:
df_new = df_new.rename(columns={'time_of_possesion':'time_of_possession'})

In [338]:
dfnew2 = dfnew2.drop(columns='Unnamed: 0')

In [342]:
df_new.columns == dfnew2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [379]:
df_new1 = df_new[df_new['week']>=9]
df_new1

,team,home,opponent,week,win?,points_for,points_against,times_sacked,yards_per_play_offense,yards_allowed_per_defensive_play,...,penalty_yards,loss?,total_wins,total_losses,away,spread,favorite,underdog,covered_spread?,opponent_covered_spread?
242,VIKINGS,1,LIONS,9.0,1.0,24.0,9.0,1.0,6.1522,2.9857,...,15.0,0.0,5.0,4.0,0,-5.0,1,0,1,0
243,SAINTS,1,RAMS,9.0,1.0,45.0,35.0,0.0,6.9571,8.1864,...,20.0,0.0,7.0,1.0,0,2.0,0,1,1,0
244,PATRIOTS,1,PACKERS,9.0,1.0,31.0,17.0,2.0,6.2754,5.3188,...,30.0,0.0,7.0,2.0,0,-5.0,1,0,1,0
245,JETS,0,DOLPHINS,9.0,0.0,6.0,13.0,4.0,4.4063,3.0545,...,45.0,1.0,3.0,6.0,1,3.0,0,1,0,1
246,STEELERS,0,RAVENS,9.0,1.0,23.0,16.0,1.0,5.1974,4.7321,...,103.0,0.0,5.0,3.0,1,1.5,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,49ERS,0,RAMS,17.0,0.0,32.0,48.0,3.0,6.7414,5.3099,...,41.0,1.0,4.0,12.0,1,11.0,0,1,0,1
508,BUCCANEERS,1,FALCONS,17.0,0.0,32.0,34.0,1.0,7.7321,6.4342,...,30.0,1.0,5.0,11.0,0,2.5,0,1,0,1
509,REDSKINS,1,EAGLES,17.0,0.0,0.0,24.0,4.0,2.0227,5.0704,...,15.0,1.0,7.0,9.0,0,6.0,0,1,0,1
510,VIKINGS,1,BEARS,17.0,0.0,10.0,24.0,4.0,3.1538,5.2698,...,30.0,1.0,8.0,8.0,0,-6.0,1,0,0,1
511,FALCONS,0,BUCCANEERS,17.0,1.0,34.0,32.0,1.0,6.4342,7.7321,...,85.0,0.0,7.0,9.0,1,-2.5,1,0,0,1

In [343]:
frames3 = [df_new, dfnew2]

training_df = pd.concat(frames3)

In [ ]:
training_df

In [344]:
training_df

,team,home,opponent,week,win?,points_for,points_against,times_sacked,yards_per_play_offense,yards_allowed_per_defensive_play,...,penalty_yards,loss?,total_wins,total_losses,away,spread,favorite,underdog,covered_spread?,opponent_covered_spread?
0,EAGLES,1,FALCONS,1.0,1.0,18.0,12.0,2.0,3.625000,4.600000,...,101.0,0.0,1.0,0.0,0,0.0,0,0,1,0
1,LIONS,1,JETS,1.0,0.0,17.0,48.0,0.0,5.059700,5.915300,...,15.0,1.0,0.0,1.0,0,-7.0,1,0,0,1
2,JETS,0,LIONS,1.0,1.0,48.0,17.0,2.0,5.915300,5.059700,...,49.0,0.0,1.0,0.0,1,7.0,0,1,1,0
3,RAIDERS,1,RAMS,1.0,0.0,13.0,33.0,1.0,6.171900,6.083300,...,155.0,1.0,0.0,1.0,0,6.5,0,1,0,1
4,RAMS,0,RAIDERS,1.0,1.0,33.0,13.0,1.0,6.083300,6.171900,...,70.0,0.0,1.0,0.0,1,-6.5,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,SEAHAWKS,1,SAINTS,3.0,0.0,27.0,33.0,0.0,6.763158,5.300000,...,53.0,1.0,2.0,1.0,0,-5.0,1,0,0,1
92,49ERS,1,STEELERS,3.0,1.0,24.0,20.0,1.0,5.972603,4.686275,...,71.0,0.0,3.0,0.0,0,-6.5,1,0,0,1
93,BUCCANEERS,1,GIANTS,3.0,0.0,31.0,32.0,4.0,6.835616,6.400000,...,30.0,1.0,1.0,2.0,0,-5.0,1,0,0,1
94,TITANS,0,JAGUARS,3.0,0.0,7.0,20.0,9.0,4.533333,5.840000,...,101.0,1.0,1.0,2.0,1,-1.5,1,0,0,1
95,REDSKINS,1,BEARS,3.0,0.0,15.0,31.0,4.0,5.235300,5.137900,...,61.0,1.0,0.0,3.0,0,5.0,0,1,0,1

In [345]:
testing_df = pd.read_csv('backup_stats5312020.csv')

In [346]:
testing_df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,team,opponent,week,home,away,points_for,points_against,...,favorite,underdog,rushing_attempts,rushing_yards,rushing_yards_per_attempt,time_of_possession,penalty_yards,passing_yards_per_attempt,FGA,FGM
0,0,0,0,CARDINALS,LIONS,1,1,0,27,27,...,0,1,23.0,112.0,4.87,0.510278,35.0,5.092593,4.0,4.0
1,1,1,1,FALCONS,VIKINGS,1,0,1,12,28,...,0,1,17.0,73.0,4.29,0.503611,78.0,5.913043,0.0,0.0
2,2,2,2,RAVENS,DOLPHINS,1,0,1,59,10,...,1,0,46.0,265.0,5.76,0.668611,40.0,14.538462,1.0,1.0
3,3,3,3,BILLS,JETS,1,0,1,17,16,...,0,1,25.0,128.0,5.12,0.466389,55.0,6.540541,1.0,1.0
4,4,4,4,PANTHERS,RAMS,1,1,0,27,30,...,0,1,23.0,127.0,5.52,0.445556,46.0,5.684211,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,529,544,529,CHIEFS,TITANS,20,1,0,35,24,...,1,0,27.0,112.0,4.15,0.497222,61.0,8.342857,0.0,0.0
530,530,545,530,49ERS,PACKERS,20,1,0,37,20,...,1,0,42.0,285.0,6.79,0.479722,10.0,8.625000,3.0,3.0
531,531,547,531,TITANS,CHIEFS,20,0,1,24,35,...,0,1,23.0,85.0,3.70,0.502778,85.0,6.562500,1.0,1.0
532,532,548,532,CHIEFS,49ERS,21,1,0,31,20,...,1,0,29.0,129.0,4.45,0.553611,24.0,6.380952,1.0,1.0
533,533,549,533,49ERS,CHIEFS,21,0,1,20,31,...,0,1,22.0,141.0,6.41,0.446389,45.0,6.774194,2.0,2.0

In [347]:
df = testing_df.copy()

In [348]:
week_4 = df[df['week']== 4 ]
week_5 = df[df['week']== 5 ]
week_6 = df[df['week']== 6 ]
week_7 = df[df['week']== 7 ]
week_8 = df[df['week']== 8 ]
week_9 = df[df['week']== 9 ]
week_10 = df[df['week']== 10 ]
week_11 = df[df['week']== 11 ]
week_12 = df[df['week']== 12 ]
week_13 = df[df['week']== 13 ]
week_14 = df[df['week']== 14 ]
week_15 = df[df['week']== 15 ]
week_16 = df[df['week']== 16 ]
week_17 = df[df['week']== 17 ]

In [362]:
week_4.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'team', 'opponent',
       'week', 'home', 'away', 'points_for', 'points_against', 'over_under',
       'yards_per_play_offense', 'yards_allowed_per_defensive_play',
       'total_yards', 'total_yards_allowed', 'turnovers_lost', 'sacks',
       'times_sacked', 'win?', 'loss?', 'covered_spread?',
       'opponent_covered_spread?', 'game_id', 'total_wins', 'total_losses',
       'spread', 'opponent_spread', 'favorite', 'underdog', 'rushing_attempts',
       'rushing_yards', 'rushing_yards_per_attempt', 'time_of_possession',
       'penalty_yards', 'passing_yards_per_attempt', 'FGA', 'FGM'],
      dtype='object')

In [352]:
training_df.columns

Index(['team', 'home', 'opponent', 'week', 'win?', 'points_for',
       'points_against', 'times_sacked', 'yards_per_play_offense',
       'yards_allowed_per_defensive_play', 'turnovers_lost',
       'time_of_possession', 'FGM', 'penalty_yards', 'loss?', 'total_wins',
       'total_losses', 'away', 'spread', 'favorite', 'underdog',
       'covered_spread?', 'opponent_covered_spread?'],
      dtype='object')

In [349]:
ta = []
teams = list(week_4['team'].unique())
for team in teams:
    avg = training_df[training_df['team']==team].mean()
    ta.append(avg)
avgs = pd.concat(ta, keys=training_df['team'].unique())
avgs = avgs.unstack(level=-1)

In [353]:
from sklearn.ensemble import RandomForestClassifier

In [359]:
y_train = training_df['covered_spread?']
X_train = training_df[['home', 'away', 'yards_per_play_offense', 
                 'yards_allowed_per_defensive_play', 'turnovers_lost',
                 'times_sacked', 'total_wins', 'total_losses', 'spread', 
                 'favorite', 'underdog', 'time_of_possession','penalty_yards','FGM']]

y_test = week_4['covered_spread?']
X_test = avgs[['home', 'away', 'yards_per_play_offense', 
                 'yards_allowed_per_defensive_play', 'turnovers_lost',
                 'times_sacked', 'total_wins', 'total_losses', 'spread', 
                 'favorite', 'underdog', 'time_of_possession','penalty_yards','FGM']]

In [360]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [361]:
model.predict_proba(X_test)

array([[0.98, 0.02],
       [0.74, 0.26],
       [0.32, 0.68],
       [0.84, 0.16],
       [0.57, 0.43],
       [0.3 , 0.7 ],
       [0.92, 0.08],
       [0.89, 0.11],
       [0.6 , 0.4 ],
       [0.65, 0.35],
       [0.82, 0.18],
       [0.73, 0.27],
       [0.59, 0.41],
       [0.46, 0.54],
       [0.84, 0.16],
       [0.67, 0.33],
       [0.47, 0.53],
       [0.48, 0.52],
       [0.97, 0.03],
       [0.29, 0.71],
       [0.41, 0.59],
       [0.19, 0.81],
       [0.91, 0.09],
       [0.94, 0.06],
       [0.6 , 0.4 ],
       [0.36, 0.64],
       [0.77, 0.23],
       [0.92, 0.08],
       [0.69, 0.31],
       [0.83, 0.17]])

In [363]:
targ2 = model.predict_proba(X_test)[:,1:]
t = week_4['team'].values.reshape(30,1)
o = week_4['opponent'].values.reshape(30,1)
a = week_4['covered_spread?'].values.reshape(30,1)
gid = week_4['game_id'].values.reshape(30,1)

In [364]:
result = pd.DataFrame(np.hstack([t, o, targ2, a, gid]), columns=['team','opp',
                    'proba_team_covered', 'team_covered', 'game_id'])

In [365]:
result = result.sort_values(by=['game_id'])

In [366]:
new1 = result[['team', 'proba_team_covered','team_covered','game_id']]

In [367]:
new1.columns = ['opp', 'proba_opp_covered', 'opp_covered', 'game_id']

In [368]:
new1 = new1.drop_duplicates(['game_id'], keep='last')

new1

           opp proba_opp_covered opp_covered game_id
25    STEELERS              0.64           1     204
21    PATRIOTS              0.81           0     205
12      TEXANS              0.41           0     206
19     VIKINGS              0.71           0     207
7       BROWNS              0.11           1     208
26    SEAHAWKS              0.23           1     209
15      CHIEFS              0.33           0     210
9      BRONCOS              0.35           0     211
18    DOLPHINS              0.03           0     212
8      COWBOYS               0.4           0     213
28      TITANS              0.31           1     214
23     RAIDERS              0.06           1     215
27  BUCCANEERS              0.08           1     216
29    REDSKINS              0.17           0     217
24      EAGLES               0.4           1     218

In [369]:
result= result.drop_duplicates(['game_id'], keep='first')

         team         opp proba_team_covered team_covered game_id
6     BENGALS    STEELERS               0.08            0     204
3       BILLS    PATRIOTS               0.16            1     205
4    PANTHERS      TEXANS               0.43            1     206
5       BEARS     VIKINGS                0.7            1     207
2      RAVENS      BROWNS               0.68            0     208
0   CARDINALS    SEAHAWKS               0.02            0     209
10      LIONS      CHIEFS               0.18            1     210
14    JAGUARS     BRONCOS               0.16            1     211
16   CHARGERS    DOLPHINS               0.53            1     212
20     SAINTS     COWBOYS               0.59            1     213
1     FALCONS      TITANS               0.26            0     214
13      COLTS     RAIDERS               0.54            0     215
17       RAMS  BUCCANEERS               0.52            0     216
22     GIANTS    REDSKINS               0.09            1     217
11    PACKERS      EAGLES               0.27            0     218

In [371]:
result = result.drop(columns='opp')

In [373]:
merge1 = result.merge(new1, on=['game_id'], how='left')

In [374]:
merge1.columns

Index(['team', 'proba_team_covered', 'team_covered', 'game_id', 'opp',
       'proba_opp_covered', 'opp_covered'],
      dtype='object')

In [375]:
merge1 = merge1[['game_id','team','opp', 'proba_team_covered', 'proba_opp_covered',
                'team_covered', 'opp_covered']]

In [376]:
merge1.columns = ['ID', 'team', 'opp', 'proba_cover', 'proba_opp_cover', 'team_covered?',
                 'opp_covered?']

In [377]:
merge1.loc[merge1['proba_cover'] > merge1['proba_opp_cover'], 'bet_placed'] = 'team'
merge1.loc[merge1['proba_cover'] < merge1['proba_opp_cover'], 'bet_placed'] = 'opp'
merge1.loc[merge1['proba_cover'] == merge1['proba_opp_cover'], 'bet_placed'] = 'push'
merge1

,ID,team,opp,proba_cover,proba_opp_cover,team_covered?,opp_covered?,bet_placed
0,204,BENGALS,STEELERS,0.08,0.64,0,1,opp
1,205,BILLS,PATRIOTS,0.16,0.81,1,0,opp
2,206,PANTHERS,TEXANS,0.43,0.41,1,0,team
3,207,BEARS,VIKINGS,0.7,0.71,1,0,opp
4,208,RAVENS,BROWNS,0.68,0.11,0,1,team
5,209,CARDINALS,SEAHAWKS,0.02,0.23,0,1,opp
6,210,LIONS,CHIEFS,0.18,0.33,1,0,opp
7,211,JAGUARS,BRONCOS,0.16,0.35,1,0,opp
8,212,CHARGERS,DOLPHINS,0.53,0.03,1,0,team
9,213,SAINTS,COWBOYS,0.59,0.4,1,0,team
10,214,FALCONS,TITANS,0.26,0.31,0,1,opp
11,215,COLTS,RAIDERS,0.54,0.06,0,1,team
12,216,RAMS,BUCCANEERS,0.52,0.08,0,1,team
13,217,GIANTS,REDSKINS,0.09,0.17,1,0,opp
14,218,PACKERS,EAGLES,0.27,0.4,0,1,opp

In [381]:
ml4 = pd.read_csv('week4_ml.csv')
ml4

    Unnamed: 0          team  money_line           opp  opp_money_line
0            0  Philadelphia         169     Green Bay            -190
1            1    Washington         146     NY Giants            -163
2            2       Oakland         212  Indianapolis            -242
3            3      Carolina         224       Houston            -257
4            4     Cleveland         279     Baltimore            -327
5            5   Kansas City        -364       Detroit             307
6            6   New England        -321       Buffalo             274
7            7   LA Chargers        -806         Miami             602
8            8     Tennessee         156       Atlanta            -174
9            9     Tampa Bay         382       LA Rams            -469
10          10       Seattle        -237       Arizona             208
11          11  Jacksonville         124        Denver            -137
12          12     Minnesota        -107       Chicago            -103
13          13        Dallas        -141   New Orleans             127
14          14    Cincinnati         160    Pittsburgh            -179

In [383]:
ml4['week'] =4
ml4

    Unnamed: 0          team  money_line           opp  opp_money_line  week
0            0  Philadelphia         169     Green Bay            -190     4
1            1    Washington         146     NY Giants            -163     4
2            2       Oakland         212  Indianapolis            -242     4
3            3      Carolina         224       Houston            -257     4
4            4     Cleveland         279     Baltimore            -327     4
5            5   Kansas City        -364       Detroit             307     4
6            6   New England        -321       Buffalo             274     4
7            7   LA Chargers        -806         Miami             602     4
8            8     Tennessee         156       Atlanta            -174     4
9            9     Tampa Bay         382       LA Rams            -469     4
10          10       Seattle        -237       Arizona             208     4
11          11  Jacksonville         124        Denver            -137     4
12          12     Minnesota        -107       Chicago            -103     4
13          13        Dallas        -141   New Orleans             127     4
14          14    Cincinnati         160    Pittsburgh            -179     4

In [384]:
td1 = {'Chicago': 'BEARS', 'NY Jets': 'JETS', 'LA Rams': 'RAMS', 'Miami': 'DOLPHINS', 'Jacksonville': 'JAGUARS',
 'Tennessee':'TITANS', 'Washington':'REDSKINS', 'Atlanta': 'FALCONS', 'Cincinnati':'BENGALS', 'LA Chargers':'CHARGERS',
 'San Francisco':'49ERS', 'Arizona':'CARDINALS','NY Giants':'GIANTS', 'Pittsburgh':'STEELERS','Houston':'TEXANS',
 'Denver':'BRONCOS', 'Tampa Bay':'BUCCANEERS','Green Bay':'PACKERS','Dallas':'COWBOYS',
 'Baltimore':'RAVENS', 'Buffalo':'BILLS', 'Indianapolis':'COLTS', 'Seattle':'SEAHAWKS',
 'Oakland':'RAIDERS','New Orleans':'SAINTS','Cleveland':'BROWNS','Detroit':'LIONS','Philadelphia':'EAGLES',
 'Kansas City':'CHIEFS','Minnesota':'VIKINGS','New England':'PATRIOTS', 'Carolina':'PANTHERS'}

In [385]:
ml4 = ml4.replace(to_replace=td1.keys(), value=td1.values())
ml4

    Unnamed: 0        team  money_line        opp  opp_money_line  week
0            0      EAGLES         169    PACKERS            -190     4
1            1    REDSKINS         146     GIANTS            -163     4
2            2     RAIDERS         212      COLTS            -242     4
3            3    PANTHERS         224     TEXANS            -257     4
4            4      BROWNS         279     RAVENS            -327     4
5            5      CHIEFS        -364      LIONS             307     4
6            6    PATRIOTS        -321      BILLS             274     4
7            7    CHARGERS        -806   DOLPHINS             602     4
8            8      TITANS         156    FALCONS            -174     4
9            9  BUCCANEERS         382       RAMS            -469     4
10          10    SEAHAWKS        -237  CARDINALS             208     4
11          11     JAGUARS         124    BRONCOS            -137     4
12          12     VIKINGS        -107      BEARS            -103     4
13          13     COWBOYS        -141     SAINTS             127     4
14          14     BENGALS         160   STEELERS            -179     4

In [386]:
ml4 = ml4.drop(columns='Unnamed: 0')
ml4

          team  money_line        opp  opp_money_line  week
0       EAGLES         169    PACKERS            -190     4
1     REDSKINS         146     GIANTS            -163     4
2      RAIDERS         212      COLTS            -242     4
3     PANTHERS         224     TEXANS            -257     4
4       BROWNS         279     RAVENS            -327     4
5       CHIEFS        -364      LIONS             307     4
6     PATRIOTS        -321      BILLS             274     4
7     CHARGERS        -806   DOLPHINS             602     4
8       TITANS         156    FALCONS            -174     4
9   BUCCANEERS         382       RAMS            -469     4
10    SEAHAWKS        -237  CARDINALS             208     4
11     JAGUARS         124    BRONCOS            -137     4
12     VIKINGS        -107      BEARS            -103     4
13     COWBOYS        -141     SAINTS             127     4
14     BENGALS         160   STEELERS            -179     4

In [389]:
ml4.sort_values

In [390]:
bets = merge1.merge(ml4, on=['team'], how='left')
bets

,ID,team,opp,proba_cover,proba_opp_cover,team_covered?,opp_covered?,bet_placed,money_line,opp_money_line,week
0,204,BENGALS,STEELERS,0.08,0.64,0,1,opp,160.0,-179.0,4.0
1,205,BILLS,PATRIOTS,0.16,0.81,1,0,opp,NaN,NaN,NaN
2,206,PANTHERS,TEXANS,0.43,0.41,1,0,team,224.0,-257.0,4.0
3,207,BEARS,VIKINGS,0.7,0.71,1,0,opp,NaN,NaN,NaN
4,208,RAVENS,BROWNS,0.68,0.11,0,1,team,NaN,NaN,NaN
5,209,CARDINALS,SEAHAWKS,0.02,0.23,0,1,opp,NaN,NaN,NaN
6,210,LIONS,CHIEFS,0.18,0.33,1,0,opp,NaN,NaN,NaN
7,211,JAGUARS,BRONCOS,0.16,0.35,1,0,opp,124.0,-137.0,4.0
8,212,CHARGERS,DOLPHINS,0.53,0.03,1,0,team,-806.0,602.0,4.0
9,213,SAINTS,COWBOYS,0.59,0.4,1,0,team,NaN,NaN,NaN
10,214,FALCONS,TITANS,0.26,0.31,0,1,opp,NaN,NaN,NaN
11,215,COLTS,RAIDERS,0.54,0.06,0,1,team,NaN,NaN,NaN
12,216,RAMS,BUCCANEERS,0.52,0.08,0,1,team,NaN,NaN,NaN
13,217,GIANTS,REDSKINS,0.09,0.17,1,0,opp,NaN,NaN,NaN
14,218,PACKERS,EAGLES,0.27,0.4,0,1,opp,NaN,NaN,NaN

In [392]:
merge1

,ID,team,opp,proba_cover,proba_opp_cover,team_covered?,opp_covered?,bet_placed
0,204,BENGALS,STEELERS,0.08,0.64,0,1,opp
1,205,BILLS,PATRIOTS,0.16,0.81,1,0,opp
2,206,PANTHERS,TEXANS,0.43,0.41,1,0,team
3,207,BEARS,VIKINGS,0.7,0.71,1,0,opp
4,208,RAVENS,BROWNS,0.68,0.11,0,1,team
5,209,CARDINALS,SEAHAWKS,0.02,0.23,0,1,opp
6,210,LIONS,CHIEFS,0.18,0.33,1,0,opp
7,211,JAGUARS,BRONCOS,0.16,0.35,1,0,opp
8,212,CHARGERS,DOLPHINS,0.53,0.03,1,0,team
9,213,SAINTS,COWBOYS,0.59,0.4,1,0,team
10,214,FALCONS,TITANS,0.26,0.31,0,1,opp
11,215,COLTS,RAIDERS,0.54,0.06,0,1,team
12,216,RAMS,BUCCANEERS,0.52,0.08,0,1,team
13,217,GIANTS,REDSKINS,0.09,0.17,1,0,opp
14,218,PACKERS,EAGLES,0.27,0.4,0,1,opp

In [397]:
for idx, row in ml4.iterrows():
    merge1[merge1['team'] == row['team']]['team_line'] = row['money_line']

/home/robert/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [399]:
merge1['team_line'] =0

In [402]:
for idx, row in ml4.iterrows():
    merge1[merge1['team'] == row['team']]['team_line'] = row['money_line']

/home/robert/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [403]:
merge1.sort_values()

,ID,team,opp,proba_cover,proba_opp_cover,team_covered?,opp_covered?,bet_placed,team_line
0,204,BENGALS,STEELERS,0.08,0.64,0,1,opp,0
1,205,BILLS,PATRIOTS,0.16,0.81,1,0,opp,0
2,206,PANTHERS,TEXANS,0.43,0.41,1,0,team,0
3,207,BEARS,VIKINGS,0.7,0.71,1,0,opp,0
4,208,RAVENS,BROWNS,0.68,0.11,0,1,team,0
5,209,CARDINALS,SEAHAWKS,0.02,0.23,0,1,opp,0
6,210,LIONS,CHIEFS,0.18,0.33,1,0,opp,0
7,211,JAGUARS,BRONCOS,0.16,0.35,1,0,opp,0
8,212,CHARGERS,DOLPHINS,0.53,0.03,1,0,team,0
9,213,SAINTS,COWBOYS,0.59,0.4,1,0,team,0
10,214,FALCONS,TITANS,0.26,0.31,0,1,opp,0
11,215,COLTS,RAIDERS,0.54,0.06,0,1,team,0
12,216,RAMS,BUCCANEERS,0.52,0.08,0,1,team,0
13,217,GIANTS,REDSKINS,0.09,0.17,1,0,opp,0
14,218,PACKERS,EAGLES,0.27,0.4,0,1,opp,0

In [404]:
ml4['ID'] = range(204,219)
ml4

          team  money_line        opp  opp_money_line  week   ID
0       EAGLES       169.0    PACKERS          -190.0   4.0  204
1     REDSKINS       146.0     GIANTS          -163.0   4.0  205
2      RAIDERS       212.0      COLTS          -242.0   4.0  206
3     PANTHERS       224.0     TEXANS          -257.0   4.0  207
4       BROWNS       279.0     RAVENS          -327.0   4.0  208
5       CHIEFS      -364.0      LIONS           307.0   4.0  209
6     PATRIOTS      -321.0      BILLS           274.0   4.0  210
7     CHARGERS      -806.0   DOLPHINS           602.0   4.0  211
8       TITANS       156.0    FALCONS          -174.0   4.0  212
9   BUCCANEERS       382.0       RAMS          -469.0   4.0  213
10    SEAHAWKS      -237.0  CARDINALS           208.0   4.0  214
11     JAGUARS       124.0    BRONCOS          -137.0   4.0  215
12     VIKINGS      -107.0      BEARS          -103.0   4.0  216
13     COWBOYS      -141.0     SAINTS           127.0   4.0  217
14     BENGALS       160.0   STEELERS          -179.0   4.0  218

In [406]:
for idx, row in ml4.iterrows():
    merge1.loc[merge1['team']==row['team'],'money_line']=row['money_line']
    merge1.loc[merge1['opp']==row['team'],'opp_money_line']=row['money_line']
    merge1.loc[merge1['opp']==row['opp'],'opp_money_line']=row['opp_money_line']
    merge1.loc[merge1['team']==row['opp'],'money_line']=row['opp_money_line']

In [407]:
merge1

,ID,team,opp,proba_cover,proba_opp_cover,team_covered?,opp_covered?,bet_placed,team_line,money_line,opp_line,opp_money_line
0,204,BENGALS,STEELERS,0.08,0.64,0,1,opp,0,160.0,NaN,-179.0
1,205,BILLS,PATRIOTS,0.16,0.81,1,0,opp,0,274.0,NaN,-321.0
2,206,PANTHERS,TEXANS,0.43,0.41,1,0,team,0,224.0,NaN,-257.0
3,207,BEARS,VIKINGS,0.7,0.71,1,0,opp,0,-103.0,NaN,-107.0
4,208,RAVENS,BROWNS,0.68,0.11,0,1,team,0,-327.0,NaN,279.0
5,209,CARDINALS,SEAHAWKS,0.02,0.23,0,1,opp,0,208.0,NaN,-237.0
6,210,LIONS,CHIEFS,0.18,0.33,1,0,opp,0,307.0,NaN,-364.0
7,211,JAGUARS,BRONCOS,0.16,0.35,1,0,opp,0,124.0,NaN,-137.0
8,212,CHARGERS,DOLPHINS,0.53,0.03,1,0,team,0,-806.0,NaN,602.0
9,213,SAINTS,COWBOYS,0.59,0.4,1,0,team,0,127.0,NaN,-141.0
10,214,FALCONS,TITANS,0.26,0.31,0,1,opp,0,-174.0,NaN,156.0
11,215,COLTS,RAIDERS,0.54,0.06,0,1,team,0,-242.0,NaN,212.0
12,216,RAMS,BUCCANEERS,0.52,0.08,0,1,team,0,-469.0,NaN,382.0
13,217,GIANTS,REDSKINS,0.09,0.17,1,0,opp,0,-163.0,NaN,146.0
14,218,PACKERS,EAGLES,0.27,0.4,0,1,opp,0,-190.0,169.0,169.0

In [409]:
merge1 = merge1.drop(columns=['team_line', 'opp_line'])

In [410]:
merge1

,ID,team,opp,proba_cover,proba_opp_cover,team_covered?,opp_covered?,bet_placed,money_line,opp_money_line
0,204,BENGALS,STEELERS,0.08,0.64,0,1,opp,160.0,-179.0
1,205,BILLS,PATRIOTS,0.16,0.81,1,0,opp,274.0,-321.0
2,206,PANTHERS,TEXANS,0.43,0.41,1,0,team,224.0,-257.0
3,207,BEARS,VIKINGS,0.7,0.71,1,0,opp,-103.0,-107.0
4,208,RAVENS,BROWNS,0.68,0.11,0,1,team,-327.0,279.0
5,209,CARDINALS,SEAHAWKS,0.02,0.23,0,1,opp,208.0,-237.0
6,210,LIONS,CHIEFS,0.18,0.33,1,0,opp,307.0,-364.0
7,211,JAGUARS,BRONCOS,0.16,0.35,1,0,opp,124.0,-137.0
8,212,CHARGERS,DOLPHINS,0.53,0.03,1,0,team,-806.0,602.0
9,213,SAINTS,COWBOYS,0.59,0.4,1,0,team,127.0,-141.0
10,214,FALCONS,TITANS,0.26,0.31,0,1,opp,-174.0,156.0
11,215,COLTS,RAIDERS,0.54,0.06,0,1,team,-242.0,212.0
12,216,RAMS,BUCCANEERS,0.52,0.08,0,1,team,-469.0,382.0
13,217,GIANTS,REDSKINS,0.09,0.17,1,0,opp,-163.0,146.0
14,218,PACKERS,EAGLES,0.27,0.4,0,1,opp,-190.0,169.0

In [415]:
m1 = merge1.copy()

In [416]:
                                                                                                            
m1.loc[(m1['bet_placed'] == 'opp') & (m1['opp_money_line'] >= 200), 'bet_amount'] = 200
m1.loc[(m1['bet_placed'] == 'opp') & (m1['opp_money_line'].between(-200,200)), 'bet_amount'] = 100
m1.loc[(m1['bet_placed'] == 'opp') & (m1['opp_money_line'] <= -200), 'bet_amount'] = 50
m1.loc[(m1['bet_placed'] == 'team') & (m1['money_line'] >= 200), 'bet_amount'] = 200
m1.loc[(m1['bet_placed'] == 'team') & (m1['money_line'].between(-200,200)), 'bet_amount'] = 100
m1.loc[(m1['bet_placed'] == 'team') & (m1['money_line'] <= -200), 'bet_amount'] = 50

In [417]:
m1

,ID,team,opp,proba_cover,proba_opp_cover,team_covered?,opp_covered?,bet_placed,money_line,opp_money_line,bet_amount
0,204,BENGALS,STEELERS,0.08,0.64,0,1,opp,160.0,-179.0,100.0
1,205,BILLS,PATRIOTS,0.16,0.81,1,0,opp,274.0,-321.0,50.0
2,206,PANTHERS,TEXANS,0.43,0.41,1,0,team,224.0,-257.0,200.0
3,207,BEARS,VIKINGS,0.7,0.71,1,0,opp,-103.0,-107.0,100.0
4,208,RAVENS,BROWNS,0.68,0.11,0,1,team,-327.0,279.0,50.0
5,209,CARDINALS,SEAHAWKS,0.02,0.23,0,1,opp,208.0,-237.0,50.0
6,210,LIONS,CHIEFS,0.18,0.33,1,0,opp,307.0,-364.0,50.0
7,211,JAGUARS,BRONCOS,0.16,0.35,1,0,opp,124.0,-137.0,100.0
8,212,CHARGERS,DOLPHINS,0.53,0.03,1,0,team,-806.0,602.0,50.0
9,213,SAINTS,COWBOYS,0.59,0.4,1,0,team,127.0,-141.0,100.0
10,214,FALCONS,TITANS,0.26,0.31,0,1,opp,-174.0,156.0,100.0
11,215,COLTS,RAIDERS,0.54,0.06,0,1,team,-242.0,212.0,50.0
12,216,RAMS,BUCCANEERS,0.52,0.08,0,1,team,-469.0,382.0,50.0
13,217,GIANTS,REDSKINS,0.09,0.17,1,0,opp,-163.0,146.0,100.0
14,218,PACKERS,EAGLES,0.27,0.4,0,1,opp,-190.0,169.0,100.0

In [421]:
m1.loc[m1['money_line']<0, 'decimal_ml'] = (1 + 100/abs(m1['money_line']))
m1.loc[m1['money_line']>0, 'decimal_ml'] = (1 + abs(m1['money_line'])/100)
m1.loc[m1['opp_money_line']>0, 'decimal_oml'] = (1 + abs(m1['opp_money_line'])/100)
m1.loc[m1['opp_money_line']<0, 'decimal_oml'] = (1 + 100/abs(m1['opp_money_line']))
m1

,ID,team,opp,proba_cover,proba_opp_cover,team_covered?,opp_covered?,bet_placed,money_line,opp_money_line,bet_amount,decimal_ml,decimal_oml
0,204,BENGALS,STEELERS,0.08,0.64,0,1,opp,160.0,-179.0,100.0,2.600000,1.558659
1,205,BILLS,PATRIOTS,0.16,0.81,1,0,opp,274.0,-321.0,50.0,3.740000,1.311526
2,206,PANTHERS,TEXANS,0.43,0.41,1,0,team,224.0,-257.0,200.0,3.240000,1.389105
3,207,BEARS,VIKINGS,0.7,0.71,1,0,opp,-103.0,-107.0,100.0,1.970874,1.934579
4,208,RAVENS,BROWNS,0.68,0.11,0,1,team,-327.0,279.0,50.0,1.305810,3.790000
5,209,CARDINALS,SEAHAWKS,0.02,0.23,0,1,opp,208.0,-237.0,50.0,3.080000,1.421941
6,210,LIONS,CHIEFS,0.18,0.33,1,0,opp,307.0,-364.0,50.0,4.070000,1.274725
7,211,JAGUARS,BRONCOS,0.16,0.35,1,0,opp,124.0,-137.0,100.0,2.240000,1.729927
8,212,CHARGERS,DOLPHINS,0.53,0.03,1,0,team,-806.0,602.0,50.0,1.124069,7.020000
9,213,SAINTS,COWBOYS,0.59,0.4,1,0,team,127.0,-141.0,100.0,2.270000,1.709220
10,214,FALCONS,TITANS,0.26,0.31,0,1,opp,-174.0,156.0,100.0,1.574713,2.560000
11,215,COLTS,RAIDERS,0.54,0.06,0,1,team,-242.0,212.0,50.0,1.413223,3.120000
12,216,RAMS,BUCCANEERS,0.52,0.08,0,1,team,-469.0,382.0,50.0,1.213220,4.820000
13,217,GIANTS,REDSKINS,0.09,0.17,1,0,opp,-163.0,146.0,100.0,1.613497,2.460000
14,218,PACKERS,EAGLES,0.27,0.4,0,1,opp,-190.0,169.0,100.0,1.526316,2.690000

In [423]:
                                                                                                                                            
m1.loc[(m1['opp_covered?']==1) & (m1['bet_placed']=='opp'), 'amount_won'] = m1['bet_amount'] * m1['decimal_oml']
m1.loc[(m1['team_covered?']==1) & (m1['bet_placed']=='team'), 'amount_won'] = m1['bet_amount'] * m1['decimal_ml']
m1

,ID,team,opp,proba_cover,proba_opp_cover,team_covered?,opp_covered?,bet_placed,money_line,opp_money_line,bet_amount,decimal_ml,decimal_oml,amount_won
0,204,BENGALS,STEELERS,0.08,0.64,0,1,opp,160.0,-179.0,100.0,2.600000,1.558659,155.865922
1,205,BILLS,PATRIOTS,0.16,0.81,1,0,opp,274.0,-321.0,50.0,3.740000,1.311526,NaN
2,206,PANTHERS,TEXANS,0.43,0.41,1,0,team,224.0,-257.0,200.0,3.240000,1.389105,648.000000
3,207,BEARS,VIKINGS,0.7,0.71,1,0,opp,-103.0,-107.0,100.0,1.970874,1.934579,NaN
4,208,RAVENS,BROWNS,0.68,0.11,0,1,team,-327.0,279.0,50.0,1.305810,3.790000,NaN
5,209,CARDINALS,SEAHAWKS,0.02,0.23,0,1,opp,208.0,-237.0,50.0,3.080000,1.421941,71.097046
6,210,LIONS,CHIEFS,0.18,0.33,1,0,opp,307.0,-364.0,50.0,4.070000,1.274725,NaN
7,211,JAGUARS,BRONCOS,0.16,0.35,1,0,opp,124.0,-137.0,100.0,2.240000,1.729927,NaN
8,212,CHARGERS,DOLPHINS,0.53,0.03,1,0,team,-806.0,602.0,50.0,1.124069,7.020000,56.203474
9,213,SAINTS,COWBOYS,0.59,0.4,1,0,team,127.0,-141.0,100.0,2.270000,1.709220,227.000000
10,214,FALCONS,TITANS,0.26,0.31,0,1,opp,-174.0,156.0,100.0,1.574713,2.560000,256.000000
11,215,COLTS,RAIDERS,0.54,0.06,0,1,team,-242.0,212.0,50.0,1.413223,3.120000,NaN
12,216,RAMS,BUCCANEERS,0.52,0.08,0,1,team,-469.0,382.0,50.0,1.213220,4.820000,NaN
13,217,GIANTS,REDSKINS,0.09,0.17,1,0,opp,-163.0,146.0,100.0,1.613497,2.460000,NaN
14,218,PACKERS,EAGLES,0.27,0.4,0,1,opp,-190.0,169.0,100.0,1.526316,2.690000,269.000000

In [424]:
m1['bet_amount'].sum()

1250.0

In [425]:
m1['amount_won'].sum()

1683.1664421466212